In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import Prepare_Data
import pyarrow 
import numpy as np

#autoreload download #pip install ipython
%load_ext autoreload
%autoreload 2

file_path_id_test="./data_test/top_5_percent_ids.csv"
# Sti til usa_dsf.parquet
file_path_usa_dsf_test = "./data_test/usa_dsf_test.parquet"
file_path_usa_test = "./data_test/usa_test.parquet"
file_path_cluster_labels = "./Data/Cluster Labels.csv"
file_path_factor_details = "./Data/Factor Details.xlsx"


file_path_usa = "./Data/usa.parquet"
file_path_rvol_252 = "./Data/rvol_252.csv"

In [7]:
import wrds
import pandas as pd

In [9]:
wrds_db = wrds.Connection()

Enter your WRDS username [andre]: hedegaard9
Enter your password: ········

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  n

You can create this file yourself at any time with the create_pgpass_file() function.
Loading library list...
Done

In [10]:
#downloading and extracting list of developed countries
countries = pd.read_excel('https://github.com/bkelly-lab/ReplicationCrisis/raw/master/GlobalFactors/Country%20Classification.xlsx')
countries_rel = countries[countries['msci_development'] == 'developed']['excntry'].tolist()

In [11]:
chars = pd.read_excel('https://github.com/bkelly-lab/ReplicationCrisis/raw/master/GlobalFactors/Factor%20Details.xlsx')
chars_rel = chars[chars['abr_jkp'].notna()]['abr_jkp'].tolist()

In [14]:
chars_rel

['niq_su',
 'ret_6_1',
 'ret_12_1',
 'saleq_su',
 'tax_gr1a',
 'ni_inc8q',
 'prc_highprc_252d',
 'resff3_6_1',
 'resff3_12_1',
 'be_me',
 'debt_me',
 'at_me',
 'ret_60_12',
 'ni_me',
 'fcf_me',
 'div12m_me',
 'eqpo_me',
 'eqnpo_me',
 'sale_gr3',
 'sale_gr1',
 'ebitda_mev',
 'sale_me',
 'ocf_me',
 'ival_me',
 'bev_mev',
 'netdebt_me',
 'eq_dur',
 'capex_abn',
 'at_gr1',
 'ppeinv_gr1a',
 'noa_at',
 'noa_gr1a',
 'lnoa_gr1a',
 'capx_gr1',
 'capx_gr2',
 'capx_gr3',
 'chcsho_12m',
 'eqnpo_12m',
 'debt_gr3',
 'inv_gr1',
 'inv_gr1a',
 'oaccruals_at',
 'taccruals_at',
 'cowc_gr1a',
 'coa_gr1a',
 'col_gr1a',
 'nncoa_gr1a',
 'ncoa_gr1a',
 'ncol_gr1a',
 'nfna_gr1a',
 'sti_gr1a',
 'lti_gr1a',
 'fnl_gr1a',
 'be_gr1a',
 'oaccruals_ni',
 'taccruals_ni',
 'netis_at',
 'eqnetis_at',
 'dbnetis_at',
 'niq_be',
 'niq_be_chg1',
 'niq_at',
 'niq_at_chg1',
 'ebit_bev',
 'ebit_sale',
 'sale_bev',
 'at_turnover',
 'gp_at',
 'gp_atl1',
 'ope_be',
 'ope_bel1',
 'op_at',
 'op_atl1',
 'cop_at',
 'cop_atl1',
 'f_score',
 'o_score',
 'z_score',
 'pi_nix',
 'at_be',
 'saleq_gr1',
 'rd_me',
 'rd_sale',
 'opex_at',
 'emp_gr1',
 'rd5_at',
 'age',
 'dsale_dinv',
 'dsale_drec',
 'dgp_dsale',
 'dsale_dsga',
 'sale_emp_gr1',
 'tangibility',
 'kz_index',
 'ocfq_saleq_std',
 'cash_at',
 'ni_ar1',
 'ni_ivol',
 'earnings_variability',
 'aliq_at',
 'aliq_mat',
 'seas_1_1an',
 'seas_1_1na',
 'seas_2_5an',
 'seas_2_5na',
 'seas_6_10an',
 'seas_6_10na',
 'seas_11_15an',
 'seas_11_15na',
 'seas_16_20an',
 'seas_16_20na',
 'market_equity',
 'ivol_ff3_21d',
 'ivol_capm_252d',
 'ivol_capm_21d',
 'ivol_hxz4_21d',
 'rvol_21d',
 'beta_60m',
 'betabab_1260d',
 'beta_dimson_21d',
 'turnover_126d',
 'turnover_var_126d',
 'dolvol_126d',
 'dolvol_var_126d',
 'prc',
 'ami_126d',
 'zero_trades_21d',
 'zero_trades_126d',
 'zero_trades_252d',
 'rmax1_21d',
 'rskew_21d',
 'iskew_capm_21d',
 'iskew_ff3_21d',
 'iskew_hxz4_21d',
 'coskew_21d',
 'ret_1_0',
 'betadown_252d',
 'bidaskhl_21d',
 'ret_3_1',
 'ret_9_1',
 'ret_12_7',
 'corr_1260d',
 'rmax5_21d',
 'rmax5_rvol_21d',
 'ni_be',
 'ocf_at',
 'ocf_at_chg1',
 'mispricing_perf',
 'mispricing_mgmt',
 'qmj',
 'qmj_prof',
 'qmj_growth',
 'qmj_safety']

In [15]:
sql_query = """
SELECT id, eom, excntry, gvkey, permno, size_grp, me, ret_exc_lead1m
FROM contrib.global_factor
WHERE common=1 AND exch_main=1 AND primary_sec=1 AND obs_main=1 AND
excntry='USA'
"""
data = wrds_db.raw_sql(sql_query)

In [16]:
data.head()

,id,eom,excntry,gvkey,permno,size_grp,me,ret_exc_lead1m
0,100144701.0,1962-01-31,USA,001447,NaN,None,NaN,NaN
1,100247301.0,1962-01-31,USA,002473,NaN,None,NaN,NaN
2,100206201.0,1962-01-31,USA,002062,NaN,None,NaN,NaN
3,100206301.0,1962-01-31,USA,002063,NaN,None,NaN,NaN
4,100575801.0,1962-04-30,USA,005758,NaN,None,NaN,NaN

In [22]:
wrds_db.describe_table('contrib', 'global_factor')
# Hent kolonnenavne fra WRDS-tabellen
wrds_columns = wrds_db.describe_table('contrib', 'global_factor')['name'].tolist()

Approximately 25331184 rows in contrib.global_factor.
Approximately 25331184 rows in contrib.global_factor.

In [18]:
usa_test = pd.read_parquet("./data_test/usa_test.parquet", engine="pyarrow")

In [23]:
usa_columns = usa_test.columns.tolist()

In [24]:
# Find fælles kolonnenavne
common_columns = list(set(usa_columns) & set(wrds_columns))

# Find kolonner i usa_test, der ikke er i WRDS
missing_in_wrds = list(set(usa_columns) - set(wrds_columns))

# Find kolonner i WRDS, der ikke er i usa_test
missing_in_usa_test = list(set(wrds_columns) - set(usa_columns))

# Udskriv resultaterne
print(f"Fælles kolonner: {common_columns}")
print(f"Kolonner i usa_test, der ikke er i WRDS: {missing_in_wrds}")
print(f"Kolonner i WRDS, der ikke er i usa_test: {missing_in_usa_test}")

Fælles kolonner: ['noa_gr1a', 'ret_6_1', 'qmj_growth', 'ni_me', 'capex_abn', 'me', 'saleq_gr1', 'rd_sale', 'eqpo_me', 'bev_mev', 'ami_126d', 'eqnetis_at', 'seas_16_20na', 'netdebt_me', 'sale_me', 'dbnetis_at', 'noa_at', 'iskew_capm_21d', 'sale_bev', 'at_me', 'cop_atl1', 'debt_me', 'rd5_at', 'be_me', 'cowc_gr1a', 'betadown_252d', 'ivol_hxz4_21d', 'gp_at', 'seas_16_20an', 'dsale_dsga', 'be_gr1a', 'ni_inc8q', 'iskew_hxz4_21d', 'gp_atl1', 'zero_trades_21d', 'turnover_var_126d', 'ivol_capm_21d', 'niq_at_chg1', 'ret_12_7', 'earnings_variability', 'niq_be_chg1', 'seas_1_1na', 'prc_highprc_252d', 'ebitda_mev', 'ival_me', 'at_gr1', 'pi_nix', 'eom', 'prc', 'nncoa_gr1a', 'aliq_at', 'ope_bel1', 'sale_emp_gr1', 'ret_12_1', 'z_score', 'rvol_21d', 'dgp_dsale', 'resff3_6_1', 'size_grp', 'ni_ivol', 'rvol_252d', 'col_gr1a', 'qmj', 'saleq_su', 'emp_gr1', 'netis_at', 'capx_gr1', 'tangibility', 'rmax5_21d', 'ret_9_1', 'op_atl1', 'beta_60m', 'eq_dur', 'ivol_ff3_21d', 'seas_6_10na', 'o_score', 'age', 'resff3_12_1', 'betabab_1260d', 'rskew_21d', 'chcsho_12m', 'ncoa_gr1a', 'ret_exc_lead1m', 'market_equity', 'sti_gr1a', 'seas_6_10an', 'coskew_21d', 'fcf_me', 'ocf_me', 'f_score', 'iskew_ff3_21d', 'inv_gr1a', 'ni_ar1', 'tax_gr1a', 'ocfq_saleq_std', 'div12m_me', 'ppeinv_gr1a', 'at_be', 'nfna_gr1a', 'seas_2_5an', 'niq_be', 'ope_be', 'ivol_capm_252d', 'taccruals_at', 'niq_at', 'sic', 'coa_gr1a', 'taccruals_ni', 'eqnpo_me', 'seas_11_15na', 'opex_at', 'seas_11_15an', 'bidaskhl_21d', 'excntry', 'op_at', 'kz_index', 'inv_gr1', 'zero_trades_126d', 'dsale_drec', 'ocf_at_chg1', 'qmj_prof', 'cop_at', 'dsale_dinv', 'cash_at', 'lnoa_gr1a', 'rmax5_rvol_21d', 'sale_gr3', 'fnl_gr1a', 'rmax1_21d', 'ni_be', 'id', 'oaccruals_ni', 'ret_60_12', 'ret_1_0', 'ebit_sale', 'turnover_126d', 'aliq_mat', 'seas_1_1an', 'oaccruals_at', 'ebit_bev', 'niq_su', 'dolvol_126d', 'zero_trades_252d', 'capx_gr3', 'rd_me', 'mispricing_mgmt', 'beta_dimson_21d', 'eqnpo_12m', 'ret_3_1', 'corr_1260d', 'mispricing_perf', 'ocf_at', 'ncol_gr1a', 'lti_gr1a', 'dolvol_var_126d', 'capx_gr2', 'qmj_safety', 'sale_gr1', 'at_turnover', 'debt_gr3', 'seas_2_5na']
Kolonner i usa_test, der ikke er i WRDS: ['valid_ret', 'eom_ret', 'ctff_test', 'rvol_252d_x', 'rvol_252d_y']
Kolonner i WRDS, der ikke er i usa_test: ['div6m_me', 'debtlt_debt', 'ni_gr1a', 'ap_gr3a', 'nix_gr3a', 'ret_36_12', 'eqbb_gr1a', 'cogs_gr3', 'opex_gr1', 'debtst_debt', 'ap_days', 'curcd', 'at_gr3', 'debtst_gr1a', 'eqpo_gr1a', 'niq_saleq_std', 'caliq_cl', 'ret_36_1', 'gp_bev', 'nca_gr3', 'txp_gr1a', 'txditc_gr3a', 'spi_at', 'debt_be', 'ret_3_0', 'ret_24_1', 'gp_ppen', 'eqbb_me', 'eqnpo_3m', 'ncl_gr1', 'source_crsp', 'ret_exc', 'eqnpo_gr1a', 'dolvol', 'debtlt_gr3a', 'cfoa_ch5', 'tvol', 'txditc_gr1a', 'capx_gr1a', 'be_bev', 'eqnetis_gr1a', 'dltnetis_gr1a', 'bidask', 'nwc_gr1a', 'oa_gr3a', 'ope_me', 'fx', 'gics', 'ivol_capm_60m', 'iid', 'inv_act', 'cop_mev', 'nix_me', 'ebit_int', 'divspc1m_me', 'gvkey', 'eqnpo_at', 'dstnetis_mev', 'eqbb_at', 'fincf_mev', 'rec_turnover', 'ret_9_0', 'xido_at', 'enterprise_value', 'ppen_mev', 'comp_tpci', 'debt_gr1', 'eqnpo_6m', 'netis_gr1a', 'ncoa_gr3a', 'ret_18_1', 'ca_cl', 'fcf_sale', 'ppeg_gr1a', 'dltnetis_gr3a', 'coa_gr3a', 'div3m_me', 'nwc_gr3a', 'lt_gr1', 'div_me', 'netis_mev', 'inv_turnover', 'permno', 'naics', 'ff49', 'fcf_be', 'assets', 'gp_me', 'ebitda_gr3a', 'ncol_gr3a', 'roeq_be_std', 'eqnetis_gr3a', 'ebitda_debt', 'fincf_gr3a', 'ebitda_me', 'cash_gr1a', 'eqis_at', 'dbnetis_gr3a', 'ret_12_0', 'capx_gr3a', 'ret_lag_dif', 'ret_2_0', 'debtlt_bev', 'me_company', 'ppeg_gr3a', 'ope_gr1a', 'ni_at', 'nfna_gr3a', 'ebit_me', 'ret_60_36', 'crsp_shrcd', 'opex_gr3', 'eqnpo_gr3a', 'debtlt_mev', 'dbnetis_mev', 'inv_gr3a', 'inv_days', 'ret', 'intan_gr1a', 'fcf_ocf', 'debtst_gr3a', 'ocf_be', 'cash_me', 'intrinsic_value', 'ap_gr1a', 'tax_gr3a', 'cash_mev', 'ap_turnover', 'ca_gr1', 'lti_gr3a', 'nwc_at', 'eqnetis_me', 'fcf_ppen', 'nix_gr1a', 'ocf_gr1a', 'at_mev', 'date', 'rec_gr3a', 'dltnetis_at', 'tax_pi', 'comp_exchg', 'fcf_gr3a', 'beta_21d', 'adv_sale', 'cogs_gr1', 'fcf_mev', 'adjfct', 'roe_be_std', 'gp_gr1a', 'prc_local', 'nncoa_gr3a', 'ncl_gr3', 'obs_main', 'eqbb_gr3a', 'intan_gr3a', 'gp_mev', 'rvolhl_21d', 'sale_emp', 'eqis_me', 'book_equity', 'dp_gr1a', 'ebitda_bev', 'eqis_gr3a', 'gp_sale', 'staff_sale', 'sale_mev', 'common', 'pstk_mev', 'permco', 'ni_sale', 'cop_bev', 'int_debt', 'be_mev', 'col_gr3a', 'fnl_gr3a', 'roa_ch5', 'ebitda_at', 'int_debtlt', 'cl_lt', 'netis_gr3a', 'fi_bev', 'dp_gr3a', 'nca_gr1', 'primary_sec', 'be_gr3', 'ebitda_sale', 'div1m_me', 'ca_gr3', 'shares', 'ret_48_1', 'fna_gr1a', 'nix_be', 'ebit_gr1a', 'exch_main', 'ocf_cl', 'debtlt_gr1a', 'cash_lt', 'debt_mev', 'chcsho_6m', 'debtst_mev', 'ret_60_1', 'cash_cl', 'nix_sale', 'capx_at', 'rec_act', 'dstnetis_at', 'fincf_at', 'fna_gr3a', 'cash_gr3a', 'div_gr3a', 'div_ni', 'lt_gr3', 'cash_conversion', 'ebit_mev', 'ret_6_0', 'cop_me', 'ebitda_ppen', 'div_gr1a', 'ebit_gr3a', 'ebit_at', 'fincf_gr1a', 'profit_cl', 'beta_252d', 'dbnetis_gr1a', 'chcsho_3m', 'fi_at', 'sale_nwc', 'cowc_gr3a', 'txp_gr3a', 'eqpo_gr3a', 'ocf_mev', 'dstnetis_gr1a', 'ope_gr3a', 'roe_ch5', 'ret_48_12', 'rec_gr1a', 'div_at', 'ocf_gr3a', 'eqis_gr1a', 'ocf_sale', 'ebitda_gr1a', 'nri_at', 'gmar_ch5', 'oa_gr1a', 'be_gr1', 'gpoa_ch5', 'fcf_gr1a', 'lt_ppen', 'cash_bev', 'gp_gr3a', 'rec_days', 'dstnetis_gr3a', 'ni_gr3a', 'debtst_bev', 'debt_bev', 'prc_high', 'pstk_gr3', 'ol_gr3a', 'prc_low', 'debtlt_be', 'ol_gr1a', 'ret_local', 'eqnpo_1m', 'sale_be', 'net_income', 'ni_emp', 'cl_gr3', 'debt_at', 'pstk_gr1', 'pi_sale', 'sga_gr1', 'crsp_exchcd', 'sga_gr3', 'sales', 'chcsho_1m', 'ocf_debt', 'pstk_bev', 'divspc12m_me', 'dltnetis_mev', 'rd_at', 'ret_24_12', 'cl_gr1']

In [25]:
# Antal fælles kolonner
num_common_columns = len(common_columns)

# Antal kolonner i usa_test, der ikke er i WRDS
num_missing_in_wrds = len(missing_in_wrds)

# Antal kolonner i WRDS, der ikke er i usa_test
num_missing_in_usa_test = len(missing_in_usa_test)

# Udskriv resultaterne
print(f"Antal fælles kolonner: {num_common_columns}")
print(f"Antal kolonner i usa_test, der ikke er i WRDS: {num_missing_in_wrds}")
print(f"Antal kolonner i WRDS, der ikke er i usa_test: {num_missing_in_usa_test}")

Antal fælles kolonner: 161
Antal kolonner i usa_test, der ikke er i WRDS: 5
Antal kolonner i WRDS, der ikke er i usa_test: 282

In [26]:
print(f"Kolonner i usa_test, der ikke er i WRDS: {missing_in_wrds}")

Kolonner i usa_test, der ikke er i WRDS: ['valid_ret', 'eom_ret', 'ctff_test', 'rvol_252d_x', 'rvol_252d_y']

In [29]:
import pandas as pd

# Hent beskrivelsen af WRDS-tabellen
wrds_table_info = wrds_db.describe_table('contrib', 'global_factor')

# Konverter til dataframe
wrds_df = pd.DataFrame(wrds_table_info)

# Filtrer kun de fælles kolonner
common_df = wrds_df[wrds_df['name'].isin(common_columns)][['name', 'comment']]

# Omdøb kolonnerne for klarhed
common_df.rename(columns={'name': 'Kolonne', 'comment': 'Beskrivelse'}, inplace=True)

# Vis DataFrame
print(common_df)

# (Hvis du vil gemme det som en CSV-fil for senere brug)
common_df.to_csv("fælles_kolonner.csv", index=False)

Approximately 25331184 rows in contrib.global_factor.
        Kolonne                        Beskrivelse
4            id                                 Id
6       excntry                   Exchange country
7           eom                       End of month
9      size_grp                         Size group
21          sic                           SIC code
..          ...                                ...
438         age                           Firm age
439         qmj      Quality minus Junk: Composite
440    qmj_prof  Quality minus Junk: Profitability
441  qmj_growth         Quality minus Junk: Growth
442  qmj_safety         Quality minus Junk: Safety

[161 rows x 2 columns]

In [2]:
features = [
  "age",                 "aliq_at",             "aliq_mat",            "ami_126d",
  "at_be",               "at_gr1",              "at_me",               "at_turnover",
  "be_gr1a",             "be_me",               "beta_60m",            "beta_dimson_21d",
  "betabab_1260d",       "betadown_252d",       "bev_mev",             "bidaskhl_21d",
  "capex_abn",           "capx_gr1",            "capx_gr2",            "capx_gr3",
  "cash_at",             "chcsho_12m",          "coa_gr1a",            "col_gr1a",
  "cop_at",              "cop_atl1",            "corr_1260d",          "coskew_21d",
  "cowc_gr1a",           "dbnetis_at",          "debt_gr3",            "debt_me",
  "dgp_dsale",           "div12m_me",           "dolvol_126d",         "dolvol_var_126d",
  "dsale_dinv",          "dsale_drec",          "dsale_dsga",          "earnings_variability",
  "ebit_bev",            "ebit_sale",           "ebitda_mev",          "emp_gr1",
  "eq_dur",              "eqnetis_at",          "eqnpo_12m",           "eqnpo_me",
  "eqpo_me",             "f_score",             "fcf_me",              "fnl_gr1a",
  "gp_at",               "gp_atl1",             "ival_me",             "inv_gr1",
  "inv_gr1a",            "iskew_capm_21d",      "iskew_ff3_21d",       "iskew_hxz4_21d",
  "ivol_capm_21d",       "ivol_capm_252d",      "ivol_ff3_21d",        "ivol_hxz4_21d",
  "kz_index",            "lnoa_gr1a",           "lti_gr1a",            "market_equity",
  "mispricing_mgmt",     "mispricing_perf",     "ncoa_gr1a",           "ncol_gr1a",
  "netdebt_me",          "netis_at",            "nfna_gr1a",           "ni_ar1",
  "ni_be",               "ni_inc8q",            "ni_ivol",             "ni_me",
  "niq_at",              "niq_at_chg1",         "niq_be",              "niq_be_chg1",
  "niq_su",              "nncoa_gr1a",          "noa_at",              "noa_gr1a",
  "o_score",             "oaccruals_at",        "oaccruals_ni",        "ocf_at",
  "ocf_at_chg1",         "ocf_me",              "ocfq_saleq_std",      "op_at",
  "op_atl1",             "ope_be",              "ope_bel1",            "opex_at",
  "pi_nix",              "ppeinv_gr1a",         "prc",                 "prc_highprc_252d",
  "qmj",                 "qmj_growth",          "qmj_prof",            "qmj_safety",
  "rd_me",               "rd_sale",             "rd5_at",              "resff3_12_1",
  "resff3_6_1",          "ret_1_0",             "ret_12_1",            "ret_12_7",
  "ret_3_1",             "ret_6_1",             "ret_60_12",           "ret_9_1",
  "rmax1_21d",           "rmax5_21d",           "rmax5_rvol_21d",      "rskew_21d",
  "rvol_21d",            "sale_bev",            "sale_emp_gr1",        "sale_gr1",
  "sale_gr3",            "sale_me",             "saleq_gr1",           "saleq_su",
  "seas_1_1an",          "seas_1_1na",          "seas_11_15an",        "seas_11_15na",
  "seas_16_20an",        "seas_16_20na",        "seas_2_5an",          "seas_2_5na",
  "seas_6_10an",         "seas_6_10na",         "sti_gr1a",            "taccruals_at",
  "taccruals_ni",        "tangibility",         "tax_gr1a",            "turnover_126d",
  "turnover_var_126d",   "z_score",             "zero_trades_126d",    "zero_trades_21d",
  "zero_trades_252d",
  "rvol_252d"
]

In [3]:
import pandas as pd

def load_and_prepare_data(file_path, features):
    """
    Indlæser og forbereder rådata fra en Parquet-fil.
    
    Args:
        file_path (str): Stien til Parquet-filen (USA testfil).
        features (list): Liste over features, der skal indlæses.
    
    Returns:
        pd.DataFrame: DataFrame med forberedte data.
    """
    # Liste over kolonner, vi gerne vil have
    desired_cols = ["id", "eom", "sic", "ff49", "size_grp", "me", "crsp_exchcd", "rvol_252d", "dolvol_126d"] + features
    
    # Tjek hvilke kolonner der faktisk findes i Parquet-filen
    actual_cols = pd.read_parquet(file_path, engine="pyarrow").columns
    cols_to_load = [col for col in desired_cols if col in actual_cols]
    
    if not cols_to_load:
        raise ValueError("Ingen af de ønskede kolonner findes i Parquet-filen.")
    
    # Indlæs kun de kolonner, der faktisk findes
    data = pd.read_parquet(file_path, engine="pyarrow", columns=cols_to_load)
    
    # Filtrér observationer
    data = data[data["id"] <= 99999]
    
    # Konverter datoformat for 'eom'
    data["eom"] = pd.to_datetime(data["eom"], errors="coerce")
    
    return data

In [4]:
data = load_and_prepare_data(file_path_usa_test, features)
data.head()

,id,eom,sic,size_grp,me,rvol_252d,dolvol_126d,age,aliq_at,aliq_mat,...,taccruals_ni,tangibility,tax_gr1a,turnover_126d,turnover_var_126d,z_score,zero_trades_126d,zero_trades_21d,zero_trades_252d,rvol_252d
0,10104,2010-01-31,7372,mega,115558.73052,0.019544,6.798938e+08,301,0.526422,0.232151,...,-0.378191,0.384579,-0.000151,0.006062,0.439375,4.269989,0.002792,0.002780,0.002652,0.019544
1,10104,2010-02-28,7372,mega,123619.74809,0.018949,7.094750e+08,302,0.526422,0.249602,...,-0.378191,0.384579,-0.000151,0.006243,0.425637,4.269989,0.002704,0.002416,0.002676,0.018949
2,10104,2010-03-31,7372,mega,129040.82501,0.015241,6.982804e+08,303,0.570962,0.230516,...,-0.086350,0.384579,0.000186,0.005967,0.356592,4.405333,0.002753,0.002751,0.002807,0.015241
3,10104,2010-04-30,7372,mega,130101.18774,0.014489,6.802223e+08,304,0.570962,0.218079,...,-0.086350,0.384579,0.000186,0.005590,0.344846,4.405333,0.002935,0.003165,0.002890,0.014489
4,10104,2010-05-31,7372,mega,113436.81847,0.015136,7.368972e+08,305,0.570962,0.215020,...,-0.086350,0.384579,0.000186,0.006023,0.361901,4.405333,0.002833,0.002529,0.002844,0.015136

In [5]:
def calculate_derived_columns(data, pi):
    """
    Beregner afledte kolonner.
    
    Args:
        data (pd.DataFrame): Input DataFrame.
        pi (float): En skalar værdi, der bruges i beregningen af lambda.
    
    Returns:
        pd.DataFrame: DataFrame med nye kolonner.
    """
    # Kontrollér inputtyper
    if not isinstance(pi, (int, float)):
        raise ValueError("'pi' skal være en numerisk værdi (int eller float).")

    data = data.loc[:, ~data.columns.duplicated()]
    
    # Kontrollér for nødvendige kolonner
    required_cols = ["dolvol_126d", "rvol_252d"]
    for col in required_cols:
        if col not in data.columns:
            raise KeyError(f"Kolonnen '{col}' mangler i DataFrame.")

    # Debugging: Tjek for null-værdier
    for col in required_cols:
        if data[col].isnull().any():
            raise ValueError(f"Kolonnen '{col}' indeholder manglende værdier.")
    
    # Debugging: Tjek for 0-værdier i 'dolvol_126d'
    if (data["dolvol_126d"] == 0).any():
        raise ValueError("Kolonnen 'dolvol_126d' indeholder værdier lig 0, hvilket vil føre til divisionsfejl.")

    # Beregn afledte kolonner
    print("Beregner 'dolvol', 'lambda' og 'rvol_m'...")
    data["dolvol"] = data["dolvol_126d"]  # Kopiér dolvol_126d til dolvol
    data["lambda"] = 2 / data["dolvol"] * pi  # Beregn lambda
    data["rvol_m"] = data["rvol_252d"] * np.sqrt(21)  # Beregn rvol_m
    
    print("Beregnede kolonner 'dolvol', 'lambda' og 'rvol_m' succesfuldt.")
    return data

In [6]:
data=calculate_derived_columns(data, 0.1)
data.head()

Beregner 'dolvol', 'lambda' og 'rvol_m'...
Beregnede kolonner 'dolvol', 'lambda' og 'rvol_m' succesfuldt.

,id,eom,sic,size_grp,me,rvol_252d,dolvol_126d,age,aliq_at,aliq_mat,...,tax_gr1a,turnover_126d,turnover_var_126d,z_score,zero_trades_126d,zero_trades_21d,zero_trades_252d,dolvol,lambda,rvol_m
0,10104,2010-01-31,7372,mega,115558.73052,0.019544,6.798938e+08,301,0.526422,0.232151,...,-0.000151,0.006062,0.439375,4.269989,0.002792,0.002780,0.002652,6.798938e+08,2.941636e-10,0.089560
1,10104,2010-02-28,7372,mega,123619.74809,0.018949,7.094750e+08,302,0.526422,0.249602,...,-0.000151,0.006243,0.425637,4.269989,0.002704,0.002416,0.002676,7.094750e+08,2.818986e-10,0.086833
2,10104,2010-03-31,7372,mega,129040.82501,0.015241,6.982804e+08,303,0.570962,0.230516,...,0.000186,0.005967,0.356592,4.405333,0.002753,0.002751,0.002807,6.982804e+08,2.864179e-10,0.069843
3,10104,2010-04-30,7372,mega,130101.18774,0.014489,6.802223e+08,304,0.570962,0.218079,...,0.000186,0.005590,0.344846,4.405333,0.002935,0.003165,0.002890,6.802223e+08,2.940215e-10,0.066398
4,10104,2010-05-31,7372,mega,113436.81847,0.015136,7.368972e+08,305,0.570962,0.215020,...,0.000186,0.006023,0.361901,4.405333,0.002833,0.002529,0.002844,7.368972e+08,2.714083e-10,0.069360

In [ ]:
def merge_data(data, data_ret_ld1, wealth):
    """
    Slår data sammen med afkast og wealth.
    
    Args:
        data (pd.DataFrame): Hoveddataset.
        data_ret_ld1 (pd.DataFrame): Afkastdata.
        wealth (pd.DataFrame): Wealth-data.
    
    Returns:
        pd.DataFrame: Kombineret DataFrame.
    """
    # Merge afkastdata
    data = pd.merge(data, data_ret_ld1, on=["id", "eom"], how="left")
    
    # Merge wealth data
    wealth["eom"] = wealth["eom"] + pd.offsets.MonthBegin(2) - pd.Timedelta(days=1)
    data = pd.merge(data, wealth[["eom", "mu_ld1"]].rename(columns={"mu_ld1": "mu_ld0"}), on="eom", how="left")
    
    return data

In [ ]:
def screen_data(data, settings):
    """
    Filtrerer data baseret på forskellige kriterier.
    
    Args:
        data (pd.DataFrame): Input DataFrame.
        settings (dict): Indstillinger for screens.
    
    Returns:
        pd.DataFrame: Filtreret DataFrame.
    """
    # Start antal observationer og markedsværdi
    n_start = len(data)
    me_start = data["me"].sum()
    
    # NYSE screen
    if settings["screens"]["nyse_stocks"]:
        data = data[data["crsp_exchcd"] == 1]
    
    # Dato screen
    data = data[(data["eom"] >= settings["screens"]["start"]) & (data["eom"] <= settings["screens"]["end"])]
    
    # Fjern observationer med manglende eller ugyldige værdier
    data = data[data["me"].notna() & data["tr_ld0"].notna() & data["tr_ld1"].notna()]
    data = data[data["dolvol"].notna() & (data["dolvol"] > 0)]
    data = data[data["sic"].notna()]
    
    return data

In [ ]:
def standardize_and_impute_features(data, features, settings):
    """
    Standardiserer og imputerer features.
    
    Args:
        data (pd.DataFrame): Input DataFrame.
        features (list): Liste over features.
        settings (dict): Indstillinger for standardisering og imputering.
    
    Returns:
        pd.DataFrame: DataFrame med standardiserede og imputerede features.
    """
    # Standardisering
    if settings["feat_prank"]:
        for f in features:
            data[f] = data[f].rank(pct=True)
            data[f] = data[f].fillna(0)  # Sæt manglende værdier til 0
    
    # Imputering
    if settings["feat_impute"]:
        for f in features:
            if settings["feat_prank"]:
                data[f] = data[f].fillna(0.5)  # Median for standardiserede værdier
            else:
                data[f] = data.groupby("eom")[f].transform(lambda x: x.fillna(x.median()))
    
    return data

In [ ]:
def classify_industries(data):
    """
    Klassificerer observationer baseret på SIC-koder.
    
    Args:
        data (pd.DataFrame): Input DataFrame.
    
    Returns:
        pd.DataFrame: DataFrame med klassificerede industrier.
    """
    conditions = [
        data["sic"].between(100, 999) | data["sic"].between(2000, 2399),
        data["sic"].between(2500, 2519) | data["sic"].between(3630, 3659),
        data["sic"].between(2520, 2589) | data["sic"].between(2600, 2699),
        data["sic"].between(1200, 1399) | data["sic"].between(2900, 2999)
    ]
    choices = ["NoDur", "Durbl", "Manuf", "Enrgy"]
    data["ff12"] = np.select(conditions, choices, default="Other")
    
    return data

In [ ]:
def validate_and_finalize(data, pf_set):
    """
    Validerer og afslutter datasættet.
    
    Args:
        data (pd.DataFrame): Input DataFrame.
        pf_set (dict): Indstillinger for validering.
    
    Returns:
        pd.DataFrame: Valideret DataFrame.
    """
    lb = pf_set["lb_hor"] + 1
    data["eom_lag"] = data.groupby("id")["eom"].shift(lb)
    data["month_diff"] = ((data["eom"] - data["eom_lag"]).dt.days / 30).round()
    data["valid_data"] = (data["month_diff"] == lb) & data["month_diff"].notna()
    data = data[data["valid_data"]]
    
    return data

In [42]:
def prepare_daily_returns(file_path, data):
    """
    Forbereder daglige afkastdata.
    
    Args:
        file_path (str): Stien til CSV-filen med daglige data. usa_dsf
        chars (pd.DataFrame): Filtreret DataFrame med gyldige observationer.
    
    Returns:
        pd.DataFrame: DataFrame med daglige afkast.
    """
    usecols=["id", "date", "ret_exc"]
    daily = pd.read_parquet(file_path, engine="pyarrow", columns=usecols)
    daily = daily[daily["ret_exc"].notna() & daily["id"].isin(data["id"].unique())]
    daily["date"] = pd.to_datetime(daily["date"], format="%Y%m%d")
    daily["eom"] = daily["date"] + pd.offsets.MonthEnd(0)
    
    return daily

In [43]:
prepare_daily_returns("./data_test/usa_dsf_test.parquet", data)

           id       date   ret_exc        eom
0       10104 2010-02-01  0.006938 2010-02-28
1       10104 2010-02-02  0.023255 2010-02-28
2       10104 2010-02-03 -0.000421 2010-02-28
3       10104 2010-02-04 -0.026948 2010-02-28
4       10104 2010-02-05  0.019039 2010-02-28
...       ...        ...       ...        ...
602507  92655 2023-12-22  0.000624 2023-12-31
602508  92655 2023-12-26 -0.000741 2023-12-31
602509  92655 2023-12-27  0.005104 2023-12-31
602510  92655 2023-12-28  0.003833 2023-12-31
602511  92655 2023-12-29  0.002788 2023-12-31

[602512 rows x 4 columns]