In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import Prepare_Data
import pyarrow 
from Prepare_Data import load_and_filter_market_returns
import data_run_files
import os
#autoreload download #pip install ipython
%load_ext autoreload
%autoreload 2

#file_path_id_test="./data_test/top_5_percent_ids.csv"
# Sti til usa_dsf.parquet
file_path_usa_dsf = "./Data/usa_dsf.parquet"
file_path_usa = "./Data/usa.parquet"
file_path_market_returns = "./Data/market_returns.csv"
file_path_crsp_a_stock_with_id = "./Data/crsp_a_stock_codes.csv"
file_path_cluster_labels = "./Data/Cluster Labels.csv"
file_path_factor_details = "./Data/Factor Details.xlsx"
file_path_tsla = "./Data/tsla101.csv"
file_path_world_ret = "./Data/world_ret_monthly.csv"
print(1)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
1

In [5]:
#Input paths
rente_path = "Data/ff3_m.csv"

In [6]:
folder_name = "new_data"

if not os.path.exists(folder_name):
    os.makedirs(folder_name)
    print(f"Folder '{folder_name}' created.")
else:
    print(f"Folder '{folder_name}' already exists.")

Folder 'new_data' created.

In [8]:
# output_path
risk_free_test_path = os.path.join(folder_name, "risk_free_test.csv")
output_path_usa_dsf = os.path.join(folder_name, "usa_dsf_test.parquet")
output_path_usa = os.path.join(folder_name, "usa_test.parquet")
output_path_market_returns = os.path.join(folder_name, "market_returns_test.csv")
world_ret_thres_test_path = os.path.join(folder_name, "world_ret_test.csv")

In [7]:
#Dates
start_date = pd.to_datetime('1952-12-31')
end_date = pd.to_datetime('2022-12-31')
#Threshold 
thres = 0.90 #(vi beholder de øverste 10%, hvis den er lig 0.9)

# Top_thres_ids.csv (csv fil med unikke id'er)

In [9]:
df_usa = pd.read_parquet(file_path_usa, engine='pyarrow')
print("Fil indlæst med succes.")

Fil indlæst med succes.

In [10]:
# Filtrer kun USA og id <= 99999
df_usa = df_usa[(df_usa["excntry"] == "USA") & (df_usa["id"] <= 99999)]

In [11]:
df_usa.loc[:, 'eom'] = pd.to_datetime(df_usa['eom'], errors='coerce')
# Filtrer kun data fra og med 2010
df_usa_filtered = df_usa[df_usa['eom'] >= start_date]

# Bekræft ændringen
print(df_usa_filtered.head())
print(f"Antal observationer efter filtrering: {len(df_usa_filtered)}")

# Valider at filtreringen virker
print(df_usa_filtered['eom'].min())  # Skal vise en dato >= start_date

      eom_ret     id                  eom  valid_ret excntry         me   sic  \
4  1953-01-31  10006  1952-12-31 00:00:00       True     USA  24.218250  3740
5  1953-02-28  10006  1953-01-31 00:00:00       True     USA  23.394500  3740
6  1953-03-31  10006  1953-02-28 00:00:00       True     USA  26.030500  3740
7  1953-04-30  10006  1953-03-31 00:00:00       True     USA  24.053500  3740
8  1953-05-31  10006  1953-04-30 00:00:00       True     USA  25.124375  3740

  size_grp  ret_exc_lead1m  niq_su  ...     ni_be    ocf_at  ocf_at_chg1  \
4    small       -0.035634     NaN  ...  0.100695  0.084642     0.038812
5    small        0.111274     NaN  ...  0.100695  0.084642     0.038812
6    small       -0.058854     NaN  ...  0.100695  0.084642     0.038812
7    small        0.042885     NaN  ...  0.100695  0.084642     0.038812
8    small        0.263852     NaN  ...  0.100695  0.084642     0.038812

   mispricing_perf  mispricing_mgmt  qmj  qmj_prof  qmj_growth  qmj_safety  \
4         0.575019         0.667461  NaN  0.395463         NaN   -0.223198
5         0.654311         0.663235  NaN  0.390803         NaN   -0.153599
6         0.565347         0.662090  NaN  0.428745         NaN   -0.166422
7         0.676796         0.703290  NaN  0.439165         NaN   -0.223840
8         0.673364         0.664946  NaN  0.557875         NaN   -0.081148

   ctff_test
4      False
5      False
6      False
7      False
8      False

[5 rows x 163 columns]
Antal observationer efter filtrering: 1365746
1952-12-31 00:00:00

In [12]:
# Beregn median market equity for hver virksomhed
company_median_equity = df_usa_filtered.groupby('id')['market_equity'].median()

# Find 95. percentilen for virksomheders median market equity
threshold = company_median_equity.quantile(thres)

# Udvælg top 5% af virksomhederne (dem med median market equity >= threshold)
top_thres_ids = company_median_equity[company_median_equity >= threshold].index

# Filtrer df_usa_filtered, så det kun indeholder disse virksomheder
df_thres_ids = df_usa_filtered[df_usa_filtered['id'].isin(top_thres_ids)]

# Udskriv information
print(f"Grænseværdi for top 15% virksomheder: {threshold}")
print(f"Antal unikke virksomheder i top 15%: {len(top_thres_ids)}")

Grænseværdi for top 15% virksomheder: 3186.19966453
Antal unikke virksomheder i top 15%: 1232

In [13]:
top_thres_ids

Index([10078, 10104, 10107, 10138, 10145, 10147, 10220, 10299, 10324, 10401,
       ...
       93295, 93296, 93312, 93330, 93338, 93374, 93422, 93423, 93429, 93436],
      dtype='int32', name='id', length=1232)

In [14]:
top_thres_ids.unique()

Index([10078, 10104, 10107, 10138, 10145, 10147, 10220, 10299, 10324, 10401,
       ...
       93295, 93296, 93312, 93330, 93338, 93374, 93422, 93423, 93429, 93436],
      dtype='int32', name='id', length=1232)

In [15]:
# Find første og sidste dato i dataset
first_date = df_thres_ids['eom'].min()
first_date2 = pd.to_datetime('2000-12-31')
last_date = df_thres_ids['eom'].max()

# Filtrer virksomheder, der har data på både første og sidste dato
df_thres_ids = df_thres_ids.groupby('id').filter(
    lambda x: (first_date2 in x['eom'].values) and (last_date in x['eom'].values)
)
# Udskriv antal unikke virksomheder efter filtrering
print(f"Antal unikke virksomheder med data på både første og sidste dato: {df_thres_ids['id'].nunique()}")

Antal unikke virksomheder med data på både første og sidste dato: 310

In [16]:
df_ids = pd.DataFrame(df_thres_ids['id'].unique(), columns=['id'])
df_ids_path = os.path.join(folder_name, "top_5_percent_ids.csv")
# Gem til en CSV-fil uden index-kolonne
df_ids.to_csv(df_ids_path, index=False)

    
print("Fil gemt som 'top_5_percent_ids.csv'")

Fil gemt som 'top_5_percent_ids.csv'

# De andre filer (med antal id's fra thres og start-end date)

In [17]:
file_path_id_test = os.path.join(folder_name, "top_5_percent_ids.csv")
file_path_usa = "./Data/usa_rvol.parquet" #Vi skal have den med rvol som er med i

In [18]:
risk_free = data_run_files.process_risk_free_rate(rente_path, start_date, end_date, output_path = risk_free_test_path)
# Filtrér ID'er for usa_dsf og usa
data_run_files.filter_ids_from_dataset(file_path_usa_dsf, file_path_id_test, output_path_usa_dsf, start_date)
data_run_files.filter_ids_from_dataset(file_path_usa, file_path_id_test, output_path_usa, start_date)
data_run_files.filter_and_save_data(file_path_market_returns, start_date, end_date, output_path_market_returns)
h_list = [1]  # Horisonter
dataret = data_run_files.monthly_returns(risk_free, h_list, output_path_usa)
data_run_files.world_ret_monthly_test_filter(file_path_id_test, file_path_world_ret, start_date, end_date, output_file = world_ret_thres_test_path)

Filtrering udført. Antal rækker efter filtrering: 841
Fil gemt som new_data\risk_free_test.csv
Fil ./Data/usa_dsf.parquet indlæst med succes. Antal rækker før filtrering: 176877668
Filtrering af ID'er udført. Antal rækker efter filtrering: 3673896
Bruger 'date' i stedet for 'eom'.
Filtrering på startdato 1952-12-31 00:00:00 udført. Antal rækker efter filtrering: 3430909
Antal unikke virksomheder efter filtrering: 310
Fil gemt som new_data\usa_dsf_test.parquet
Fil ./Data/usa_rvol.parquet indlæst med succes. Antal rækker før filtrering: 1373911
Filtrering af ID'er udført. Antal rækker efter filtrering: 154259
Filtrering på startdato 1952-12-31 00:00:00 udført. Antal rækker efter filtrering: 153887
Antal unikke virksomheder efter filtrering: 310
Fil gemt som new_data\usa_test.parquet
Filen er indlæst og filtreret succesfuldt.
Fil gemt som new_data\market_returns_test.csv med 841 rækker.
All missing excludes 1.44% of the observations
Data gemt i: new_data\world_ret_test.csv
           id excntry        eom           me       ret  ret_local   ret_exc  \
260425  10145     USA 1952-12-31   680.805000  0.001629   0.001629 -0.000124
260457  15069     USA 1952-12-31  1106.368875  0.027273   0.027273  0.025520
260464  24985     USA 1952-12-31    19.610000       NaN        NaN       NaN
260465  15579     USA 1952-12-31     2.086000 -0.200000  -0.200000 -0.201753
260473  17830     USA 1952-12-31   121.296000  0.041096   0.041096  0.039343

        source_crsp
260425            1
260457            1
260464            1
260465            1
260473            1
             id excntry        eom            me       ret  ret_local  \
24069085  11403     USA 2022-12-31  43802.511834 -0.066264  -0.066264
24069107  11618     USA 2022-12-31  27010.823666 -0.081343  -0.081343
24069110  11600     USA 2022-12-31   6851.968033  0.056345   0.056345
24069117  10933     USA 2022-12-31  17720.240369 -0.005548  -0.005548
24069138  10696     USA 2022-12-31  63674.099808 -0.031525  -0.031525

           ret_exc  source_crsp
24069085 -0.069643            1
24069107 -0.084722            1
24069110  0.052966            1
24069117 -0.008927            1
24069138 -0.034904            1
Shape efter dato-filter: (160610, 8)
Antal unikke ID'er efter dato-filter: 310