In [1]:
import pandas as pd
from Main import settings, features, pf_set
import time
import pickle
from pandas.tseries.offsets import DateOffset
import Prepare_Data
import data_run_files
import return_prediction_functions
from return_prediction_functions import rff
import numpy as np
from pandas.tseries.offsets import MonthEnd
from sklearn.linear_model import Ridge
import General_Functions
import pickle
import Estimate_Covariance_Matrix
import os
import prepare_portfolio_data
import portfolio_choice_functions

start_date = pd.to_datetime('1952-12-31')

#Relevante paths
output_path = "./data_fifty/"
pickle_file_path = "./data_fifty/model_1.pkl"


output_path_market_returns = "data_fifty/market_returns_test.csv"

risk_free_path = "./data_fifty/risk_free_test.csv" 
output_data_ret_csv = "./data_fifty/data_ret.csv"  
output_data_ret_ld1_csv = "./data_fifty/data_ret_ld1.csv"

file_path_cluster_labels = "Data/Cluster Labels.csv"
file_path_factor_details = "Data/Factor Details.xlsx"

risk_free = data_run_files.process_risk_free_rate(risk_free_path, start_date)
daily_path = "./data_fifty/daily.csv"
chars_path = "./data_fifty/chars_behandlet.parquet"

Features list length: 154
Filtrering udført. Antal rækker efter filtrering: 841
Fil gemt som ./data_test/risk_free_test.csv

In [2]:
wealth_end = pf_set["wealth"]
end = settings["split"]["test_end"]
market_test = Prepare_Data.load_and_filter_market_returns_test(output_path_market_returns)
wealth = Prepare_Data.wealth_func(wealth_end, end, market_test, risk_free)
wealth = wealth.dropna(subset=['wealth'])

Filen er indlæst og filtreret succesfuldt.

# Indlæser chars, daily, data_ret og data_ret_ld1

In [3]:
data_ret = pd.read_csv(output_data_ret_csv)
data_ret_ld1 = pd.read_csv(output_data_ret_ld1_csv)
data_ret['eom'] = pd.to_datetime(data_ret['eom'])
data_ret_ld1['eom'] = pd.to_datetime(data_ret_ld1['eom'])
data_ret_ld1['eom_ret'] = pd.to_datetime(data_ret_ld1['eom_ret'])
daily = pd.read_csv(daily_path, parse_dates=["date", "eom"])
chars = pd.read_parquet(chars_path)

Disse er checket og se ser korrekte ud wuhu :D

### Vi kører her Predictions "Fit_models_R"

In [4]:
search_grid_single = pd.DataFrame({
    'name': ['m1'],
    'horizon': [1]
})
search_grid = search_grid_single

In [5]:
print(settings['split']['val_years'])
print(settings['screens']['start'])
print(settings['split']['train_lookback'])
print(settings['split']['retrain_lookback'])

10
1982-12-31 00:00:00
100
100

In [6]:
print(settings['split']['train_end'])
print(settings['split']['test_end'])
print(settings['split']['model_update_freq'])

2000-12-31 00:00:00
2022-12-31 00:00:00
yearly

In [7]:
data_ret

,id,eom,ret_ld1,ret_ld2,ret_ld3,ret_ld4,ret_ld5,ret_ld6,ret_ld7,ret_ld8,ret_ld9,ret_ld10,ret_ld11,ret_ld12
0,10104,1986-04-30,-0.064934,0.031988,-0.369114,0.059902,-0.141147,0.258949,0.190520,-0.039651,0.297054,0.421617,0.137845,0.063897
1,10104,1986-05-31,0.031988,-0.369114,0.059902,-0.141147,0.258949,0.190520,-0.039651,0.297054,0.421617,0.137845,0.063897,0.155814
2,10104,1986-06-30,-0.369114,0.059902,-0.141147,0.258949,0.190520,-0.039651,0.297054,0.421617,0.137845,0.063897,0.155814,-0.188517
3,10104,1986-07-31,0.059902,-0.141147,0.258949,0.190520,-0.039651,0.297054,0.421617,0.137845,0.063897,0.155814,-0.188517,0.018414
4,10104,1986-08-31,-0.141147,0.258949,0.190520,-0.039651,0.297054,0.421617,0.137845,0.063897,0.155814,-0.188517,0.018414,0.171080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90698,92655,2022-07-31,-0.044328,-0.026268,0.096893,-0.016168,-0.032461,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
90699,92655,2022-08-31,-0.026268,0.096893,-0.016168,-0.032461,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
90700,92655,2022-09-30,0.096893,-0.016168,-0.032461,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
90701,92655,2022-10-31,-0.016168,-0.032461,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
90702,92655,2022-11-30,-0.032461,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

## Selve Predictions :D

In [32]:
start_time = time.time()
models = []  # Liste til at gemme output for hver horizon

# Iterer over rækkerne i search_grid
for i in range(len(search_grid)):
    # Forbered y-variablen:
    h = search_grid.iloc[i]["horizon"]  # fx 1
    # Konstruer kolonnenavnet, fx "ret_ld1"
    col_name = "ret_ld" + str(h)
    # Beregn gennemsnittet pr. række – hvis der kun er én kolonne, svarer det til kolonneværdierne
    pred_y_values = data_ret[col_name]  # antages at være en Pandas Series
    # Opret en DataFrame med de nødvendige kolonner: id, eom
    pred_y_df = data_ret[['id', 'eom']].copy()
    # Beregn eom_pred_last: Vi antager, at vi ønsker at beregne slutdatoen for forudsigelsen som:
    # eom + (h+1) måneder - 1 dag (svarer nogenlunde til R's eom+1+months(max(h))-1)
    pred_y_df['eom_pred_last'] = pred_y_df['eom'] + MonthEnd(1)
    pred_y_df['ret_pred'] = pred_y_values

    # Join med de rækker i 'chars', hvor valid er True, på kolonnerne id og eom
    valid_chars = chars[chars['valid'] == True]
    data_pred = pd.merge(pred_y_df, valid_chars, on=['id', 'eom'], how='inner')
    print("data_pred.head")
    print(data_pred.head())
    print("data_pred.tail")
    print(data_pred.tail())
    print("horizons:", [h])

    # Bestem validerings-slutdatoer og test-inc baseret på settings
    update_freq = settings['split']['model_update_freq']
    if update_freq == "once":
        val_ends = [settings['split']['train_end']]
        test_inc = 1000
    elif update_freq == "yearly":
        # Opret en liste af datoer med årligt interval
        val_ends = pd.date_range(start=settings['split']['train_end'],
                                 end=settings['split']['test_end'],
                                 freq='YE').to_pydatetime().tolist()
        test_inc = 1
    elif update_freq == "decade":
        start_date = pd.to_datetime(settings['split']['train_end'])
        end_date = pd.to_datetime(settings['split']['test_end'])
        val_ends = []
        current = start_date
        while current <= end_date:
            val_ends.append(current)
            current += pd.DateOffset(years=10)
        test_inc = 10
    else:
        raise ValueError("Ugyldig model_update_freq i settings.")

    op = {}  # Dictionary til at gemme modeloutput for hver val_end
    inner_start = time.time()
    # Iterer over hver validerings-slutdato
    for val_end in val_ends:
        print(val_end)
        train_test_val = return_prediction_functions.data_split(
            data_pred,
            type=update_freq,
            val_end=val_end,
            val_years=settings['split']['val_years'],
            train_start=settings['screens']['start'],
            train_lookback=settings['split']['train_lookback'],
            retrain_lookback=settings['split']['retrain_lookback'],
            test_inc=test_inc,
            test_end=settings['split']['test_end']
        )
        print("datasættet er tomt; hvis ja, stop loopet")
        if train_test_val["test"].empty:
            print("Test datasættet er tomt for valideringsperiode:", val_end, ". Stopper forudsigelser.")
            break
        print("Train data:")
        print(train_test_val["train"].head())
        print("\nValidation data:")
        print(train_test_val["val"].head())
        print("\nTrain full data:")
        print(train_test_val["train_full"].head())
        print("\nTest data:")
        print(train_test_val["test"].head())
        model_start = time.time()
        model_op = return_prediction_functions.rff_hp_search(
            train_test_val,
            feat=features,
            p_vec=settings['rff']['p_vec'],
            g_vec=settings['rff']['g_vec'],
            l_vec=settings['rff']['l_vec'],
            seed=settings['seed_no']
        )
        model_time = time.time() - model_start
        print("Model training time:", model_time, "seconds")
        op[val_end] = model_op
    inner_time = time.time() - inner_start
    print("Total time for current horizon:", inner_time, "seconds")

    # Gem model-output for den aktuelle horizon til en pickle-fil (svarer til R's saveRDS)
    model_filename = f"{output_path}/model_{h}.pkl"
    with open(model_filename, "wb") as f:
        pickle.dump(op, f)

    models.append(op)

total_time = time.time() - start_time
print("Total run time:", total_time, "seconds")

data_pred.head
      id        eom eom_pred_last  ret_pred   sale_me  ami_126d  \
0  10104 1988-11-30    1988-12-31  0.124129  0.058252  0.708738
1  10104 1988-12-31    1989-01-31  0.205772  0.058252  0.708738
2  10104 1989-01-31    1989-02-28 -0.053729  0.057692  0.701923
3  10104 1989-02-28    1989-03-31  0.066009  0.057143  0.685714
4  10104 1989-03-31    1989-04-30  0.195263  0.066667  0.647619

   rmax5_rvol_21d  rmax1_21d  seas_2_5an   ret_6_1  ...        dolvol  \
0        0.892157   0.892157         0.5  0.135922  ...  4.078870e+06
1        0.881188   0.970297         0.5  0.165049  ...  4.358992e+06
2        0.563107   0.868932         0.5  0.432692  ...  4.919729e+06
3        0.809524   0.961905         0.5  0.933333  ...  5.470593e+06
4        0.883495   0.990291         0.5  0.723810  ...  6.296636e+06

         lambda    rvol_m   ret_ld1    eom_ret    tr_ld1    tr_ld0    mu_ld0  \
0  4.903319e-08  0.147527  0.124129 1988-12-31  0.129829  0.095596 -0.016575
1  4.588217e-08  0.138658  0.205772 1989-01-31  0.212072  0.129829  0.021503
2  4.065264e-08  0.129306 -0.053729 1989-02-28 -0.048229  0.212072  0.066198
3  3.655911e-08  0.126996  0.066009 1989-03-31  0.072109 -0.048229 -0.016422
4  3.176299e-08  0.128771  0.195263 1989-04-30  0.201963  0.072109  0.022622

    ff12  valid
0  BusEq   True
1  BusEq   True
2  BusEq   True
3  BusEq   True
4  BusEq   True

[5 rows x 132 columns]
data_pred.tail
          id        eom eom_pred_last  ret_pred   sale_me  ami_126d  \
68595  92655 2022-07-31    2022-08-31 -0.044328  0.672222  0.061111
68596  92655 2022-08-31    2022-09-30 -0.026268  0.677778  0.033333
68597  92655 2022-09-30    2022-10-31  0.096893  0.655556  0.033333
68598  92655 2022-10-31    2022-11-30 -0.016168  0.661111  0.033333
68599  92655 2022-11-30    2022-12-31 -0.032461  0.677778  0.033333

       rmax5_rvol_21d  rmax1_21d  seas_2_5an   ret_6_1  ...        dolvol  \
68595        0.855556   0.772222    0.638889  0.900000  ...  1.633418e+09
68596        0.027778   0.188889    0.094444  0.905556  ...  1.558158e+09
68597        0.411111   0.355556    0.977778  0.855556  ...  1.516174e+09
68598        0.161111   0.016667    0.816667  0.877778  ...  1.494588e+09
68599        0.527778   0.294444    0.333333  0.905556  ...  1.555201e+09

             lambda    rvol_m   ret_ld1    eom_ret    tr_ld1    tr_ld0  \
68595  1.224426e-10  0.069191 -0.044328 2022-08-31 -0.043528  0.055684
68596  1.283567e-10  0.068704 -0.026268 2022-09-30 -0.024368 -0.043528
68597  1.319110e-10  0.068843  0.096893 2022-10-31  0.098793 -0.024368
68598  1.338161e-10  0.068225 -0.016168 2022-11-30 -0.013868  0.098793
68599  1.286008e-10  0.070496 -0.032461 2022-12-31 -0.029561 -0.013868

         mu_ld0   ff12  valid
68595  0.093630  Money   True
68596 -0.036188  Money   True
68597 -0.091370  Money   True
68598  0.081350  Money   True
68599  0.051329  Money   True

[5 rows x 132 columns]
horizons: [1]
2000-12-31 00:00:00
datasættet er tomt; hvis ja, stop loopet
Train data:
      id        eom eom_pred_last  ret_pred   sale_me  ami_126d  \
0  10104 1988-11-30    1988-12-31  0.124129  0.058252  0.708738
1  10104 1988-12-31    1989-01-31  0.205772  0.058252  0.708738
2  10104 1989-01-31    1989-02-28 -0.053729  0.057692  0.701923
3  10104 1989-02-28    1989-03-31  0.066009  0.057143  0.685714
4  10104 1989-03-31    1989-04-30  0.195263  0.066667  0.647619

   rmax5_rvol_21d  rmax1_21d  seas_2_5an   ret_6_1  ...        dolvol  \
0        0.892157   0.892157         0.5  0.135922  ...  4.078870e+06
1        0.881188   0.970297         0.5  0.165049  ...  4.358992e+06
2        0.563107   0.868932         0.5  0.432692  ...  4.919729e+06
3        0.809524   0.961905         0.5  0.933333  ...  5.470593e+06
4        0.883495   0.990291         0.5  0.723810  ...  6.296636e+06

         lambda    rvol_m   ret_ld1    eom_ret    tr_ld1    tr_ld0    mu_ld0  \
0  4.903319e-08  0.147527  0.124129 1988-12-31  0.129829  0.095596 -0.016575
1  4.588217e-08  0.138658  0.205772 1989-01-31  0.212072  0.129829  0.021503
2  4.065264e-08  0.129306 -0.053729 1989-02-28 -0.048229  0.212072  0.066198
3  3.655911e-08  0.126996  0.066009 1989-03-31  0.072109 -0.048229 -0.016422
4  3.176299e-08  0.128771  0.195263 1989-04-30  0.201963  0.072109  0.022622

    ff12  valid
0  BusEq   True
1  BusEq   True
2  BusEq   True
3  BusEq   True
4  BusEq   True

[5 rows x 132 columns]

Validation data:
       id        eom eom_pred_last  ret_pred   sale_me  ami_126d  \
25  10104 1990-12-31    1991-01-31  0.138220  0.513514  0.657658
26  10104 1991-01-31    1991-02-28 -0.004767  0.463636  0.672727
27  10104 1991-02-28    1991-03-31 -0.004391  0.477477  0.675676
28  10104 1991-03-31    1991-04-30  0.022443  0.513514  0.693694
29  10104 1991-04-30    1991-05-31 -0.193650  0.477876  0.696429

    rmax5_rvol_21d  rmax1_21d  seas_2_5an   ret_6_1  ...        dolvol  \
25        0.345455   0.854545    0.500000  0.009009  ...  7.961171e+06
26        0.779817   0.990826    0.500000  0.009091  ...  6.637464e+06
27        0.171171   0.864865    0.500000  0.036036  ...  6.428424e+06
28        0.254545   0.936364    0.959184  0.585586  ...  5.922317e+06
29        0.450450   0.990991    0.690000  0.716814  ...  6.711729e+06

          lambda    rvol_m   ret_ld1    eom_ret    tr_ld1    tr_ld0    mu_ld0  \
25  2.512193e-08  0.220903  0.138220 1991-01-31  0.144220 -0.000289  0.029581
26  3.013199e-08  0.231738 -0.004767 1991-02-28  0.000433  0.144220  0.050350
27  3.111183e-08  0.234477 -0.004391 1991-03-31  0.000409  0.000433  0.076288
28  3.377057e-08  0.218537  0.022443 1991-04-30  0.026843  0.000409  0.028702
29  2.979858e-08  0.220559 -0.193650 1991-05-31 -0.188350  0.026843  0.003543

     ff12  valid
25  BusEq   True
26  BusEq   True
27  BusEq   True
28  BusEq   True
29  BusEq   True

[5 rows x 132 columns]

Train full data:
      id        eom eom_pred_last  ret_pred   sale_me  ami_126d  \
0  10104 1988-11-30    1988-12-31  0.124129  0.058252  0.708738
1  10104 1988-12-31    1989-01-31  0.205772  0.058252  0.708738
2  10104 1989-01-31    1989-02-28 -0.053729  0.057692  0.701923
3  10104 1989-02-28    1989-03-31  0.066009  0.057143  0.685714
4  10104 1989-03-31    1989-04-30  0.195263  0.066667  0.647619

   rmax5_rvol_21d  rmax1_21d  seas_2_5an   ret_6_1  ...        dolvol  \
0        0.892157   0.892157         0.5  0.135922  ...  4.078870e+06
1        0.881188   0.970297         0.5  0.165049  ...  4.358992e+06
2        0.563107   0.868932         0.5  0.432692  ...  4.919729e+06
3        0.809524   0.961905         0.5  0.933333  ...  5.470593e+06
4        0.883495   0.990291         0.5  0.723810  ...  6.296636e+06

         lambda    rvol_m   ret_ld1    eom_ret    tr_ld1    tr_ld0    mu_ld0  \
0  4.903319e-08  0.147527  0.124129 1988-12-31  0.129829  0.095596 -0.016575
1  4.588217e-08  0.138658  0.205772 1989-01-31  0.212072  0.129829  0.021503
2  4.065264e-08  0.129306 -0.053729 1989-02-28 -0.048229  0.212072  0.066198
3  3.655911e-08  0.126996  0.066009 1989-03-31  0.072109 -0.048229 -0.016422
4  3.176299e-08  0.128771  0.195263 1989-04-30  0.201963  0.072109  0.022622

    ff12  valid
0  BusEq   True
1  BusEq   True
2  BusEq   True
3  BusEq   True
4  BusEq   True

[5 rows x 132 columns]

Test data:
        id        eom eom_pred_last  ret_pred   sale_me  ami_126d  \
145  10104 2000-12-31    2001-01-31 -0.003092  0.072222  0.066667
146  10104 2001-01-31    2001-02-28 -0.351292  0.072222  0.072222
147  10104 2001-02-28    2001-03-31 -0.215899  0.100559  0.100559
148  10104 2001-03-31    2001-04-30  0.074908  0.106145  0.134078
149  10104 2001-04-30    2001-05-31 -0.056401  0.122905  0.162011

     rmax5_rvol_21d  rmax1_21d  seas_2_5an   ret_6_1  ...        dolvol  \
145        0.872222   0.838889    0.877551  0.100000  ...  8.095635e+08
146        0.650000   0.888889    0.668919  0.183333  ...  8.168897e+08
147        0.620112   0.932961    0.108108  0.106145  ...  8.194090e+08
148        0.944134   0.905028    0.114865  0.067039  ...  7.528579e+08
149        0.620112   0.837989    0.277027  0.072626  ...  6.867621e+08

           lambda    rvol_m   ret_ld1    eom_ret    tr_ld1    tr_ld0  \
145  2.470467e-10  0.230596 -0.003092 2001-01-31  0.001908  0.096889
146  2.448311e-10  0.231576 -0.351292 2001-02-28 -0.345892  0.001908
147  2.440784e-10  0.235487 -0.215899 2001-03-31 -0.212099 -0.345892
148  2.656544e-10  0.252368  0.074908 2001-04-30  0.079108 -0.212099
149  2.912217e-10  0.251049 -0.056401 2001-05-31 -0.052501  0.079108

       mu_ld0   ff12  valid
145  0.020566  BusEq   True
146  0.039716  BusEq   True
147 -0.100009  BusEq   True
148 -0.071872  BusEq   True
149  0.084807  BusEq   True

[5 rows x 132 columns]
g: 0.049787068367863944
  --> p: 2
  --> p: 4
  --> p: 8
  --> p: 16
  --> p: 32
  --> p: 64
  --> p: 128
  --> p: 256
  --> p: 512
g: 0.1353352832366127
  --> p: 2
  --> p: 4
  --> p: 8
  --> p: 16
  --> p: 32
  --> p: 64
  --> p: 128
  --> p: 256
  --> p: 512
Optimal g: 0.049787068367863944, p: 512.0, lambda: 12.494049928387, MSE: 0.011057484897343926
Model training time: 21.911922931671143 seconds
2001-12-31 00:00:00
datasættet er tomt; hvis ja, stop loopet
Train data:
      id        eom eom_pred_last  ret_pred   sale_me  ami_126d  \
0  10104 1988-11-30    1988-12-31  0.124129  0.058252  0.708738
1  10104 1988-12-31    1989-01-31  0.205772  0.058252  0.708738
2  10104 1989-01-31    1989-02-28 -0.053729  0.057692  0.701923
3  10104 1989-02-28    1989-03-31  0.066009  0.057143  0.685714
4  10104 1989-03-31    1989-04-30  0.195263  0.066667  0.647619

   rmax5_rvol_21d  rmax1_21d  seas_2_5an   ret_6_1  ...        dolvol  \
0        0.892157   0.892157         0.5  0.135922  ...  4.078870e+06
1        0.881188   0.970297         0.5  0.165049  ...  4.358992e+06
2        0.563107   0.868932         0.5  0.432692  ...  4.919729e+06
3        0.809524   0.961905         0.5  0.933333  ...  5.470593e+06
4        0.883495   0.990291         0.5  0.723810  ...  6.296636e+06

         lambda    rvol_m   ret_ld1    eom_ret    tr_ld1    tr_ld0    mu_ld0  \
0  4.903319e-08  0.147527  0.124129 1988-12-31  0.129829  0.095596 -0.016575
1  4.588217e-08  0.138658  0.205772 1989-01-31  0.212072  0.129829  0.021503
2  4.065264e-08  0.129306 -0.053729 1989-02-28 -0.048229  0.212072  0.066198
3  3.655911e-08  0.126996  0.066009 1989-03-31  0.072109 -0.048229 -0.016422
4  3.176299e-08  0.128771  0.195263 1989-04-30  0.201963  0.072109  0.022622

    ff12  valid
0  BusEq   True
1  BusEq   True
2  BusEq   True
3  BusEq   True
4  BusEq   True

[5 rows x 132 columns]

Validation data:
       id        eom eom_pred_last  ret_pred   sale_me  ami_126d  \
37  10104 1991-12-31    1992-01-31  0.272803  0.365217  0.678261
38  10104 1992-01-31    1992-02-29  0.078253  0.293103  0.663793
39  10104 1992-02-29    1992-03-31 -0.328376  0.284483  0.629310
40  10104 1992-03-31    1992-04-30  0.024475  0.396552  0.629310
41  10104 1992-04-30    1992-05-31  0.069314  0.384615  0.641026

    rmax5_rvol_21d  rmax1_21d  seas_2_5an   ret_6_1  ...        dolvol  \
37        0.069565   0.782609    0.914286  0.956522  ...  7.489688e+06
38        0.486957   0.982609    0.904762  0.931034  ...  1.007494e+07
39        0.443478   0.886957    0.685714  0.974138  ...  1.099278e+07
40        0.201754   0.982456    0.809524  0.931034  ...  1.199069e+07
41        0.512821   0.974359    0.962264  0.042735  ...  1.146742e+07

          lambda    rvol_m   ret_ld1    eom_ret    tr_ld1    tr_ld0    mu_ld0  \
37  2.670338e-08  0.199708  0.272803 1992-01-31  0.276603  0.074182  0.108257
38  1.985124e-08  0.184188  0.078253 1992-02-29  0.081653  0.276603 -0.002842
39  1.819375e-08  0.180701 -0.328376 1992-03-31 -0.325576  0.081653  0.013625
40  1.667961e-08  0.184593  0.024475 1992-04-30  0.027875 -0.325576 -0.023875
41  1.744071e-08  0.182697  0.069314 1992-05-31  0.072514  0.027875  0.012991

     ff12  valid
37  BusEq   True
38  BusEq   True
39  BusEq   True
40  BusEq   True
41  BusEq   True

[5 rows x 132 columns]

Train full data:
      id        eom eom_pred_last  ret_pred   sale_me  ami_126d  \
0  10104 1988-11-30    1988-12-31  0.124129  0.058252  0.708738
1  10104 1988-12-31    1989-01-31  0.205772  0.058252  0.708738
2  10104 1989-01-31    1989-02-28 -0.053729  0.057692  0.701923
3  10104 1989-02-28    1989-03-31  0.066009  0.057143  0.685714
4  10104 1989-03-31    1989-04-30  0.195263  0.066667  0.647619

   rmax5_rvol_21d  rmax1_21d  seas_2_5an   ret_6_1  ...        dolvol  \
0        0.892157   0.892157         0.5  0.135922  ...  4.078870e+06
1        0.881188   0.970297         0.5  0.165049  ...  4.358992e+06
2        0.563107   0.868932         0.5  0.432692  ...  4.919729e+06
3        0.809524   0.961905         0.5  0.933333  ...  5.470593e+06
4        0.883495   0.990291         0.5  0.723810  ...  6.296636e+06

         lambda    rvol_m   ret_ld1    eom_ret    tr_ld1    tr_ld0    mu_ld0  \
0  4.903319e-08  0.147527  0.124129 1988-12-31  0.129829  0.095596 -0.016575
1  4.588217e-08  0.138658  0.205772 1989-01-31  0.212072  0.129829  0.021503
2  4.065264e-08  0.129306 -0.053729 1989-02-28 -0.048229  0.212072  0.066198
3  3.655911e-08  0.126996  0.066009 1989-03-31  0.072109 -0.048229 -0.016422
4  3.176299e-08  0.128771  0.195263 1989-04-30  0.201963  0.072109  0.022622

    ff12  valid
0  BusEq   True
1  BusEq   True
2  BusEq   True
3  BusEq   True
4  BusEq   True

[5 rows x 132 columns]

Test data:
        id        eom eom_pred_last  ret_pred   sale_me  ami_126d  \
157  10104 2001-12-31    2002-01-31  0.248429  0.105556  0.183333
158  10104 2002-01-31    2002-02-28 -0.038365  0.072222  0.183333
159  10104 2002-02-28    2002-03-31 -0.231185  0.061453  0.167598
160  10104 2002-03-31    2002-04-30 -0.217171  0.127778  0.166667
161  10104 2002-04-30    2002-05-31 -0.212597  0.167598  0.184358

     rmax5_rvol_21d  rmax1_21d  seas_2_5an   ret_6_1  ...        dolvol  \
157        0.244444   0.961111    0.649351  0.088889  ...  3.461552e+08
158        0.733333   0.933333    0.980645  0.066667  ...  3.716960e+08
159        0.134078   0.765363    0.233766  0.972067  ...  3.835898e+08
160        0.016667   0.650000    0.129032  0.788889  ...  3.968455e+08
161        0.474860   0.877095    0.135484  0.072626  ...  3.857808e+08

           lambda    rvol_m   ret_ld1    eom_ret    tr_ld1    tr_ld0  \
157  5.777755e-10  0.231228  0.248429 2002-01-31  0.249929 -0.015465
158  5.380741e-10  0.221610 -0.038365 2002-02-28 -0.036965  0.249929
159  5.213903e-10  0.211077 -0.231185 2002-03-31 -0.229885 -0.036965
160  5.039744e-10  0.190447 -0.217171 2002-04-30 -0.215871 -0.229885
161  5.184292e-10  0.174849 -0.212597 2002-05-31 -0.211097 -0.215871

       mu_ld0   ff12  valid
157  0.017964  BusEq   True
158 -0.016685  BusEq   True
159 -0.022113  BusEq   True
160  0.044926  BusEq   True
161 -0.050864  BusEq   True

[5 rows x 132 columns]
g: 0.049787068367863944
  --> p: 2
  --> p: 4
  --> p: 8
  --> p: 16
  --> p: 32
  --> p: 64
  --> p: 128
  --> p: 256
  --> p: 512
g: 0.1353352832366127
  --> p: 2
  --> p: 4
  --> p: 8
  --> p: 16
  --> p: 32
  --> p: 64
  --> p: 128
  --> p: 256
  --> p: 512
Optimal g: 0.049787068367863944, p: 512.0, lambda: 8.341241958842371, MSE: 0.011875172774411146
Model training time: 28.31367254257202 seconds
2002-12-31 00:00:00
datasættet er tomt; hvis ja, stop loopet
Train data:
      id        eom eom_pred_last  ret_pred   sale_me  ami_126d  \
0  10104 1988-11-30    1988-12-31  0.124129  0.058252  0.708738
1  10104 1988-12-31    1989-01-31  0.205772  0.058252  0.708738
2  10104 1989-01-31    1989-02-28 -0.053729  0.057692  0.701923
3  10104 1989-02-28    1989-03-31  0.066009  0.057143  0.685714
4  10104 1989-03-31    1989-04-30  0.195263  0.066667  0.647619

   rmax5_rvol_21d  rmax1_21d  seas_2_5an   ret_6_1  ...        dolvol  \
0        0.892157   0.892157         0.5  0.135922  ...  4.078870e+06
1        0.881188   0.970297         0.5  0.165049  ...  4.358992e+06
2        0.563107   0.868932         0.5  0.432692  ...  4.919729e+06
3        0.809524   0.961905         0.5  0.933333  ...  5.470593e+06
4        0.883495   0.990291         0.5  0.723810  ...  6.296636e+06

         lambda    rvol_m   ret_ld1    eom_ret    tr_ld1    tr_ld0    mu_ld0  \
0  4.903319e-08  0.147527  0.124129 1988-12-31  0.129829  0.095596 -0.016575
1  4.588217e-08  0.138658  0.205772 1989-01-31  0.212072  0.129829  0.021503
2  4.065264e-08  0.129306 -0.053729 1989-02-28 -0.048229  0.212072  0.066198
3  3.655911e-08  0.126996  0.066009 1989-03-31  0.072109 -0.048229 -0.016422
4  3.176299e-08  0.128771  0.195263 1989-04-30  0.201963  0.072109  0.022622

    ff12  valid
0  BusEq   True
1  BusEq   True
2  BusEq   True
3  BusEq   True
4  BusEq   True

[5 rows x 132 columns]

Validation data:
       id        eom eom_pred_last  ret_pred   sale_me  ami_126d  \
49  10104 1992-12-31    1993-01-31  0.143039  0.200000  0.600000
50  10104 1993-01-31    1993-02-28  0.005483  0.141667  0.591667
51  10104 1993-02-28    1993-03-31  0.119599  0.141667  0.591667
52  10104 1993-03-31    1993-04-30 -0.032984  0.126050  0.579832
53  10104 1993-04-30    1993-05-31  0.169762  0.140496  0.561983

    rmax5_rvol_21d  rmax1_21d  seas_2_5an   ret_6_1  ...        dolvol  \
49        1.000000   1.000000    0.728972  0.941667  ...  1.431884e+07
50        0.358333   0.958333    0.252336  0.966667  ...  1.707269e+07
51        0.208333   0.875000    0.177570  0.966667  ...  2.034352e+07
52        0.126050   0.899160    0.682243  0.957983  ...  2.242778e+07
53        0.033058   0.413223    0.261682  0.950413  ...  2.332732e+07

          lambda    rvol_m   ret_ld1    eom_ret    tr_ld1    tr_ld0    mu_ld0  \
49  1.396761e-08  0.199693  0.143039 1993-01-31  0.145839  0.275311  0.018332
50  1.171462e-08  0.199631  0.005483 1993-02-28  0.007783  0.145839  0.011804
51  9.831142e-09  0.201253  0.119599 1993-03-31  0.121799  0.007783  0.003885
52  8.917512e-09  0.193936 -0.032984 1993-04-30 -0.030484  0.121799  0.026153
53  8.573636e-09  0.191491  0.169762 1993-05-31  0.172162 -0.030484 -0.025977

     ff12  valid
49  BusEq   True
50  BusEq   True
51  BusEq   True
52  BusEq   True
53  BusEq   True

[5 rows x 132 columns]

Train full data:
      id        eom eom_pred_last  ret_pred   sale_me  ami_126d  \
0  10104 1988-11-30    1988-12-31  0.124129  0.058252  0.708738
1  10104 1988-12-31    1989-01-31  0.205772  0.058252  0.708738
2  10104 1989-01-31    1989-02-28 -0.053729  0.057692  0.701923
3  10104 1989-02-28    1989-03-31  0.066009  0.057143  0.685714
4  10104 1989-03-31    1989-04-30  0.195263  0.066667  0.647619

   rmax5_rvol_21d  rmax1_21d  seas_2_5an   ret_6_1  ...        dolvol  \
0        0.892157   0.892157         0.5  0.135922  ...  4.078870e+06
1        0.881188   0.970297         0.5  0.165049  ...  4.358992e+06
2        0.563107   0.868932         0.5  0.432692  ...  4.919729e+06
3        0.809524   0.961905         0.5  0.933333  ...  5.470593e+06
4        0.883495   0.990291         0.5  0.723810  ...  6.296636e+06

         lambda    rvol_m   ret_ld1    eom_ret    tr_ld1    tr_ld0    mu_ld0  \
0  4.903319e-08  0.147527  0.124129 1988-12-31  0.129829  0.095596 -0.016575
1  4.588217e-08  0.138658  0.205772 1989-01-31  0.212072  0.129829  0.021503
2  4.065264e-08  0.129306 -0.053729 1989-02-28 -0.048229  0.212072  0.066198
3  3.655911e-08  0.126996  0.066009 1989-03-31  0.072109 -0.048229 -0.016422
4  3.176299e-08  0.128771  0.195263 1989-04-30  0.201963  0.072109  0.022622

    ff12  valid
0  BusEq   True
1  BusEq   True
2  BusEq   True
3  BusEq   True
4  BusEq   True

[5 rows x 132 columns]

Test data:
        id        eom eom_pred_last  ret_pred   sale_me  ami_126d  \
169  10104 2002-12-31    2003-01-31  0.112955  0.095506  0.207865
170  10104 2003-01-31    2003-02-28 -0.006690  0.061798  0.207865
171  10104 2003-02-28    2003-03-31 -0.093913  0.078652  0.207865
172  10104 2003-03-31    2003-04-30  0.094093  0.089385  0.173184

### Indlæsning af Pickle fil (predictions)

In [33]:
with open(pickle_file_path, "rb") as file:
    model_1 = pickle.load(file)

print(model_1)

{datetime.datetime(2000, 12, 31, 0, 0): {'fit': Ridge(alpha=12.494049928387, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
145    10104 2000-12-31    2001-01-31  0.021497
146    10104 2001-01-31    2001-02-28  0.019075
147    10104 2001-02-28    2001-03-31  0.001199
148    10104 2001-03-31    2001-04-30  0.001872
149    10104 2001-04-30    2001-05-31  0.005258
...      ...        ...           ...       ...
68343  92655 2001-07-31    2001-08-31  0.021079
68344  92655 2001-08-31    2001-09-30  0.023788
68345  92655 2001-09-30    2001-10-31  0.030493
68346  92655 2001-10-31    2001-11-30  0.031843
68347  92655 2001-11-30    2001-12-31  0.028750

[1987 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.011106
1     0.049787    2      0.000045  0.011106
2     0.049787    2      0.000056  0.011106
3     0.049787    2      0.000068  0.011106
4     0.049787    2      0.000083  0.011106
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.011356
1814  0.135335  512  12015.339378  0.011362
1815  0.135335  512  14705.246237  0.011368
1816  0.135335  512  17997.349895  0.011372
1817  0.135335  512  22026.465795  0.011376

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda     12.494050
mse         0.011057
Name: 871, dtype: float64}, datetime.datetime(2001, 12, 31, 0, 0): {'fit': Ridge(alpha=8.341241958842371, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
157    10104 2001-12-31    2002-01-31  0.026811
158    10104 2002-01-31    2002-02-28  0.021400
159    10104 2002-02-28    2002-03-31  0.009137
160    10104 2002-03-31    2002-04-30  0.008155
161    10104 2002-04-30    2002-05-31  0.017745
...      ...        ...           ...       ...
68355  92655 2002-07-31    2002-08-31  0.011847
68356  92655 2002-08-31    2002-09-30  0.016378
68357  92655 2002-09-30    2002-10-31  0.015218
68358  92655 2002-10-31    2002-11-30  0.022548
68359  92655 2002-11-30    2002-12-31  0.008134

[2073 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.011964
1     0.049787    2      0.000045  0.011964
2     0.049787    2      0.000056  0.011964
3     0.049787    2      0.000068  0.011964
4     0.049787    2      0.000083  0.011964
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.012139
1814  0.135335  512  12015.339378  0.012146
1815  0.135335  512  14705.246237  0.012153
1816  0.135335  512  17997.349895  0.012158
1817  0.135335  512  22026.465795  0.012163

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda      8.341242
mse         0.011875
Name: 869, dtype: float64}, datetime.datetime(2002, 12, 31, 0, 0): {'fit': Ridge(alpha=8.341241958842371, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
169    10104 2002-12-31    2003-01-31  0.015604
170    10104 2003-01-31    2003-02-28  0.010123
171    10104 2003-02-28    2003-03-31  0.003543
172    10104 2003-03-31    2003-04-30  0.007319
173    10104 2003-04-30    2003-05-31  0.014401
...      ...        ...           ...       ...
68367  92655 2003-07-31    2003-08-31  0.009122
68368  92655 2003-08-31    2003-09-30  0.016569
68369  92655 2003-09-30    2003-10-31  0.014828
68370  92655 2003-10-31    2003-11-30  0.024247
68371  92655 2003-11-30    2003-12-31  0.014606

[2115 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.012849
1     0.049787    2      0.000045  0.012849
2     0.049787    2      0.000056  0.012849
3     0.049787    2      0.000068  0.012849
4     0.049787    2      0.000083  0.012849
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.012945
1814  0.135335  512  12015.339378  0.012951
1815  0.135335  512  14705.246237  0.012957
1816  0.135335  512  17997.349895  0.012961
1817  0.135335  512  22026.465795  0.012965

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda      8.341242
mse         0.012751
Name: 869, dtype: float64}, datetime.datetime(2003, 12, 31, 0, 0): {'fit': Ridge(alpha=8.341241958842371, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
181    10104 2003-12-31    2004-01-31  0.023396
182    10104 2004-01-31    2004-02-29  0.012382
183    10104 2004-02-29    2004-03-31  0.000030
184    10104 2004-03-31    2004-04-30  0.003711
185    10104 2004-04-30    2004-05-31  0.002256
...      ...        ...           ...       ...
68379  92655 2004-07-31    2004-08-31  0.004582
68380  92655 2004-08-31    2004-09-30  0.014636
68381  92655 2004-09-30    2004-10-31 -0.004376
68382  92655 2004-10-31    2004-11-30  0.003444
68383  92655 2004-11-30    2004-12-31  0.004910

[2127 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.012738
1     0.049787    2      0.000045  0.012738
2     0.049787    2      0.000056  0.012738
3     0.049787    2      0.000068  0.012738
4     0.049787    2      0.000083  0.012738
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.012891
1814  0.135335  512  12015.339378  0.012899
1815  0.135335  512  14705.246237  0.012906
1816  0.135335  512  17997.349895  0.012912
1817  0.135335  512  22026.465795  0.012917

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda      8.341242
mse         0.012638
Name: 869, dtype: float64}, datetime.datetime(2004, 12, 31, 0, 0): {'fit': Ridge(alpha=10.208618589139931, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
193    10104 2004-12-31    2005-01-31  0.021578
194    10104 2005-01-31    2005-02-28  0.018598
195    10104 2005-02-28    2005-03-31  0.009698
196    10104 2005-03-31    2005-04-30  0.003464
197    10104 2005-04-30    2005-05-31  0.015372
...      ...        ...           ...       ...
68391  92655 2005-07-31    2005-08-31  0.017262
68392  92655 2005-08-31    2005-09-30  0.018475
68393  92655 2005-09-30    2005-10-31  0.010632
68394  92655 2005-10-31    2005-11-30  0.008935
68395  92655 2005-11-30    2005-12-31  0.012366

[2155 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.012368
1     0.049787    2      0.000045  0.012368
2     0.049787    2      0.000056  0.012368
3     0.049787    2      0.000068  0.012368
4     0.049787    2      0.000083  0.012368
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.012540
1814  0.135335  512  12015.339378  0.012548
1815  0.135335  512  14705.246237  0.012556
1816  0.135335  512  17997.349895  0.012562
1817  0.135335  512  22026.465795  0.012568

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda     10.208619
mse         0.012267
Name: 870, dtype: float64}, datetime.datetime(2005, 12, 31, 0, 0): {'fit': Ridge(alpha=8.341241958842371, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
205    10104 2005-12-31    2006-01-31  0.011660
206    10104 2006-01-31    2006-02-28 -0.001245
207    10104 2006-02-28    2006-03-31 -0.010330
208    10104 2006-03-31    2006-04-30 -0.016472
209    10104 2006-04-30    2006-05-31 -0.020935
...      ...        ...           ...       ...
68403  92655 2006-07-31    2006-08-31  0.009398
68404  92655 2006-08-31    2006-09-30  0.002128
68405  92655 2006-09-30    2006-10-31  0.002068
68406  92655 2006-10-31    2006-11-30  0.021989
68407  92655 2006-11-30    2006-12-31  0.005365

[2160 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.011991
1     0.049787    2      0.000045  0.011991
2     0.049787    2      0.000056  0.011991
3     0.049787    2      0.000068  0.011991
4     0.049787    2      0.000083  0.011991
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.012117
1814  0.135335  512  12015.339378  0.012125
1815  0.135335  512  14705.246237  0.012133
1816  0.135335  512  17997.349895  0.012140
1817  0.135335  512  22026.465795  0.012146

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda      8.341242
mse         0.011886
Name: 869, dtype: float64}, datetime.datetime(2006, 12, 31, 0, 0): {'fit': Ridge(alpha=6.815448810083743, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
217    10104 2006-12-31    2007-01-31  0.011670
218    10104 2007-01-31    2007-02-28  0.009966
219    10104 2007-02-28    2007-03-31  0.002740
220    10104 2007-03-31    2007-04-30 -0.009106
221    10104 2007-04-30    2007-05-31  0.006552
...      ...        ...           ...       ...
68415  92655 2007-07-31    2007-08-31  0.008168
68416  92655 2007-08-31    2007-09-30  0.016587
68417  92655 2007-09-30    2007-10-31  0.012205
68418  92655 2007-10-31    2007-11-30  0.018031
68419  92655 2007-11-30    2007-12-31  0.009892

[2160 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.011511
1     0.049787    2      0.000045  0.011511
2     0.049787    2      0.000056  0.011511
3     0.049787    2      0.000068  0.011511
4     0.049787    2      0.000083  0.011511
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.011622
1814  0.135335  512  12015.339378  0.011631
1815  0.135335  512  14705.246237  0.011638
1816  0.135335  512  17997.349895  0.011646
1817  0.135335  512  22026.465795  0.011652

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda      6.815449
mse         0.011405
Name: 868, dtype: float64}, datetime.datetime(2007, 12, 31, 0, 0): {'fit': Ridge(alpha=12.494049928387, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
229    10104 2007-12-31    2008-01-31  0.005534
230    10104 2008-01-31    2008-02-29  0.003076
231    10104 2008-02-29    2008-03-31  0.002360
232    10104 2008-03-31    2008-04-30 -0.007562
233    10104 2008-04-30    2008-05-31  0.002033
...      ...        ...           ...       ...
68427  92655 2008-07-31    2008-08-31  0.018254
68428  92655 2008-08-31    2008-09-30  0.019531
68429  92655 2008-09-30    2008-10-31  0.023267
68430  92655 2008-10-31    2008-11-30  0.014296
68431  92655 2008-11-30    2008-12-31  0.014702

[2160 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.010969
1     0.049787    2      0.000045  0.010969
2     0.049787    2      0.000056  0.010969
3     0.049787    2      0.000068  0.010969
4     0.049787    2      0.000083  0.010969
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.011014
1814  0.135335  512  12015.339378  0.011022
1815  0.135335  512  14705.246237  0.011029
1816  0.135335  512  17997.349895  0.011036
1817  0.135335  512  22026.465795  0.011042

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda     12.494050
mse         0.010884
Name: 871, dtype: float64}, datetime.datetime(2008, 12, 31, 0, 0): {'fit': Ridge(alpha=9817.474528205568, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
241    10104 2008-12-31    2009-01-31  0.005685
242    10104 2009-01-31    2009-02-28  0.005386
243    10104 2009-02-28    2009-03-31  0.005306
244    10104 2009-03-31    2009-04-30  0.005623
245    10104 2009-04-30    2009-05-31  0.005501
...      ...        ...           ...       ...
68439  92655 2009-07-31    2009-08-31  0.006813
68440  92655 2009-08-31    2009-09-30  0.006570
68441  92655 2009-09-30    2009-10-31  0.006554
68442  92655 2009-10-31    2009-11-30  0.006660
68443  92655 2009-11-30    2009-12-31  0.006605

[2160 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.011284
1     0.049787    2      0.000045  0.011284
2     0.049787    2      0.000056  0.011284
3     0.049787    2      0.000068  0.011284
4     0.049787    2      0.000083  0.011284
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.011176
1814  0.135335  512  12015.339378  0.011178
1815  0.135335  512  14705.246237  0.011181
1816  0.135335  512  17997.349895  0.011184
1817  0.135335  512  22026.465795  0.011186

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.08034213,
        -0.08310463, -0.24574617],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.31145904,
         0.13853707,  0.11491348],
       [-0.11785105, -0.36052754,  0.14749356, ..., -0.14853694,
        -0.02885226,  0.067313  ],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ...,  0.10027904,
         0.25418988, -0.25019733],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.04856178,
        -0.05163338, -0.36358315],
       [ 0.07821738, -0.04538344, -0.02454242, ..., -0.35149474,
         0.33592988, -0.06830835]]), 'opt_hps': g            0.049787
p          128.000000
lambda    9817.474528
mse          0.011171
Name: 702, dtype: float64}, datetime.datetime(2009, 12, 31, 0, 0): {'fit': Ridge(alpha=6554.314328332986, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
253    10104 2009-12-31    2010-01-31  0.008091
254    10104 2010-01-31    2010-02-28  0.008199
255    10104 2010-02-28    2010-03-31  0.007948
256    10104 2010-03-31    2010-04-30  0.007745
257    10104 2010-04-30    2010-05-31  0.007294
...      ...        ...           ...       ...
68451  92655 2010-07-31    2010-08-31  0.008289
68452  92655 2010-08-31    2010-09-30  0.008339
68453  92655 2010-09-30    2010-10-31  0.008404
68454  92655 2010-10-31    2010-11-30  0.008507
68455  92655 2010-11-30    2010-12-31  0.008435

[2160 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.011916
1     0.049787    2      0.000045  0.011916
2     0.049787    2      0.000056  0.011916
3     0.049787    2      0.000068  0.011916
4     0.049787    2      0.000083  0.011916
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.011856
1814  0.135335  512  12015.339378  0.011861
1815  0.135335  512  14705.246237  0.011865
1816  0.135335  512  17997.349895  0.011869
1817  0.135335  512  22026.465795  0.011873

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],

# Barra COV

In [8]:
# Hvis du ikke har brug for den fjerde returnerede værdi, kan du bruge en underscore
cluster_data_d, ind_factors, clusters, cluster_data_m  = Estimate_Covariance_Matrix.process_cluster_data(chars, daily, file_path_cluster_labels, file_path_factor_details)

fct_ret_est = Estimate_Covariance_Matrix.run_regressions_by_date(cluster_data_d, ind_factors, clusters)
fct_ret = Estimate_Covariance_Matrix.create_factor_returns(fct_ret_est)

w_cor = (0.5 ** (1 / settings['cov_set']['hl_cor'])) ** np.arange(settings['cov_set']['obs'], 0, -1)
w_var = (0.5 ** (1 / settings['cov_set']['hl_var'])) ** np.arange(settings['cov_set']['obs'], 0, -1)

fct_dates = np.sort(fct_ret["date"].unique())
min_calc_date = fct_dates[settings["cov_set"]["obs"] - 1] - pd.DateOffset(months=1)
calc_dates = np.sort(cluster_data_m.loc[cluster_data_m["eom"] >= min_calc_date, "eom"].unique())

factor_cov_est = Estimate_Covariance_Matrix.factor_cov_estimate(calc_dates, fct_dates, fct_ret, w_cor, w_var, settings)

spec_risk = Estimate_Covariance_Matrix.unnest_spec_risk(fct_ret_est)
spec_risk_res_vol = Estimate_Covariance_Matrix.calculate_ewma(spec_risk, settings)

spec_risk_m, spec_risk_res_vol = Estimate_Covariance_Matrix.process_spec_risk_m(fct_dates, spec_risk_res_vol)
barra_cov = Estimate_Covariance_Matrix.calculate_barra_cov(calc_dates, cluster_data_m, spec_risk_m, factor_cov_est)

Processerer datoer: 100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 338/338 [00:04<00:00, 77.60it/s]

Just a quick check

In [40]:
print(barra_cov['2021-10-31'])

{'fct_load':        BusEq  Chems  Durbl  Enrgy  Hlth  Manuf  Money  NoDur  Other  Shops  \
id
10104    1.0    0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0    0.0
10107    1.0    0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0    0.0
10138    0.0    0.0    0.0    0.0   0.0    0.0    1.0    0.0    0.0    0.0
10696    1.0    0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0    0.0
11308    0.0    0.0    0.0    0.0   0.0    0.0    0.0    1.0    0.0    0.0
...      ...    ...    ...    ...   ...    ...    ...    ...    ...    ...
87299    1.0    0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0    0.0
87432    1.0    0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0    0.0
87447    0.0    0.0    0.0    0.0   0.0    0.0    0.0    0.0    1.0    0.0
87717    0.0    0.0    0.0    0.0   0.0    0.0    0.0    0.0    1.0    0.0
92655    0.0    0.0    0.0    0.0   0.0    0.0    1.0    0.0    0.0    0.0

       ...  low_leverage  low_risk  momentum  profit_growth  profitability  \
id     ...
10104  ...      0.144844  0.862182  1.190641      -0.803094       0.650965
10107  ...      1.992477  0.360991  0.890031       0.070375       2.439413
10138  ...      1.491387 -0.443457  0.825034       0.519131       1.771071
10696  ...     -0.750328 -0.726739 -1.506729       0.807616      -1.718027
11308  ...     -0.872325  1.911778 -0.690206       0.118456       0.767654
...    ...           ...       ...       ...            ...            ...
87299  ...      1.309636  0.139450 -1.498605      -0.698919      -0.479062
87432  ...      1.333494  0.606139  0.686915       0.839670      -0.220600
87447  ...      0.293321 -0.387164 -0.422094       0.286739       0.635509
87717  ...      1.872627  0.230245  0.187252      -0.089894       0.565971
92655  ...     -0.179254  0.384598  0.089757      -0.899256      -0.346365

        quality  seasonality  short_term_reversal      size     value
id
10104  0.163714    -1.227813            -1.123023 -1.067049 -0.048925
10107  1.353721    -1.360289            -1.826444 -1.892219 -1.670911
10138  1.133153    -0.274702            -1.147618  0.066859 -0.399291
10696 -0.962156     0.969117             1.720177 -0.314852 -0.330282
11308  0.032428     0.465614            -0.414682 -0.876193 -0.840957
...         ...          ...                  ...       ...       ...
87299  0.630280     0.306773             0.323172  0.802215 -0.756454
87432  0.773669     0.619747             0.603557 -0.000502 -1.495404
87447  0.922284     2.403565            -2.077315 -1.044595 -0.439934
87717  1.307856     1.773000             0.470743  0.830282 -0.815874
92655  0.687024     0.394035            -1.152537 -1.740657 -0.627351

[179 rows x 25 columns], 'fct_cov':                         BusEq     Chems     Durbl     Enrgy          Hlth  \
BusEq                0.003692  0.003346  0.003472  0.004227  2.935397e-03
Chems                0.003346  0.004502  0.003447  0.004689  2.860311e-03
Durbl                0.003472  0.003447  0.006897  0.004618  2.862883e-03
Enrgy                0.004227  0.004689  0.004618  0.010609  3.495154e-03
Hlth                 0.002935  0.002860  0.002863  0.003495  3.176160e-03
Manuf                0.003914  0.003938  0.004029  0.005475  3.240532e-03
Money                0.003292  0.003334  0.003477  0.004201  2.896763e-03
NoDur                0.002295  0.002474  0.002421  0.002728  2.108311e-03
Other                0.003292  0.003333  0.003466  0.004260  2.797802e-03
Shops                0.003344  0.003470  0.003626  0.004251  2.944696e-03
Telcm                0.002994  0.003022  0.003332  0.003869  2.571114e-03
Utils                0.002441  0.002509  0.002614  0.002624  2.337810e-03
accruals            -0.000076 -0.000065 -0.000131 -0.000055 -6.528948e-05
debt_issuance       -0.000074 -0.000094 -0.000095 -0.000027 -7.434403e-05
investment          -0.000108 -0.000053 -0.000123 -0.000117 -3.937529e-05
low_leverage        -0.000107 -0.000099 -0.000107 -0.000116 -1.016887e-04
low_risk            -0.000683 -0.000708 -0.000695 -0.000986 -5.805022e-04
momentum            -0.000110 -0.000181 -0.000040 -0.000144 -1.179716e-04
profit_growth       -0.000038 -0.000081  0.000019 -0.000101 -2.644437e-05
profitability        0.000156  0.000159  0.000155  0.000217  1.380061e-04
quality             -0.000355 -0.000433 -0.000425 -0.000815 -2.683312e-04
seasonality         -0.000010 -0.000045 -0.000048 -0.000072 -1.927036e-05
short_term_reversal  0.000100  0.000122  0.000090  0.000187  8.927496e-05
size                 0.000010  0.000037  0.000050  0.000207  7.502443e-07
value                0.000049  0.000114 -0.000024 -0.000013  9.267798e-05

                        Manuf     Money     NoDur     Other     Shops  ...  \
BusEq                0.003914  0.003292  0.002295  0.003292  0.003344  ...
Chems                0.003938  0.003334  0.002474  0.003333  0.003470  ...
Durbl                0.004029  0.003477  0.002421  0.003466  0.003626  ...
Enrgy                0.005475  0.004201  0.002728  0.004260  0.004251  ...
Hlth                 0.003241  0.002897  0.002108  0.002798  0.002945  ...
Manuf                0.005025  0.003780  0.002577  0.003840  0.003882  ...
Money                0.003780  0.003850  0.002380  0.003366  0.003402  ...
NoDur                0.002577  0.002380  0.003057  0.002344  0.002428  ...
Other                0.003840  0.003366  0.002344  0.003579  0.003342  ...
Shops                0.003882  0.003402  0.002428  0.003342  0.004075  ...
Telcm                0.003265  0.002989  0.002380  0.002946  0.003055  ...
Utils                0.002599  0.002700  0.002220  0.002507  0.002507  ...
accruals            -0.000068 -0.000057 -0.000020 -0.000054 -0.000104  ...
debt_issuance       -0.000076 -0.000109 -0.000050 -0.000076 -0.000127  ...
investment          -0.000107  0.000017 -0.000014 -0.000049 -0.000003  ...
low_leverage        -0.000133 -0.000102  0.000026 -0.000133 -0.000119  ...
low_risk            -0.000810 -0.000673 -0.000468 -0.000711 -0.000728  ...
momentum            -0.000186 -0.000168 -0.000076 -0.000197 -0.000188  ...
profit_growth       -0.000076 -0.000071 -0.000052 -0.000083 -0.000065  ...
profitability        0.000155  0.000111  0.000070  0.000096  0.000120  ...
quality             -0.000483 -0.000259 -0.000205 -0.000292 -0.000407  ...
seasonality         -0.000024 -0.000036 -0.000040 -0.000058 -0.000044  ...
short_term_reversal  0.000129  0.000109  0.000051  0.000114  0.000111  ...
size                 0.000068 -0.000001 -0.000034  0.000012  0.000057  ...
value                0.000147  0.000069  0.000110  0.000088  0.000108  ...

                     low_leverage      low_risk      momentum  profit_growth  \
BusEq               -1.073372e-04 -6.834171e-04 -1.098513e-04      -0.000038
Chems               -9.949199e-05 -7.077491e-04 -1.810796e-04      -0.000081
Durbl               -1.065841e-04 -6.946219e-04 -3.984650e-05       0.000019
Enrgy               -1.157078e-04 -9.856763e-04 -1.439256e-04      -0.000101
Hlth                -1.016887e-04 -5.805022e-04 -1.179716e-04      -0.000026
Manuf               -1.331208e-04 -8.096950e-04 -1.856494e-04      -0.000076
Money               -1.018312e-04 -6.733715e-04 -1.678995e-04      -0.000071
NoDur                2.600744e-05 -4.681196e-04 -7.611452e-05      -0.000052
Other               -1.328023e-04 -7.114749e-04 -1.966710e-04      -0.000083
Shops               -1.190454e-04 -7.280478e-04 -1.876129e-04      -0.000065
Telcm               -5.921339e-05 -6.596200e-04 -7.793849e-05      -0.000031
Utils               -6.611972e-05 -4.523963e-04 -6.579260e-05      -0.000039
accruals             1.730206e-05  1.054247e-05 -6.434924e-06      -0.000009
debt_issuance       -8.394181e-07  1.421854e-05  2.187604e-05      -0.000003
investment           1.787501e-05  2.043938e-05 -1.810286e-05      -0.000014
low_leverage         1.028515e-04  2.800386e-05  2.386635e-05       0.000009
low_risk             2.800386e-05  3.082692e-04  6.721147e-05       0.000018
momentum             2.386635e-05  6.721147e-05  2.976362e-04       0.000013
profit_growth        8.721651e-06  1.776112e-05  1.331323e-05       0.000082
profitability        9.804831e-06 -2.078298e-05  5.253477e-06      -0.000006
quality             -6.154145e-05  9.301001e-05  3.831610e-05       0.000010
seasonality          3.233358e-06  1.233985e-05  3.288757e-07       0.000002
short_term_reversal -4.615220e-06 -4.350971e-05 -1.842561e-05      -0.000008
size                -1.655306e-05 -7.880566e-07  7.659910e-06      -0.000007
value               -1.473401e-05 -2.150495e-05  1.162077e-05      -0.000016

                     profitability   quality   seasonality  \
BusEq                 1.557917e-04 -0.000355 -1.000999e-05
Chems                 1.591818e-04 -0.000433 -4.539662e-05
Durbl                 1.550700e-04 -0.000425 -4.775956e-05
Enrgy                 2.170894e-04 -0.000815 -7.189043e-05
Hlth                  1.380061e-04 -0.000268 -1.927036e-05
Manuf                 1.551032e-04 -0.000483 -2.402061e-05
Money                 1.109708e-04 -0.000259 -3.631398e-05
NoDur                 7.028512e-05 -0.000205 -3.971879e-05
Other                 9.563081e-05 -0.000292 -5.820368e-05
Shops                 1.201738e-04 -0.000407 -4.375283e-05
Telcm                 1.259026e-04 -0.000341 -6.976415e-05
Utils                 8.631794e-05 -0.000027 -4.805476e-05
accruals              5.186930e-06 -0.000021 -4.551887e-06
debt_issuance        -7.260643e-06  0.000013 -4.348719e-06
investment           -7.040162e-07  0.000005  1.854940e-07
low_leverage          9.804831e-06 -0.000062  3.233358e-06
low_risk             -2.078298e-05  0.000093  1.233985e-05
momentum              5.253477e-06  0.000038  3.288757e-07
profit_growth        -5.884554e-06  0.000010  1.943266e-06
profitability         1.078176e-04 -0.000119  4.015963e-06
quality              -1.192896e-04  0.000381 -1.141474e-05
seasonality           4.015963e-06 -0.000011  5.627209e-05
short_term_reversal   5.247591e-06 -0.000027 -4.071097e-06
size                  8.312160e-06 -0.000019 -4.123212e-06
value                -4.427962e-06  0.000048  1.209485e-06

                     short_term_reversal          size         value
BusEq                       9.979464e-05  9.605392e-06  4.894912e-05
Chems                       1.215783e-04  3.741697e-05  1.139525e-04
Durbl                       9.030823e-05  5.043680e-05 -2.355174e-05
Enrgy                       1.873155e-04  2.065252e-04 -1.282790e-05
Hlth                        8.927496e-05  7.502443e-07  9.267798e-05
Manuf                       1.289460e-04  6.825786e-05  1.471826e-04
Money                       1.093400e-04 -1.148954e-06  6.866568e-05
NoDur                       5.075261e-05 -3.446415e-05  1.102136e-04
Other                       1.144310e-04  1.167035e-05  8.840066e-05
Shops                       1.107976e-04  5.744880e-05  1.077239e-04
Telcm                       9.442219e-05 -1.042763e-06  2.258367e-05
Utils                       8.125905e-05 -3.112570e-05  1.937879e-05
accruals                    2.823506e-06 -4.915871e-06 -1.388156e-05
debt_issuance               2.799469e-07 -5.960545e-06 -1.209701e-05
investment                 -6.735647e-06  8.818697e-07 -3.336434e-06
low_leverage               -4.615220e-06 -1.655306e-05 -1.473401e-05
low_risk                   -4.350971e-05 -7.880566e-07 -2.150495e-05
momentum                   -1.842561e-05  7.659910e-06  1.162077e-05
profit_growth              -7.518464e-06 -7.347318e-06 -1.646284e-05
profitability               5.247591e-06  8.312160e-06 -4.427962e-06
quality                    -2.675998e-05 -1.877051e-05  4.822402e-05
seasonality                -4.071097e-06 -4.123212e-06  1.209485e-06
short_term_reversal         4.694372e-05  2.121575e-06  2.281709e-07
size                        2.121575e-06  7.243169e-05 -9.103150e-06
value                       2.281709e-07 -9.103150e-06  1.759304e-04

[25 rows x 25 columns], 'ivol_vec': id
10104    0.003200
10107    0.002263
10138    0.002729
10696    0.003884
11308    0.001674
           ...
87299    0.004219
87432    0.002088
87447    0.004432
87717    0.001925
92655    0.002276
Name: res_vol, Length: 179, dtype: float64}

In [41]:
print(barra_cov['2021-10-31']['ivol_vec'])

id
10104    0.003200
10107    0.002263
10138    0.002729
10696    0.003884
11308    0.001674
           ...
87299    0.004219
87432    0.002088
87447    0.004432
87717    0.001925
92655    0.002276
Name: res_vol, Length: 179, dtype: float64

# Prepare Portfolio Data - tilføj return predictions, lambda list og datoer

In [54]:
print(model_1)

{datetime.datetime(2000, 12, 31, 0, 0): {'fit': Ridge(alpha=12.494049928387, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
145    10104 2000-12-31    2001-01-31  0.021497
146    10104 2001-01-31    2001-02-28  0.019075
147    10104 2001-02-28    2001-03-31  0.001199
148    10104 2001-03-31    2001-04-30  0.001872
149    10104 2001-04-30    2001-05-31  0.005258
...      ...        ...           ...       ...
68343  92655 2001-07-31    2001-08-31  0.021079
68344  92655 2001-08-31    2001-09-30  0.023788
68345  92655 2001-09-30    2001-10-31  0.030493
68346  92655 2001-10-31    2001-11-30  0.031843
68347  92655 2001-11-30    2001-12-31  0.028750

[1987 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.011106
1     0.049787    2      0.000045  0.011106
2     0.049787    2      0.000056  0.011106
3     0.049787    2      0.000068  0.011106
4     0.049787    2      0.000083  0.011106
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.011356
1814  0.135335  512  12015.339378  0.011362
1815  0.135335  512  14705.246237  0.011368
1816  0.135335  512  17997.349895  0.011372
1817  0.135335  512  22026.465795  0.011376

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda     12.494050
mse         0.011057
Name: 871, dtype: float64}, datetime.datetime(2001, 12, 31, 0, 0): {'fit': Ridge(alpha=8.341241958842371, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
157    10104 2001-12-31    2002-01-31  0.026811
158    10104 2002-01-31    2002-02-28  0.021400
159    10104 2002-02-28    2002-03-31  0.009137
160    10104 2002-03-31    2002-04-30  0.008155
161    10104 2002-04-30    2002-05-31  0.017745
...      ...        ...           ...       ...
68355  92655 2002-07-31    2002-08-31  0.011847
68356  92655 2002-08-31    2002-09-30  0.016378
68357  92655 2002-09-30    2002-10-31  0.015218
68358  92655 2002-10-31    2002-11-30  0.022548
68359  92655 2002-11-30    2002-12-31  0.008134

[2073 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.011964
1     0.049787    2      0.000045  0.011964
2     0.049787    2      0.000056  0.011964
3     0.049787    2      0.000068  0.011964
4     0.049787    2      0.000083  0.011964
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.012139
1814  0.135335  512  12015.339378  0.012146
1815  0.135335  512  14705.246237  0.012153
1816  0.135335  512  17997.349895  0.012158
1817  0.135335  512  22026.465795  0.012163

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda      8.341242
mse         0.011875
Name: 869, dtype: float64}, datetime.datetime(2002, 12, 31, 0, 0): {'fit': Ridge(alpha=8.341241958842371, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
169    10104 2002-12-31    2003-01-31  0.015604
170    10104 2003-01-31    2003-02-28  0.010123
171    10104 2003-02-28    2003-03-31  0.003543
172    10104 2003-03-31    2003-04-30  0.007319
173    10104 2003-04-30    2003-05-31  0.014401
...      ...        ...           ...       ...
68367  92655 2003-07-31    2003-08-31  0.009122
68368  92655 2003-08-31    2003-09-30  0.016569
68369  92655 2003-09-30    2003-10-31  0.014828
68370  92655 2003-10-31    2003-11-30  0.024247
68371  92655 2003-11-30    2003-12-31  0.014606

[2115 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.012849
1     0.049787    2      0.000045  0.012849
2     0.049787    2      0.000056  0.012849
3     0.049787    2      0.000068  0.012849
4     0.049787    2      0.000083  0.012849
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.012945
1814  0.135335  512  12015.339378  0.012951
1815  0.135335  512  14705.246237  0.012957
1816  0.135335  512  17997.349895  0.012961
1817  0.135335  512  22026.465795  0.012965

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda      8.341242
mse         0.012751
Name: 869, dtype: float64}, datetime.datetime(2003, 12, 31, 0, 0): {'fit': Ridge(alpha=8.341241958842371, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
181    10104 2003-12-31    2004-01-31  0.023396
182    10104 2004-01-31    2004-02-29  0.012382
183    10104 2004-02-29    2004-03-31  0.000030
184    10104 2004-03-31    2004-04-30  0.003711
185    10104 2004-04-30    2004-05-31  0.002256
...      ...        ...           ...       ...
68379  92655 2004-07-31    2004-08-31  0.004582
68380  92655 2004-08-31    2004-09-30  0.014636
68381  92655 2004-09-30    2004-10-31 -0.004376
68382  92655 2004-10-31    2004-11-30  0.003444
68383  92655 2004-11-30    2004-12-31  0.004910

[2127 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.012738
1     0.049787    2      0.000045  0.012738
2     0.049787    2      0.000056  0.012738
3     0.049787    2      0.000068  0.012738
4     0.049787    2      0.000083  0.012738
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.012891
1814  0.135335  512  12015.339378  0.012899
1815  0.135335  512  14705.246237  0.012906
1816  0.135335  512  17997.349895  0.012912
1817  0.135335  512  22026.465795  0.012917

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda      8.341242
mse         0.012638
Name: 869, dtype: float64}, datetime.datetime(2004, 12, 31, 0, 0): {'fit': Ridge(alpha=10.208618589139931, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
193    10104 2004-12-31    2005-01-31  0.021578
194    10104 2005-01-31    2005-02-28  0.018598
195    10104 2005-02-28    2005-03-31  0.009698
196    10104 2005-03-31    2005-04-30  0.003464
197    10104 2005-04-30    2005-05-31  0.015372
...      ...        ...           ...       ...
68391  92655 2005-07-31    2005-08-31  0.017262
68392  92655 2005-08-31    2005-09-30  0.018475
68393  92655 2005-09-30    2005-10-31  0.010632
68394  92655 2005-10-31    2005-11-30  0.008935
68395  92655 2005-11-30    2005-12-31  0.012366

[2155 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.012368
1     0.049787    2      0.000045  0.012368
2     0.049787    2      0.000056  0.012368
3     0.049787    2      0.000068  0.012368
4     0.049787    2      0.000083  0.012368
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.012540
1814  0.135335  512  12015.339378  0.012548
1815  0.135335  512  14705.246237  0.012556
1816  0.135335  512  17997.349895  0.012562
1817  0.135335  512  22026.465795  0.012568

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda     10.208619
mse         0.012267
Name: 870, dtype: float64}, datetime.datetime(2005, 12, 31, 0, 0): {'fit': Ridge(alpha=8.341241958842371, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
205    10104 2005-12-31    2006-01-31  0.011660
206    10104 2006-01-31    2006-02-28 -0.001245
207    10104 2006-02-28    2006-03-31 -0.010330
208    10104 2006-03-31    2006-04-30 -0.016472
209    10104 2006-04-30    2006-05-31 -0.020935
...      ...        ...           ...       ...
68403  92655 2006-07-31    2006-08-31  0.009398
68404  92655 2006-08-31    2006-09-30  0.002128
68405  92655 2006-09-30    2006-10-31  0.002068
68406  92655 2006-10-31    2006-11-30  0.021989
68407  92655 2006-11-30    2006-12-31  0.005365

[2160 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.011991
1     0.049787    2      0.000045  0.011991
2     0.049787    2      0.000056  0.011991
3     0.049787    2      0.000068  0.011991
4     0.049787    2      0.000083  0.011991
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.012117
1814  0.135335  512  12015.339378  0.012125
1815  0.135335  512  14705.246237  0.012133
1816  0.135335  512  17997.349895  0.012140
1817  0.135335  512  22026.465795  0.012146

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda      8.341242
mse         0.011886
Name: 869, dtype: float64}, datetime.datetime(2006, 12, 31, 0, 0): {'fit': Ridge(alpha=6.815448810083743, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
217    10104 2006-12-31    2007-01-31  0.011670
218    10104 2007-01-31    2007-02-28  0.009966
219    10104 2007-02-28    2007-03-31  0.002740
220    10104 2007-03-31    2007-04-30 -0.009106
221    10104 2007-04-30    2007-05-31  0.006552
...      ...        ...           ...       ...
68415  92655 2007-07-31    2007-08-31  0.008168
68416  92655 2007-08-31    2007-09-30  0.016587
68417  92655 2007-09-30    2007-10-31  0.012205
68418  92655 2007-10-31    2007-11-30  0.018031
68419  92655 2007-11-30    2007-12-31  0.009892

[2160 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.011511
1     0.049787    2      0.000045  0.011511
2     0.049787    2      0.000056  0.011511
3     0.049787    2      0.000068  0.011511
4     0.049787    2      0.000083  0.011511
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.011622
1814  0.135335  512  12015.339378  0.011631
1815  0.135335  512  14705.246237  0.011638
1816  0.135335  512  17997.349895  0.011646
1817  0.135335  512  22026.465795  0.011652

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda      6.815449
mse         0.011405
Name: 868, dtype: float64}, datetime.datetime(2007, 12, 31, 0, 0): {'fit': Ridge(alpha=12.494049928387, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
229    10104 2007-12-31    2008-01-31  0.005534
230    10104 2008-01-31    2008-02-29  0.003076
231    10104 2008-02-29    2008-03-31  0.002360
232    10104 2008-03-31    2008-04-30 -0.007562
233    10104 2008-04-30    2008-05-31  0.002033
...      ...        ...           ...       ...
68427  92655 2008-07-31    2008-08-31  0.018254
68428  92655 2008-08-31    2008-09-30  0.019531
68429  92655 2008-09-30    2008-10-31  0.023267
68430  92655 2008-10-31    2008-11-30  0.014296
68431  92655 2008-11-30    2008-12-31  0.014702

[2160 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.010969
1     0.049787    2      0.000045  0.010969
2     0.049787    2      0.000056  0.010969
3     0.049787    2      0.000068  0.010969
4     0.049787    2      0.000083  0.010969
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.011014
1814  0.135335  512  12015.339378  0.011022
1815  0.135335  512  14705.246237  0.011029
1816  0.135335  512  17997.349895  0.011036
1817  0.135335  512  22026.465795  0.011042

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],
       [ 0.07821738, -0.04538344, -0.02454242, ...,  0.05106695,
         0.37682196, -0.12110504]]), 'opt_hps': g           0.049787
p         512.000000
lambda     12.494050
mse         0.010884
Name: 871, dtype: float64}, datetime.datetime(2008, 12, 31, 0, 0): {'fit': Ridge(alpha=9817.474528205568, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
241    10104 2008-12-31    2009-01-31  0.005685
242    10104 2009-01-31    2009-02-28  0.005386
243    10104 2009-02-28    2009-03-31  0.005306
244    10104 2009-03-31    2009-04-30  0.005623
245    10104 2009-04-30    2009-05-31  0.005501
...      ...        ...           ...       ...
68439  92655 2009-07-31    2009-08-31  0.006813
68440  92655 2009-08-31    2009-09-30  0.006570
68441  92655 2009-09-30    2009-10-31  0.006554
68442  92655 2009-10-31    2009-11-30  0.006660
68443  92655 2009-11-30    2009-12-31  0.006605

[2160 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.011284
1     0.049787    2      0.000045  0.011284
2     0.049787    2      0.000056  0.011284
3     0.049787    2      0.000068  0.011284
4     0.049787    2      0.000083  0.011284
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.011176
1814  0.135335  512  12015.339378  0.011178
1815  0.135335  512  14705.246237  0.011181
1816  0.135335  512  17997.349895  0.011184
1817  0.135335  512  22026.465795  0.011186

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.08034213,
        -0.08310463, -0.24574617],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.31145904,
         0.13853707,  0.11491348],
       [-0.11785105, -0.36052754,  0.14749356, ..., -0.14853694,
        -0.02885226,  0.067313  ],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ...,  0.10027904,
         0.25418988, -0.25019733],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.04856178,
        -0.05163338, -0.36358315],
       [ 0.07821738, -0.04538344, -0.02454242, ..., -0.35149474,
         0.33592988, -0.06830835]]), 'opt_hps': g            0.049787
p          128.000000
lambda    9817.474528
mse          0.011171
Name: 702, dtype: float64}, datetime.datetime(2009, 12, 31, 0, 0): {'fit': Ridge(alpha=6554.314328332986, fit_intercept=False), 'pred':           id        eom eom_pred_last      pred
253    10104 2009-12-31    2010-01-31  0.008091
254    10104 2010-01-31    2010-02-28  0.008199
255    10104 2010-02-28    2010-03-31  0.007948
256    10104 2010-03-31    2010-04-30  0.007745
257    10104 2010-04-30    2010-05-31  0.007294
...      ...        ...           ...       ...
68451  92655 2010-07-31    2010-08-31  0.008289
68452  92655 2010-08-31    2010-09-30  0.008339
68453  92655 2010-09-30    2010-10-31  0.008404
68454  92655 2010-10-31    2010-11-30  0.008507
68455  92655 2010-11-30    2010-12-31  0.008435

[2160 rows x 4 columns], 'hp_search':              g    p        lambda       mse
0     0.049787    2      0.000000  0.011916
1     0.049787    2      0.000045  0.011916
2     0.049787    2      0.000056  0.011916
3     0.049787    2      0.000068  0.011916
4     0.049787    2      0.000083  0.011916
...        ...  ...           ...       ...
1813  0.135335  512   9817.474528  0.011856
1814  0.135335  512  12015.339378  0.011861
1815  0.135335  512  14705.246237  0.011865
1816  0.135335  512  17997.349895  0.011869
1817  0.135335  512  22026.465795  0.011873

[1818 rows x 4 columns], 'W': array([[ 0.36244044, -0.29281001,  0.05414687, ..., -0.15295988,
        -0.23647131,  0.11513058],
       [-0.13650131, -0.00863414,  0.0450344 , ..., -0.06550002,
        -0.14556484,  0.00509535],
       [-0.11785105, -0.36052754,  0.14749356, ...,  0.11876146,
         0.15518897, -0.11110662],
       ...,
       [ 0.18880396, -0.04436672, -0.09867469, ..., -0.09001146,
         0.03780986, -0.31592306],
       [-0.19178393, -0.15628003,  0.07218871, ...,  0.02794131,
         0.13599124, -0.24910188],

In [9]:
chars = prepare_portfolio_data.add_return_predictions(chars,settings, output_path)

In [10]:
print(chars.shape) #Skal være 73216 x 131
print(chars[['id', 'eom','pred_ld1']])

(73216, 131)
          id        eom  pred_ld1
0      10104 1986-12-31       NaN
1      10104 1987-01-31       NaN
2      10104 1987-02-28       NaN
3      10104 1987-03-31       NaN
4      10104 1987-04-30       NaN
...      ...        ...       ...
73211  92655 2022-07-31  0.010957
73212  92655 2022-08-31  0.009506
73213  92655 2022-09-30  0.010641
73214  92655 2022-10-31  0.010774
73215  92655 2022-11-30  0.011608

[73216 rows x 3 columns]

In [11]:
lambda_list = prepare_portfolio_data.create_lambda_list(chars)

In [14]:
print(lambda_list['2021-10-31'])

{10104: 2.1068747835833751e-10, 10107: 3.034783408033585e-11, 10138: 1.014425423141795e-09, 10696: 4.3268657868458776e-10, 11308: 2.5674127083269843e-10, 11850: 1.5210112818417197e-10, 11955: 9.846108938145744e-10, 12060: 2.392171855561806e-10, 12062: 1.1115228863141125e-09, 12490: 3.103196145302579e-10, 13688: 1.2451492409136745e-09, 13856: 3.0647710531490904e-10, 13901: 5.984566822586187e-10, 14008: 3.4654779374858333e-10, 14277: 5.572628200703795e-10, 14541: 1.8678925436727748e-10, 14593: 1.7957730786929064e-11, 14702: 1.9775531529792074e-10, 15720: 1.868244462399027e-09, 17778: 3.3642773554010653e-10, 18163: 1.9283146734748652e-10, 18411: 7.948401354253297e-10, 19393: 3.2583660018022594e-10, 19561: 8.240904270111589e-11, 20482: 3.1099118409527434e-10, 21371: 1.314659590664529e-09, 21936: 1.611785023727204e-10, 22103: 8.191041680175024e-10, 22111: 1.9039009050878924e-10, 22592: 4.542098255993858e-10, 22752: 2.035214983043305e-10, 25320: 1.6935230409360711e-09, 25785: 1.9152306625614746e-10, 26403: 1.300858318550244e-10, 26710: 4.261216668243205e-09, 26825: 1.4266895450921302e-09, 27828: 7.011202934968308e-10, 27887: 8.228607433666173e-10, 27959: 6.694802540759934e-10, 27983: 4.3498083361163196e-09, 29647: 3.600729793708159e-09, 30681: 1.622361687420668e-09, 33099: 1.1675863842050591e-08, 34746: 1.0568616933006941e-09, 34833: 4.072752591252184e-10, 35554: 1.50858629650637e-09, 37584: 2.2978543734267017e-09, 38703: 1.618039225608123e-10, 43449: 3.393062615352067e-10, 44644: 6.664589436027356e-10, 45356: 7.359525134705471e-10, 45751: 7.086778242556605e-10, 46886: 5.816412256201998e-10, 47896: 1.0256893869287518e-10, 48506: 9.812786220405609e-10, 48725: 3.1612110208303623e-10, 49154: 2.7140260413194735e-10, 49656: 8.156697286389802e-10, 49680: 3.1011863280490913e-10, 50876: 2.932760534099583e-10, 52038: 1.1082102524600123e-09, 53613: 1.387704702188205e-10, 55976: 1.880093169212988e-10, 56274: 1.7213679558650745e-09, 56573: 9.887519617011697e-10, 57665: 2.0226138451452302e-10, 57904: 1.1855095938774997e-09, 58246: 2.2827029099773286e-09, 58683: 5.465638416043764e-10, 59010: 9.97238020097368e-10, 59176: 3.442145163191078e-10, 59328: 1.5560729603769442e-10, 59408: 1.0556028048624804e-10, 59459: 1.1355121346840164e-09, 60097: 3.73542008937204e-10, 60442: 6.331843343108025e-10, 60628: 2.902778495162662e-10, 60871: 3.062282525211e-10, 61399: 2.7555742501474107e-10, 61621: 1.2669654708781307e-09, 61735: 4.311947448981604e-10, 62148: 5.630356912219512e-10, 64186: 4.699230876861542e-10, 64282: 7.837548735585992e-10, 64311: 6.26794262065164e-10, 64390: 7.686017137563221e-10, 64936: 7.934272752261853e-10, 64995: 1.2792706802764981e-09, 65875: 2.1870649336366644e-10, 66093: 1.7629668812006268e-10, 66157: 6.108823033268023e-10, 66181: 1.817307223280879e-10, 66800: 9.068422111681899e-10, 67774: 2.771633750947282e-09, 69032: 2.3850871454299093e-10, 70033: 2.7866847346831892e-09, 70519: 1.4548180907906622e-10, 71298: 5.918753221697916e-10, 71563: 6.884946929338272e-10, 72726: 1.0552473242899778e-09, 73139: 6.768182589609029e-10, 75034: 9.582575739274716e-10, 75186: 4.3716420920651744e-10, 75510: 1.7339345324091214e-10, 75607: 1.6220312915415766e-09, 75825: 5.720431931763252e-10, 75828: 5.90629050706354e-10, 75844: 1.781213427381532e-09, 76076: 2.1632677914615059e-10, 76226: 3.6118496645124137e-10, 76605: 7.278266882817806e-10, 76712: 1.52263705786961e-09, 76841: 3.9591642579022623e-10, 77178: 1.9961934550555256e-10, 77274: 4.503337116809119e-10, 77462: 5.911053856521099e-10, 77605: 7.26379115065639e-10, 77606: 1.080786408477785e-09, 77702: 3.137537570417939e-10, 78045: 1.808894655002592e-09, 78405: 1.2049244303200469e-08, 78975: 3.4670578094326564e-10, 78987: 7.279877967915009e-10, 79057: 6.266147171054879e-10, 79145: 6.224112570765424e-10, 79237: 2.392092152462205e-09, 79323: 9.367377705767093e-10, 80070: 1.2947290274648961e-09, 80924: 1.799932289091352e-09, 81055: 4.1202692838666155e-10, 81061: 9.84106258825265e-10, 81132: 2.7202515460653802e-09, 81284: 2.752412235264031e-09, 81472: 3.3302846346426157e-10, 81540: 1.865139014328844e-09, 81696: 2.1912874924632595e-09, 81774: 2.4807939460525667e-10, 82307: 2.6095708295361112e-09, 82311: 2.7797544442936158e-09, 82598: 1.5867101339744798e-09, 82642: 5.69290276097375e-10, 82651: 1.4917503192921689e-09, 82654: 1.9153486435638772e-09, 82775: 1.5422357706864402e-09, 83443: 1.6470201923883798e-10, 83639: 1.8362579798975774e-09, 83835: 1.8786027098054785e-09, 84032: 2.6781072437892772e-09, 84181: 8.254896879842811e-10, 84373: 1.189376197093246e-09, 84381: 1.1208130436800685e-09, 84769: 1.189607923301932e-09, 84788: 1.8102585956592e-11, 85259: 1.56608315813335e-09, 85269: 7.016571511763978e-10, 85348: 1.0415220654914993e-09, 85459: 2.07646249420712e-09, 85636: 3.798958786359396e-09, 85753: 1.926541638008782e-09, 85913: 6.860858737621643e-10, 85914: 7.813910109866128e-10, 86136: 1.067605800565268e-09, 86144: 4.819902055965605e-09, 86158: 8.178047994328941e-10, 86228: 1.5687569144468956e-09, 86356: 4.171622953140921e-10, 86580: 3.1872304946218166e-11, 86783: 3.034986759360734e-10, 86868: 2.0644294066832947e-10, 86964: 2.2816234270489207e-09, 86979: 2.315615366335103e-09, 87055: 2.6146184910588224e-10, 87137: 5.912488862999369e-10, 87212: 2.860073500694062e-09, 87267: 4.3418323195735124e-10, 87299: 1.516923474772429e-09, 87432: 8.243119316795478e-10, 87447: 3.322724114270168e-10, 87717: 1.5289543200325694e-09, 92655: 1.750893484200621e-10}

In [20]:
first_cov_date, hp_years, start_oos = prepare_portfolio_data.define_important_dates(barra_cov, settings)
date_ranges = prepare_portfolio_data.create_date_ranges(settings, first_cov_date, start_oos, hp_years)
dates_m1 = date_ranges["dates_m1"]
dates_m2 = date_ranges["dates_m2"]
dates_oos = date_ranges["dates_oos"]
dates_hp = date_ranges["dates_hp"]
#Disse er alle korrekte

# Base cases

In [35]:
ew = portfolio_choice_functions.ew_implement(data=chars, wealth=wealth, dates=dates_oos, pf_set=pf_set)
mkt = portfolio_choice_functions.mkt_implement(data=chars, wealth=wealth, dates=dates_oos, pf_set= pf_set)
rw = portfolio_choice_functions.rw_implement(data=chars, wealth=wealth, dates=dates_oos, pf_set= pf_set)
mv = portfolio_choice_functions.mv_implement(data=chars, cov_list=barra_cov ,wealth=wealth, dates=dates_oos, pf_set= pf_set)
factor_ml = portfolio_choice_functions.factor_ml_implement(data = chars, wealth = wealth, dates= dates_oos, n_pfs=settings["factor_ml"]["n_pfs"]
, gam=pf_set['gamma_rel'])

In [28]:
mkt

{'w':           id        eom   w_start         w    tr_ld1    mu_ld1
 0      10104 2010-12-31  0.019620  0.019620       NaN       NaN
 1      10104 2011-01-31  0.019714  0.019548  0.024954  0.020052
 2      10104 2011-02-28  0.019328  0.019582  0.027140  0.038821
 3      10104 2011-03-31  0.019833  0.020010  0.016218  0.003383
 4      10104 2011-04-30  0.020979  0.021030  0.077442  0.027662
 ...      ...        ...       ...       ...       ...       ...
 25859  92655 2022-07-31  0.023291  0.023322  0.055684  0.093630
 25860  92655 2022-08-31  0.023144  0.023286 -0.043528 -0.036188
 25861  92655 2022-09-30  0.025003  0.024959 -0.024368 -0.091370
 25862  92655 2022-10-31  0.025361  0.025229  0.098793  0.081350
 25863  92655 2022-11-30  0.023664  0.023718 -0.013868  0.051329

 [25864 rows x 6 columns],
 'pf':      inv  shorting  turnover         r            tc    eom_ret    type
 0    1.0       0.0  0.000000  0.023370  0.000000e+00 2011-01-31  Market
 1    1.0       0.0  0.013623  0.030422  2.078333e-05 2011-02-28  Market
 2    1.0       0.0  0.010614 -0.004390  1.076432e-06 2011-03-28  Market
 3    1.0       0.0  0.009732  0.026485  7.352681e-07 2011-04-30  Market
 4    1.0       0.0  0.004940 -0.015617  3.779339e-07 2011-05-30  Market
 ..   ...       ...       ...       ...           ...        ...     ...
 139  1.0       0.0  0.002363 -0.042180  2.859195e-07 2022-08-31  Market
 140  1.0       0.0  0.007646 -0.092066  9.119846e-07 2022-09-30  Market
 141  1.0       0.0  0.003867  0.087895  3.637548e-07 2022-10-30  Market
 142  1.0       0.0  0.008339  0.049688  1.515252e-06 2022-11-30  Market
 143  1.0       0.0  0.004538 -0.059711  7.018274e-07 2022-12-30  Market

 [144 rows x 7 columns]}

In [36]:
ew

{'w':           id        eom   w_start         w    tr_ld1    mu_ld1
 0      10104 2010-12-31  0.019620  0.005556       NaN       NaN
 1      10104 2011-01-31  0.005582  0.005556  0.024954  0.020052
 2      10104 2011-02-28  0.005493  0.005556  0.027140  0.038821
 3      10104 2011-03-31  0.005627  0.005556  0.016218  0.003383
 4      10104 2011-04-30  0.005825  0.005556  0.077442  0.027662
 ...      ...        ...       ...       ...       ...       ...
 25859  92655 2022-07-31  0.005393  0.005587  0.055684  0.093630
 25860  92655 2022-08-31  0.005544  0.005587 -0.043528 -0.036188
 25861  92655 2022-09-30  0.005999  0.005587 -0.024368 -0.091370
 25862  92655 2022-10-31  0.005677  0.005556  0.098793  0.081350
 25863  92655 2022-11-30  0.005211  0.005556 -0.013868  0.051329

 [25864 rows x 6 columns],
 'pf':      inv  shorting  turnover         r        tc    eom_ret type
 0    1.0       0.0  0.848747  0.022582  0.006040 2011-01-31  1/N
 1    1.0       0.0  0.052598  0.037496  0.000056 2011-02-28  1/N
 2    1.0       0.0  0.041706  0.000627  0.000042 2011-03-28  1/N
 3    1.0       0.0  0.036300  0.027420  0.000018 2011-04-30  1/N
 4    1.0       0.0  0.041207 -0.004675  0.000031 2011-05-30  1/N
 ..   ...       ...       ...       ...       ...        ...  ...
 139  1.0       0.0  0.057490 -0.028843  0.000148 2022-08-31  1/N
 140  1.0       0.0  0.042780 -0.090462  0.000079 2022-09-30  1/N
 141  1.0       0.0  0.049693  0.112469  0.000104 2022-10-30  1/N
 142  1.0       0.0  0.073884  0.072970  0.000690 2022-11-30  1/N
 143  1.0       0.0  0.052816 -0.052879  0.000139 2022-12-30  1/N

 [144 rows x 7 columns]}

In [37]:
rw

{'w':           id        eom   w_start         w    tr_ld1    mu_ld1
 0      10104 2010-12-31  0.019620  0.000123       NaN       NaN
 1      10104 2011-01-31  0.000124 -0.007284  0.024954  0.020052
 2      10104 2011-02-28 -0.007202  0.001111  0.027140  0.038821
 3      10104 2011-03-31  0.001125 -0.010000  0.016218  0.003383
 4      10104 2011-04-30 -0.010484 -0.008272  0.077442  0.027662
 ...      ...        ...       ...       ...       ...       ...
 25859  92655 2022-07-31 -0.008677 -0.005243  0.055684  0.093630
 25860  92655 2022-08-31 -0.005204 -0.011486 -0.043528 -0.036188
 25861  92655 2022-09-30 -0.012333 -0.006242 -0.024368 -0.091370
 25862  92655 2022-10-31 -0.006343 -0.006296  0.098793  0.081350
 25863  92655 2022-11-30 -0.005906 -0.001605 -0.013868  0.051329

 [25864 rows x 6 columns],
 'pf':      inv  shorting  turnover         r        tc    eom_ret     type
 0    2.0       1.0  2.519567  0.015278  0.077693 2011-01-31  Rank-ML
 1    2.0       1.0  0.826170  0.006433  0.011412 2011-02-28  Rank-ML
 2    2.0       1.0  0.748966  0.010792  0.010594 2011-03-28  Rank-ML
 3    2.0       1.0  0.752425  0.005017  0.012190 2011-04-30  Rank-ML
 4    2.0       1.0  0.981713  0.005552  0.020929 2011-05-30  Rank-ML
 ..   ...       ...       ...       ...       ...        ...      ...
 139  2.0       1.0  0.971265  0.005335  0.043682 2022-08-31  Rank-ML
 140  2.0       1.0  0.771504 -0.029139  0.028355 2022-09-30  Rank-ML
 141  2.0       1.0  0.861095  0.043652  0.028285 2022-10-30  Rank-ML
 142  2.0       1.0  0.903648  0.026219  0.045972 2022-11-30  Rank-ML
 143  2.0       1.0  1.047615 -0.021690  0.060686 2022-12-30  Rank-ML

 [144 rows x 7 columns]}

In [31]:
mv

{'w':           id        eom   w_start         w    tr_ld1    mu_ld1
 0      10104 2010-12-31  0.019620  0.017280       NaN       NaN
 1      10104 2011-01-31  0.017363  0.022978  0.024954  0.020052
 2      10104 2011-02-28  0.022719  0.019329  0.027140  0.038821
 3      10104 2011-03-31  0.019576  0.014793  0.016218  0.003383
 4      10104 2011-04-30  0.015510  0.024127  0.077442  0.027662
 ...      ...        ...       ...       ...       ...       ...
 25859  92655 2022-07-31 -0.014596 -0.010913  0.055684  0.093630
 25860  92655 2022-08-31 -0.010830 -0.006496 -0.043528 -0.036188
 25861  92655 2022-09-30 -0.006975  0.005305 -0.024368 -0.091370
 25862  92655 2022-10-31  0.005390 -0.000461  0.098793  0.081350
 25863  92655 2022-11-30 -0.000433 -0.008272 -0.013868  0.051329

 [25864 rows x 6 columns],
 'pf':           inv  shorting  turnover         r        tc    eom_ret  \
 0    2.439181  0.719590  2.475996 -0.038908  0.103482 2011-01-31
 1    2.460849  0.730424  1.173957  0.045449  0.026207 2011-02-28
 2    2.520428  0.760214  1.133634  0.020128  0.033987 2011-03-28
 3    2.449388  0.724694  1.163601  0.047656  0.026793 2011-04-30
 4    2.135390  0.567695  1.018070  0.024464  0.025248 2011-05-30
 ..        ...       ...       ...       ...       ...        ...
 139  2.183333  0.591667  1.045583 -0.040709  0.058627 2022-08-31
 140  2.149950  0.574975  0.989621 -0.058515  0.047180 2022-09-30
 141  2.204890  0.602445  0.972119  0.093381  0.054745 2022-10-30
 142  2.255014  0.627507  1.169070  0.047216  0.056513 2022-11-30
 143  2.443502  0.721751  1.264238 -0.006993  0.064612 2022-12-30

                  type
 0    Minimum Variance
 1    Minimum Variance
 2    Minimum Variance
 3    Minimum Variance
 4    Minimum Variance
 ..                ...
 139  Minimum Variance
 140  Minimum Variance
 141  Minimum Variance
 142  Minimum Variance
 143  Minimum Variance

 [144 rows x 7 columns]}

In [40]:
factor_ml

{'w':           id        eom  w_start    w    tr_ld1    mu_ld1
 0      10104 2010-12-31  0.01962  0.0       NaN       NaN
 1      10104 2011-01-31  0.00000  0.0  0.024954  0.020052
 2      10104 2011-02-28  0.00000  0.0  0.027140  0.038821
 3      10104 2011-03-31  0.00000  0.0  0.016218  0.003383
 4      10104 2011-04-30  0.00000  0.0  0.077442  0.027662
 ...      ...        ...      ...  ...       ...       ...
 25859  92655 2022-07-31  0.00000  0.0  0.055684  0.093630
 25860  92655 2022-08-31  0.00000  0.0 -0.043528 -0.036188
 25861  92655 2022-09-30  0.00000  0.0 -0.024368 -0.091370
 25862  92655 2022-10-31  0.00000  0.0  0.098793  0.081350
 25863  92655 2022-11-30  0.00000  0.0 -0.013868  0.051329

 [25864 rows x 6 columns],
 'pf':      inv  shorting  turnover         r        tc    eom_ret       type
 0    2.0       1.0  2.924576  0.017222  0.154048 2011-01-31  Factor-ML
 1    2.0       1.0  1.022224  0.018595  0.074021 2011-02-28  Factor-ML
 2    2.0       1.0  1.455416  0.009499  0.109655 2011-03-28  Factor-ML
 3    2.0       1.0  1.403701  0.028496  0.085172 2011-04-30  Factor-ML
 4    2.0       1.0  1.849811  0.010644  0.113290 2011-05-30  Factor-ML
 ..   ...       ...       ...       ...       ...        ...        ...
 139  2.0       1.0  2.715995  0.005395  0.287683 2022-08-31  Factor-ML
 140  2.0       1.0  1.231006 -0.092656  0.216477 2022-09-30  Factor-ML
 141  2.0       1.0  0.999942  0.038982  0.169954 2022-10-30  Factor-ML
 142  2.0       1.0  1.621601  0.041666  0.247606 2022-11-30  Factor-ML
 143  2.0       1.0  1.724720 -0.015990  0.336645 2022-12-30  Factor-ML

 [144 rows x 7 columns]}

In [41]:
tpf = portfolio_choice_functions.tpf_implement(data=chars, cov_list=barra_cov, wealth=wealth, dates=dates_oos, gam=pf_set["gamma_rel"])

In [43]:
tpf

{'w':           id        eom   w_start         w    tr_ld1    mu_ld1
 0      10104 2010-12-31  0.019620  0.015546       NaN       NaN
 1      10104 2011-01-31  0.015621  0.017275  0.024954  0.020052
 2      10104 2011-02-28  0.017081  0.022007  0.027140  0.038821
 3      10104 2011-03-31  0.022288  0.006919  0.016218  0.003383
 4      10104 2011-04-30  0.007254  0.017548  0.077442  0.027662
 ...      ...        ...       ...       ...       ...       ...
 25859  92655 2022-07-31  0.007726  0.034372  0.055684  0.093630
 25860  92655 2022-08-31  0.034111  0.024339 -0.043528 -0.036188
 25861  92655 2022-09-30  0.026134  0.075025 -0.024368 -0.091370
 25862  92655 2022-10-31  0.076235  0.059830  0.098793  0.081350
 25863  92655 2022-11-30  0.056120  0.040740 -0.013868  0.051329

 [25864 rows x 6 columns],
 'pf':           inv  shorting  turnover         r        tc    eom_ret          type
 0    2.374874  0.911181  2.749611 -0.019087  0.114453 2011-01-31  Markowitz-ML
 1    2.352451  0.882116  1.247630  0.030696  0.031585 2011-02-28  Markowitz-ML
 2    2.321573  0.856519  1.203831  0.017178  0.034866 2011-03-28  Markowitz-ML
 3    2.457776  0.902953  1.219077  0.037375  0.023136 2011-04-30  Markowitz-ML
 4    2.497646  0.890874  1.629737  0.017609  0.052276 2011-05-30  Markowitz-ML
 ..        ...       ...       ...       ...       ...        ...           ...
 139  7.031834  3.222749  5.468185  0.028102  1.162090 2022-08-31  Markowitz-ML
 140  7.490515  3.439974  5.447179 -0.005464  1.402819 2022-09-30  Markowitz-ML
 141  7.746378  3.598796  5.502278  0.079170  1.392788 2022-10-30  Markowitz-ML
 142  7.751981  3.600282  5.489471 -0.057838  1.210159 2022-11-30  Markowitz-ML
 143  7.557102  3.495135  5.240426  0.041621  1.698949 2022-12-30  Markowitz-ML

 [144 rows x 7 columns]}

# STATIC ML