In [1]:
import pandas as pd
from Main import settings, features, pf_set
import time
import pickle
from pandas.tseries.offsets import DateOffset
import Prepare_Data
import data_run_files
import return_prediction_functions
from return_prediction_functions import rff
import numpy as np
from pandas.tseries.offsets import MonthEnd
from sklearn.linear_model import Ridge
import General_Functions
import pickle
import Estimate_Covariance_Matrix
import os
import prepare_portfolio_data
import portfolio_choice_functions
from itertools import product

start_date = pd.to_datetime('1952-12-31')

#Relevante paths
output_path = "./data_fifty/"
pickle_file_path = "./data_fifty/model_1.pkl"
wealth_path = "./data_fifty/wealth.csv"
barra_file_path = "./data_fifty/barra_cov.pkl"
output_path_market_returns = "data_fifty/market_returns_test.csv"

risk_free_path = "./data_fifty/risk_free_test.csv" 
output_data_ret_csv = "./data_fifty/data_ret.csv"  
output_data_ret_ld1_csv = "./data_fifty/data_ret_ld1.csv"

file_path_cluster_labels = "Data/Cluster Labels.csv"
file_path_factor_details = "Data/Factor Details.xlsx"

risk_free = data_run_files.process_risk_free_rate(risk_free_path, start_date)
daily_path = "./data_fifty/daily.csv"
chars_path = "./data_fifty/chars_behandlet.parquet"

Features list length: 154
Filtrering udført. Antal rækker efter filtrering: 841
Fil gemt som ./data_test/risk_free_test.csv

# Indlæser wealth, chars, daily, data_ret og data_ret_ld1

In [2]:
wealth = pd.read_csv(wealth_path)
wealth['eom'] = pd.to_datetime(wealth['eom'])
data_ret = pd.read_csv(output_data_ret_csv)
data_ret_ld1 = pd.read_csv(output_data_ret_ld1_csv)
data_ret['eom'] = pd.to_datetime(data_ret['eom'])
data_ret_ld1['eom'] = pd.to_datetime(data_ret_ld1['eom'])
data_ret_ld1['eom_ret'] = pd.to_datetime(data_ret_ld1['eom_ret'])
daily = pd.read_csv(daily_path, parse_dates=["date", "eom"])
chars = pd.read_parquet(chars_path)

Disse er checket og se ser korrekte ud wuhu :D

In [3]:
data_ret

,id,eom,ret_ld1,ret_ld2,ret_ld3,ret_ld4,ret_ld5,ret_ld6,ret_ld7,ret_ld8,ret_ld9,ret_ld10,ret_ld11,ret_ld12
0,10104,1986-04-30,-0.064934,0.031988,-0.369114,0.059902,-0.141147,0.258949,0.190520,-0.039651,0.297054,0.421617,0.137845,0.063897
1,10104,1986-05-31,0.031988,-0.369114,0.059902,-0.141147,0.258949,0.190520,-0.039651,0.297054,0.421617,0.137845,0.063897,0.155814
2,10104,1986-06-30,-0.369114,0.059902,-0.141147,0.258949,0.190520,-0.039651,0.297054,0.421617,0.137845,0.063897,0.155814,-0.188517
3,10104,1986-07-31,0.059902,-0.141147,0.258949,0.190520,-0.039651,0.297054,0.421617,0.137845,0.063897,0.155814,-0.188517,0.018414
4,10104,1986-08-31,-0.141147,0.258949,0.190520,-0.039651,0.297054,0.421617,0.137845,0.063897,0.155814,-0.188517,0.018414,0.171080
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90698,92655,2022-07-31,-0.044328,-0.026268,0.096893,-0.016168,-0.032461,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
90699,92655,2022-08-31,-0.026268,0.096893,-0.016168,-0.032461,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
90700,92655,2022-09-30,0.096893,-0.016168,-0.032461,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
90701,92655,2022-10-31,-0.016168,-0.032461,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
90702,92655,2022-11-30,-0.032461,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

## Hent Predictions :D

### Indlæsning af Pickle fil (predictions)

In [4]:
with open(pickle_file_path, "rb") as file:
    model_1 = pickle.load(file)

#print(model_1) #Vi bruger dog ikke ikke denne i selve

# Barra COV

Just a quick check

In [5]:
with open(barra_file_path, "rb") as file:
    barra_cov = pickle.load(file)

In [6]:
print(barra_cov['2022-11-30'])

{'fct_load':        BusEq  Chems  Durbl  Enrgy  Hlth  Manuf  Money  NoDur  Other  Shops  \
id
10104    1.0    0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0    0.0
10107    1.0    0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0    0.0
10138    0.0    0.0    0.0    0.0   0.0    0.0    1.0    0.0    0.0    0.0
10696    1.0    0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0    0.0
11308    0.0    0.0    0.0    0.0   0.0    0.0    0.0    1.0    0.0    0.0
...      ...    ...    ...    ...   ...    ...    ...    ...    ...    ...
87299    1.0    0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0    0.0
87432    1.0    0.0    0.0    0.0   0.0    0.0    0.0    0.0    0.0    0.0
87447    0.0    0.0    0.0    0.0   0.0    0.0    0.0    0.0    1.0    0.0
87717    0.0    0.0    0.0    0.0   0.0    0.0    0.0    0.0    1.0    0.0
92655    0.0    0.0    0.0    0.0   0.0    0.0    1.0    0.0    0.0    0.0

       ...  low_leverage  low_risk  momentum  profit_growth  profitability  \
id     ...
10104  ...      0.343334  0.843768  0.466949      -1.207823      -0.028667
10107  ...      1.866382 -0.009534 -1.252436      -0.719190       2.229160
10138  ...      2.163670 -1.307760 -1.491340      -0.570958       1.131685
10696  ...     -0.463902 -0.114409  0.651556      -0.038823      -1.287853
11308  ...     -0.959267  1.739973  0.539344       0.581879       1.084394
...    ...           ...       ...       ...            ...            ...
87299  ...      0.966197 -0.402021 -0.785487      -0.261826      -0.890683
87432  ...      1.644369 -0.448103  0.814445      -0.669828       0.445972
87447  ...      0.904249  0.379775 -0.608119       1.044230       0.950535
87717  ...      2.190137 -0.735715 -0.347497       1.514553       0.667821
92655  ...      0.469267  0.827877  1.266915       0.787736      -0.294777

        quality  seasonality  short_term_reversal      size     value
id
10104  0.132484     0.708301             0.911204 -0.783683 -0.712887
10107  1.232325    -0.658289            -0.834632 -1.817477 -1.480528
10138  1.056363    -0.026746            -1.676922  0.533571  0.295684
10696 -0.866769    -0.110237             1.452311 -0.305692 -0.333285
11308  0.148064    -1.340131            -1.064348 -1.006004 -1.249322
...         ...          ...                  ...       ...       ...
87299  0.532596     0.337540            -1.467625  0.939308 -0.403278
87432  0.712794    -0.656632            -1.814751  0.244554 -1.667202
87447  0.985185    -0.312674            -1.033719 -0.983772  0.174258
87717  1.517225     0.217584            -1.661607  0.755893  0.195205
92655  0.774332     0.353661             0.732537 -1.889732 -1.005295

[180 rows x 25 columns], 'fct_cov':                         BusEq     Chems     Durbl         Enrgy      Hlth  \
BusEq                0.004752  0.004103  0.004871  4.184973e-03  0.003517
Chems                0.004103  0.005692  0.004571  4.825468e-03  0.003295
Durbl                0.004871  0.004571  0.009466  4.761262e-03  0.003751
Enrgy                0.004185  0.004825  0.004761  1.072241e-02  0.003349
Hlth                 0.003517  0.003295  0.003751  3.348699e-03  0.003655
Manuf                0.004454  0.004342  0.004967  5.155062e-03  0.003460
Money                0.004400  0.004219  0.005043  4.288857e-03  0.003592
NoDur                0.003098  0.003269  0.003628  2.998640e-03  0.002651
Other                0.004162  0.004149  0.004778  4.355766e-03  0.003343
Shops                0.004152  0.004145  0.004904  4.048828e-03  0.003439
Telcm                0.004162  0.003958  0.004846  4.082766e-03  0.003427
Utils                0.003545  0.003487  0.004128  3.250217e-03  0.003001
accruals            -0.000091 -0.000030 -0.000146  5.211470e-07 -0.000066
debt_issuance       -0.000023 -0.000033 -0.000019  6.155567e-06 -0.000039
investment          -0.000185 -0.000133 -0.000229 -1.339482e-04 -0.000084
low_leverage        -0.000070 -0.000029 -0.000067 -1.207653e-05 -0.000060
low_risk            -0.000904 -0.000860 -0.000977 -9.025831e-04 -0.000685
momentum            -0.000217 -0.000222 -0.000252 -1.386746e-04 -0.000188
profit_growth        0.000067  0.000043  0.000136 -2.047895e-05  0.000032
profitability        0.000140  0.000122  0.000143  1.587228e-04  0.000125
quality             -0.000297 -0.000400 -0.000422 -6.675463e-04 -0.000262
seasonality         -0.000055 -0.000095 -0.000066 -1.024121e-04 -0.000044
short_term_reversal  0.000140  0.000139  0.000145  1.415190e-04  0.000100
size                 0.000015  0.000070  0.000074  1.936282e-04  0.000028
value               -0.000056  0.000014 -0.000181 -1.261786e-06  0.000005

                        Manuf     Money     NoDur     Other     Shops  ...  \
BusEq                0.004454  0.004400  0.003098  0.004162  0.004152  ...
Chems                0.004342  0.004219  0.003269  0.004149  0.004145  ...
Durbl                0.004967  0.005043  0.003628  0.004778  0.004904  ...
Enrgy                0.005155  0.004289  0.002999  0.004356  0.004049  ...
Hlth                 0.003460  0.003592  0.002651  0.003343  0.003439  ...
Manuf                0.005233  0.004392  0.003125  0.004323  0.004267  ...
Money                0.004392  0.005184  0.003340  0.004411  0.004388  ...
NoDur                0.003125  0.003340  0.003973  0.003171  0.003274  ...
Other                0.004323  0.004411  0.003171  0.004565  0.004176  ...
Shops                0.004267  0.004388  0.003274  0.004176  0.005051  ...
Telcm                0.003959  0.004266  0.003345  0.004022  0.004084  ...
Utils                0.003377  0.003930  0.003158  0.003548  0.003533  ...
accruals            -0.000047 -0.000086 -0.000041 -0.000069 -0.000127  ...
debt_issuance       -0.000011 -0.000062 -0.000028 -0.000024 -0.000081  ...
investment          -0.000170 -0.000099 -0.000071 -0.000132 -0.000064  ...
low_leverage        -0.000058 -0.000064  0.000037 -0.000096 -0.000085  ...
low_risk            -0.000915 -0.000913 -0.000639 -0.000916 -0.000959  ...
momentum            -0.000202 -0.000306 -0.000183 -0.000292 -0.000295  ...
profit_growth        0.000036  0.000036  0.000013  0.000018  0.000042  ...
profitability        0.000118  0.000109  0.000061  0.000070  0.000088  ...
quality             -0.000413 -0.000215 -0.000166 -0.000242 -0.000303  ...
seasonality         -0.000060 -0.000069 -0.000082 -0.000099 -0.000084  ...
short_term_reversal  0.000140  0.000142  0.000075  0.000133  0.000132  ...
size                 0.000069  0.000023 -0.000014  0.000040  0.000067  ...
value                0.000048 -0.000076  0.000044 -0.000016 -0.000019  ...

                     low_leverage      low_risk      momentum  profit_growth  \
BusEq               -6.952457e-05 -9.041675e-04 -2.169455e-04   6.740485e-05
Chems               -2.899755e-05 -8.599915e-04 -2.220902e-04   4.309148e-05
Durbl               -6.663671e-05 -9.765122e-04 -2.518030e-04   1.356118e-04
Enrgy               -1.207653e-05 -9.025831e-04 -1.386746e-04  -2.047895e-05
Hlth                -6.027269e-05 -6.852907e-04 -1.881167e-04   3.196171e-05
Manuf               -5.804127e-05 -9.146881e-04 -2.024524e-04   3.627883e-05
Money               -6.438724e-05 -9.126310e-04 -3.061865e-04   3.589998e-05
NoDur                3.718008e-05 -6.389482e-04 -1.827724e-04   1.278736e-05
Other               -9.604048e-05 -9.160329e-04 -2.920437e-04   1.815309e-05
Shops               -8.508844e-05 -9.593831e-04 -2.951430e-04   4.167572e-05
Telcm               -2.090389e-05 -9.335886e-04 -2.423710e-04   5.110157e-05
Utils               -3.940447e-05 -6.635831e-04 -2.239767e-04   3.299373e-05
accruals             1.815598e-05  1.509539e-05  1.173037e-05  -6.028710e-06
debt_issuance       -1.084881e-06 -4.225213e-06  2.479180e-05   9.840973e-07
investment           9.762294e-06  4.855306e-05 -3.721807e-06  -1.554289e-05
low_leverage         9.903882e-05  1.697230e-05  2.364817e-05   4.413744e-06
low_risk             1.697230e-05  4.126383e-04  7.990925e-05  -1.133370e-05
momentum             2.364817e-05  7.990925e-05  2.994817e-04   8.131053e-07
profit_growth        4.413744e-06 -1.133370e-05  8.131053e-07   7.704222e-05
profitability        1.161087e-05 -9.294516e-06 -2.679397e-06  -9.182604e-06
quality             -6.649862e-05  6.300362e-05  1.310755e-05   8.368133e-07
seasonality          3.717606e-06  2.635838e-05  5.196250e-06  -2.396393e-06
short_term_reversal  9.131201e-08 -5.520527e-05 -2.216097e-05   2.297875e-07
size                -9.351692e-06 -2.827234e-06 -9.457822e-07  -2.645408e-06
value               -2.671451e-06 -9.951521e-07  3.921541e-05  -2.206143e-05

                     profitability       quality  seasonality  \
BusEq                 1.403700e-04 -2.972371e-04    -0.000055
Chems                 1.216450e-04 -3.998827e-04    -0.000095
Durbl                 1.430893e-04 -4.220394e-04    -0.000066
Enrgy                 1.587228e-04 -6.675463e-04    -0.000102
Hlth                  1.250771e-04 -2.615687e-04    -0.000044
Manuf                 1.175886e-04 -4.125496e-04    -0.000060
Money                 1.089133e-04 -2.149652e-04    -0.000069
NoDur                 6.149458e-05 -1.655318e-04    -0.000082
Other                 6.959141e-05 -2.419942e-04    -0.000099
Shops                 8.794318e-05 -3.034611e-04    -0.000084
Telcm                 1.155266e-04 -3.039695e-04    -0.000106
Utils                 1.021040e-04  9.687323e-06    -0.000084
accruals              3.851671e-06 -2.985496e-05    -0.000005
debt_issuance        -8.659574e-06 -5.885052e-06    -0.000006
investment           -5.070691e-07  1.048948e-05     0.000004
low_leverage          1.161087e-05 -6.649862e-05     0.000004
low_risk             -9.294516e-06  6.300362e-05     0.000026
momentum             -2.679397e-06  1.310755e-05     0.000005
profit_growth        -9.182604e-06  8.368133e-07    -0.000002
profitability         9.770304e-05 -9.779600e-05     0.000007
quality              -9.779600e-05  3.529681e-04    -0.000015
seasonality           6.761633e-06 -1.529426e-05     0.000057
short_term_reversal   2.616477e-06 -2.020784e-05    -0.000004
size                  1.000827e-05 -1.763681e-05    -0.000006
value                -5.322115e-06  3.431842e-05     0.000003

                     short_term_reversal          size         value
BusEq                       1.399156e-04  1.518503e-05 -5.598025e-05
Chems                       1.386763e-04  6.976590e-05  1.380743e-05
Durbl                       1.451590e-04  7.415966e-05 -1.809504e-04
Enrgy                       1.415190e-04  1.936282e-04 -1.261786e-06
Hlth                        9.957972e-05  2.782796e-05  5.337567e-06
Manuf                       1.401899e-04  6.933375e-05  4.795224e-05
Money                       1.418158e-04  2.264635e-05 -7.604374e-05
NoDur                       7.481222e-05 -1.402707e-05  4.402010e-05
Other                       1.331330e-04  4.029836e-05 -1.645570e-05
Shops                       1.315698e-04  6.675005e-05 -1.851030e-05
Telcm                       1.416990e-04  1.827743e-05 -7.017383e-05
Utils                       9.621389e-05  5.959203e-06 -9.457375e-05
accruals                    1.334057e-06 -1.709876e-06 -8.823275e-06
debt_issuance               2.900507e-06 -3.206756e-06  2.064407e-06
investment                 -1.146386e-05  6.894408e-07  7.509565e-07
low_leverage                9.131201e-08 -9.351692e-06 -2.671451e-06
low_risk                   -5.520527e-05 -2.827234e-06 -9.951521e-07
momentum                   -2.216097e-05 -9.457822e-07  3.921541e-05
profit_growth               2.297875e-07 -2.645408e-06 -2.206143e-05
profitability               2.616477e-06  1.000827e-05 -5.322115e-06
quality                    -2.020784e-05 -1.763681e-05  3.431842e-05
seasonality                -4.200913e-06 -6.045300e-06  2.724802e-06
short_term_reversal         5.020989e-05  7.413468e-07 -4.722049e-06
size                        7.413468e-07  6.277096e-05 -1.030110e-05
value                      -4.722049e-06 -1.030110e-05  1.992396e-04

[25 rows x 25 columns], 'ivol_vec': id
10104    0.004043
10107    0.002393
10138    0.002996
10696    0.003696
11308    0.001280
           ...
87299    0.004106
87432    0.003534
87447    0.003139
87717    0.003166
92655    0.002555
Name: res_vol, Length: 180, dtype: float64}

In [7]:
print(barra_cov['2022-11-30']['ivol_vec'])

id
10104    0.004043
10107    0.002393
10138    0.002996
10696    0.003696
11308    0.001280
           ...
87299    0.004106
87432    0.003534
87447    0.003139
87717    0.003166
92655    0.002555
Name: res_vol, Length: 180, dtype: float64

# Prepare Portfolio Data - tilføj return predictions, lambda list og datoer

In [8]:
chars = prepare_portfolio_data.add_return_predictions(chars,settings, output_path)

In [9]:
print(chars.shape) #Skal være 73216 x 131
print(chars[['id', 'eom','pred_ld1']])

(73216, 131)
          id        eom  pred_ld1
0      10104 1986-12-31       NaN
1      10104 1987-01-31       NaN
2      10104 1987-02-28       NaN
3      10104 1987-03-31       NaN
4      10104 1987-04-30       NaN
...      ...        ...       ...
73211  92655 2022-07-31  0.010957
73212  92655 2022-08-31  0.009506
73213  92655 2022-09-30  0.010641
73214  92655 2022-10-31  0.010774
73215  92655 2022-11-30  0.011608

[73216 rows x 3 columns]

In [10]:
lambda_list = prepare_portfolio_data.create_lambda_list(chars)

In [11]:
print(lambda_list['2021-10-31'])

{10104: 2.1068747835833751e-10, 10107: 3.034783408033585e-11, 10138: 1.014425423141795e-09, 10696: 4.3268657868458776e-10, 11308: 2.5674127083269843e-10, 11850: 1.5210112818417197e-10, 11955: 9.846108938145744e-10, 12060: 2.392171855561806e-10, 12062: 1.1115228863141125e-09, 12490: 3.103196145302579e-10, 13688: 1.2451492409136745e-09, 13856: 3.0647710531490904e-10, 13901: 5.984566822586187e-10, 14008: 3.4654779374858333e-10, 14277: 5.572628200703795e-10, 14541: 1.8678925436727748e-10, 14593: 1.7957730786929064e-11, 14702: 1.9775531529792074e-10, 15720: 1.868244462399027e-09, 17778: 3.3642773554010653e-10, 18163: 1.9283146734748652e-10, 18411: 7.948401354253297e-10, 19393: 3.2583660018022594e-10, 19561: 8.240904270111589e-11, 20482: 3.1099118409527434e-10, 21371: 1.314659590664529e-09, 21936: 1.611785023727204e-10, 22103: 8.191041680175024e-10, 22111: 1.9039009050878924e-10, 22592: 4.542098255993858e-10, 22752: 2.035214983043305e-10, 25320: 1.6935230409360711e-09, 25785: 1.9152306625614746e-10, 26403: 1.300858318550244e-10, 26710: 4.261216668243205e-09, 26825: 1.4266895450921302e-09, 27828: 7.011202934968308e-10, 27887: 8.228607433666173e-10, 27959: 6.694802540759934e-10, 27983: 4.3498083361163196e-09, 29647: 3.600729793708159e-09, 30681: 1.622361687420668e-09, 33099: 1.1675863842050591e-08, 34746: 1.0568616933006941e-09, 34833: 4.072752591252184e-10, 35554: 1.50858629650637e-09, 37584: 2.2978543734267017e-09, 38703: 1.618039225608123e-10, 43449: 3.393062615352067e-10, 44644: 6.664589436027356e-10, 45356: 7.359525134705471e-10, 45751: 7.086778242556605e-10, 46886: 5.816412256201998e-10, 47896: 1.0256893869287518e-10, 48506: 9.812786220405609e-10, 48725: 3.1612110208303623e-10, 49154: 2.7140260413194735e-10, 49656: 8.156697286389802e-10, 49680: 3.1011863280490913e-10, 50876: 2.932760534099583e-10, 52038: 1.1082102524600123e-09, 53613: 1.387704702188205e-10, 55976: 1.880093169212988e-10, 56274: 1.7213679558650745e-09, 56573: 9.887519617011697e-10, 57665: 2.0226138451452302e-10, 57904: 1.1855095938774997e-09, 58246: 2.2827029099773286e-09, 58683: 5.465638416043764e-10, 59010: 9.97238020097368e-10, 59176: 3.442145163191078e-10, 59328: 1.5560729603769442e-10, 59408: 1.0556028048624804e-10, 59459: 1.1355121346840164e-09, 60097: 3.73542008937204e-10, 60442: 6.331843343108025e-10, 60628: 2.902778495162662e-10, 60871: 3.062282525211e-10, 61399: 2.7555742501474107e-10, 61621: 1.2669654708781307e-09, 61735: 4.311947448981604e-10, 62148: 5.630356912219512e-10, 64186: 4.699230876861542e-10, 64282: 7.837548735585992e-10, 64311: 6.26794262065164e-10, 64390: 7.686017137563221e-10, 64936: 7.934272752261853e-10, 64995: 1.2792706802764981e-09, 65875: 2.1870649336366644e-10, 66093: 1.7629668812006268e-10, 66157: 6.108823033268023e-10, 66181: 1.817307223280879e-10, 66800: 9.068422111681899e-10, 67774: 2.771633750947282e-09, 69032: 2.3850871454299093e-10, 70033: 2.7866847346831892e-09, 70519: 1.4548180907906622e-10, 71298: 5.918753221697916e-10, 71563: 6.884946929338272e-10, 72726: 1.0552473242899778e-09, 73139: 6.768182589609029e-10, 75034: 9.582575739274716e-10, 75186: 4.3716420920651744e-10, 75510: 1.7339345324091214e-10, 75607: 1.6220312915415766e-09, 75825: 5.720431931763252e-10, 75828: 5.90629050706354e-10, 75844: 1.781213427381532e-09, 76076: 2.1632677914615059e-10, 76226: 3.6118496645124137e-10, 76605: 7.278266882817806e-10, 76712: 1.52263705786961e-09, 76841: 3.9591642579022623e-10, 77178: 1.9961934550555256e-10, 77274: 4.503337116809119e-10, 77462: 5.911053856521099e-10, 77605: 7.26379115065639e-10, 77606: 1.080786408477785e-09, 77702: 3.137537570417939e-10, 78045: 1.808894655002592e-09, 78405: 1.2049244303200469e-08, 78975: 3.4670578094326564e-10, 78987: 7.279877967915009e-10, 79057: 6.266147171054879e-10, 79145: 6.224112570765424e-10, 79237: 2.392092152462205e-09, 79323: 9.367377705767093e-10, 80070: 1.2947290274648961e-09, 80924: 1.799932289091352e-09, 81055: 4.1202692838666155e-10, 81061: 9.84106258825265e-10, 81132: 2.7202515460653802e-09, 81284: 2.752412235264031e-09, 81472: 3.3302846346426157e-10, 81540: 1.865139014328844e-09, 81696: 2.1912874924632595e-09, 81774: 2.4807939460525667e-10, 82307: 2.6095708295361112e-09, 82311: 2.7797544442936158e-09, 82598: 1.5867101339744798e-09, 82642: 5.69290276097375e-10, 82651: 1.4917503192921689e-09, 82654: 1.9153486435638772e-09, 82775: 1.5422357706864402e-09, 83443: 1.6470201923883798e-10, 83639: 1.8362579798975774e-09, 83835: 1.8786027098054785e-09, 84032: 2.6781072437892772e-09, 84181: 8.254896879842811e-10, 84373: 1.189376197093246e-09, 84381: 1.1208130436800685e-09, 84769: 1.189607923301932e-09, 84788: 1.8102585956592e-11, 85259: 1.56608315813335e-09, 85269: 7.016571511763978e-10, 85348: 1.0415220654914993e-09, 85459: 2.07646249420712e-09, 85636: 3.798958786359396e-09, 85753: 1.926541638008782e-09, 85913: 6.860858737621643e-10, 85914: 7.813910109866128e-10, 86136: 1.067605800565268e-09, 86144: 4.819902055965605e-09, 86158: 8.178047994328941e-10, 86228: 1.5687569144468956e-09, 86356: 4.171622953140921e-10, 86580: 3.1872304946218166e-11, 86783: 3.034986759360734e-10, 86868: 2.0644294066832947e-10, 86964: 2.2816234270489207e-09, 86979: 2.315615366335103e-09, 87055: 2.6146184910588224e-10, 87137: 5.912488862999369e-10, 87212: 2.860073500694062e-09, 87267: 4.3418323195735124e-10, 87299: 1.516923474772429e-09, 87432: 8.243119316795478e-10, 87447: 3.322724114270168e-10, 87717: 1.5289543200325694e-09, 92655: 1.750893484200621e-10}

In [60]:
first_cov_date, hp_years, start_oos = prepare_portfolio_data.define_important_dates(barra_cov, settings)
date_ranges = prepare_portfolio_data.create_date_ranges(settings, first_cov_date, start_oos, hp_years)
dates_m1 = date_ranges["dates_m1"]
dates_m2 = date_ranges["dates_m2"]
dates_oos = date_ranges["dates_oos"]
dates_hp = date_ranges["dates_hp"]
#Disse er alle korrekte

# Base cases

In [13]:
ew = portfolio_choice_functions.ew_implement(data=chars, wealth=wealth, dates=dates_oos, pf_set=pf_set)
mkt = portfolio_choice_functions.mkt_implement(data=chars, wealth=wealth, dates=dates_oos, pf_set= pf_set)
rw = portfolio_choice_functions.rw_implement(data=chars, wealth=wealth, dates=dates_oos, pf_set= pf_set)
mv = portfolio_choice_functions.mv_implement(data=chars, cov_list=barra_cov ,wealth=wealth, dates=dates_oos, pf_set= pf_set)
factor_ml = portfolio_choice_functions.factor_ml_implement(data = chars, wealth = wealth, dates= dates_oos, n_pfs=settings["factor_ml"]["n_pfs"]
, gam=pf_set['gamma_rel'])

In [14]:
ew

{'w':           id        eom   w_start         w    tr_ld1    mu_ld1
 0      10104 2010-12-31  0.019620  0.005556       NaN       NaN
 1      10104 2011-01-31  0.005582  0.005556  0.024954  0.020052
 2      10104 2011-02-28  0.005493  0.005556  0.027140  0.038821
 3      10104 2011-03-31  0.005627  0.005556  0.016218  0.003383
 4      10104 2011-04-30  0.005825  0.005556  0.077442  0.027662
 ...      ...        ...       ...       ...       ...       ...
 25859  92655 2022-07-31  0.005393  0.005587  0.055684  0.093630
 25860  92655 2022-08-31  0.005544  0.005587 -0.043528 -0.036188
 25861  92655 2022-09-30  0.005999  0.005587 -0.024368 -0.091370
 25862  92655 2022-10-31  0.005677  0.005556  0.098793  0.081350
 25863  92655 2022-11-30  0.005211  0.005556 -0.013868  0.051329

 [25864 rows x 6 columns],
 'pf':      inv  shorting  turnover         r        tc    eom_ret type
 0    1.0       0.0  0.848747  0.022582  0.006040 2011-01-31  1/N
 1    1.0       0.0  0.052598  0.037496  0.000056 2011-02-28  1/N
 2    1.0       0.0  0.041706  0.000627  0.000042 2011-03-31  1/N
 3    1.0       0.0  0.036300  0.027420  0.000018 2011-04-30  1/N
 4    1.0       0.0  0.041207 -0.004675  0.000031 2011-05-31  1/N
 ..   ...       ...       ...       ...       ...        ...  ...
 139  1.0       0.0  0.057490 -0.028843  0.000148 2022-08-31  1/N
 140  1.0       0.0  0.042780 -0.090462  0.000079 2022-09-30  1/N
 141  1.0       0.0  0.049693  0.112469  0.000104 2022-10-31  1/N
 142  1.0       0.0  0.073884  0.072970  0.000690 2022-11-30  1/N
 143  1.0       0.0  0.052816 -0.052879  0.000139 2022-12-31  1/N

 [144 rows x 7 columns]}

In [15]:
mkt

{'w':           id        eom   w_start         w    tr_ld1    mu_ld1
 0      10104 2010-12-31  0.019620  0.019620       NaN       NaN
 1      10104 2011-01-31  0.019714  0.019548  0.024954  0.020052
 2      10104 2011-02-28  0.019328  0.019582  0.027140  0.038821
 3      10104 2011-03-31  0.019833  0.020010  0.016218  0.003383
 4      10104 2011-04-30  0.020979  0.021030  0.077442  0.027662
 ...      ...        ...       ...       ...       ...       ...
 25859  92655 2022-07-31  0.023291  0.023322  0.055684  0.093630
 25860  92655 2022-08-31  0.023144  0.023286 -0.043528 -0.036188
 25861  92655 2022-09-30  0.025003  0.024959 -0.024368 -0.091370
 25862  92655 2022-10-31  0.025361  0.025229  0.098793  0.081350
 25863  92655 2022-11-30  0.023664  0.023718 -0.013868  0.051329

 [25864 rows x 6 columns],
 'pf':      inv  shorting  turnover         r            tc    eom_ret    type
 0    1.0       0.0  0.000000  0.023370  0.000000e+00 2011-01-31  Market
 1    1.0       0.0  0.013623  0.030422  2.078333e-05 2011-02-28  Market
 2    1.0       0.0  0.010614 -0.004390  1.076432e-06 2011-03-31  Market
 3    1.0       0.0  0.009732  0.026485  7.352681e-07 2011-04-30  Market
 4    1.0       0.0  0.004940 -0.015617  3.779339e-07 2011-05-31  Market
 ..   ...       ...       ...       ...           ...        ...     ...
 139  1.0       0.0  0.002363 -0.042180  2.859195e-07 2022-08-31  Market
 140  1.0       0.0  0.007646 -0.092066  9.119846e-07 2022-09-30  Market
 141  1.0       0.0  0.003867  0.087895  3.637548e-07 2022-10-31  Market
 142  1.0       0.0  0.008339  0.049688  1.515252e-06 2022-11-30  Market
 143  1.0       0.0  0.004538 -0.059711  7.018274e-07 2022-12-31  Market

 [144 rows x 7 columns]}

In [16]:
rw

{'w':           id        eom   w_start         w    tr_ld1    mu_ld1
 0      10104 2010-12-31  0.019620  0.000123       NaN       NaN
 1      10104 2011-01-31  0.000124 -0.007284  0.024954  0.020052
 2      10104 2011-02-28 -0.007202  0.001111  0.027140  0.038821
 3      10104 2011-03-31  0.001125 -0.010000  0.016218  0.003383
 4      10104 2011-04-30 -0.010484 -0.008272  0.077442  0.027662
 ...      ...        ...       ...       ...       ...       ...
 25859  92655 2022-07-31 -0.008677 -0.005243  0.055684  0.093630
 25860  92655 2022-08-31 -0.005204 -0.011486 -0.043528 -0.036188
 25861  92655 2022-09-30 -0.012333 -0.006242 -0.024368 -0.091370
 25862  92655 2022-10-31 -0.006343 -0.006296  0.098793  0.081350
 25863  92655 2022-11-30 -0.005906 -0.001605 -0.013868  0.051329

 [25864 rows x 6 columns],
 'pf':      inv  shorting  turnover         r        tc    eom_ret     type
 0    2.0       1.0  2.519567  0.015278  0.077693 2011-01-31  Rank-ML
 1    2.0       1.0  0.826170  0.006433  0.011412 2011-02-28  Rank-ML
 2    2.0       1.0  0.748966  0.010792  0.010594 2011-03-31  Rank-ML
 3    2.0       1.0  0.752425  0.005017  0.012190 2011-04-30  Rank-ML
 4    2.0       1.0  0.981713  0.005552  0.020929 2011-05-31  Rank-ML
 ..   ...       ...       ...       ...       ...        ...      ...
 139  2.0       1.0  0.971265  0.005335  0.043682 2022-08-31  Rank-ML
 140  2.0       1.0  0.771504 -0.029139  0.028355 2022-09-30  Rank-ML
 141  2.0       1.0  0.861095  0.043652  0.028285 2022-10-31  Rank-ML
 142  2.0       1.0  0.903648  0.026219  0.045972 2022-11-30  Rank-ML
 143  2.0       1.0  1.047615 -0.021690  0.060686 2022-12-31  Rank-ML

 [144 rows x 7 columns]}

In [17]:
mv

{'w':           id        eom   w_start         w    tr_ld1    mu_ld1
 0      10104 2010-12-31  0.019620  0.017280       NaN       NaN
 1      10104 2011-01-31  0.017363  0.022978  0.024954  0.020052
 2      10104 2011-02-28  0.022719  0.019329  0.027140  0.038821
 3      10104 2011-03-31  0.019576  0.014793  0.016218  0.003383
 4      10104 2011-04-30  0.015510  0.024127  0.077442  0.027662
 ...      ...        ...       ...       ...       ...       ...
 25859  92655 2022-07-31 -0.014596 -0.010913  0.055684  0.093630
 25860  92655 2022-08-31 -0.010830 -0.006496 -0.043528 -0.036188
 25861  92655 2022-09-30 -0.006975  0.005305 -0.024368 -0.091370
 25862  92655 2022-10-31  0.005390 -0.000461  0.098793  0.081350
 25863  92655 2022-11-30 -0.000433 -0.008272 -0.013868  0.051329

 [25864 rows x 6 columns],
 'pf':           inv  shorting  turnover         r        tc    eom_ret  \
 0    2.439181  0.719590  2.475996 -0.038908  0.103482 2011-01-31
 1    2.460849  0.730424  1.173957  0.045449  0.026207 2011-02-28
 2    2.520428  0.760214  1.133634  0.020128  0.033987 2011-03-31
 3    2.449388  0.724694  1.163601  0.047656  0.026793 2011-04-30
 4    2.135390  0.567695  1.018070  0.024464  0.025248 2011-05-31
 ..        ...       ...       ...       ...       ...        ...
 139  2.183333  0.591667  1.045583 -0.040709  0.058627 2022-08-31
 140  2.149950  0.574975  0.989621 -0.058515  0.047180 2022-09-30
 141  2.204890  0.602445  0.972119  0.093381  0.054745 2022-10-31
 142  2.255014  0.627507  1.169070  0.047216  0.056513 2022-11-30
 143  2.443502  0.721751  1.264238 -0.006993  0.064612 2022-12-31

                  type
 0    Minimum Variance
 1    Minimum Variance
 2    Minimum Variance
 3    Minimum Variance
 4    Minimum Variance
 ..                ...
 139  Minimum Variance
 140  Minimum Variance
 141  Minimum Variance
 142  Minimum Variance
 143  Minimum Variance

 [144 rows x 7 columns]}

In [18]:
factor_ml

{'w':           id        eom  w_start    w    tr_ld1    mu_ld1
 0      10104 2010-12-31  0.01962  0.0       NaN       NaN
 1      10104 2011-01-31  0.00000  0.0  0.024954  0.020052
 2      10104 2011-02-28  0.00000  0.0  0.027140  0.038821
 3      10104 2011-03-31  0.00000  0.0  0.016218  0.003383
 4      10104 2011-04-30  0.00000  0.0  0.077442  0.027662
 ...      ...        ...      ...  ...       ...       ...
 25859  92655 2022-07-31  0.00000  0.0  0.055684  0.093630
 25860  92655 2022-08-31  0.00000  0.0 -0.043528 -0.036188
 25861  92655 2022-09-30  0.00000  0.0 -0.024368 -0.091370
 25862  92655 2022-10-31  0.00000  0.0  0.098793  0.081350
 25863  92655 2022-11-30  0.00000  0.0 -0.013868  0.051329

 [25864 rows x 6 columns],
 'pf':      inv  shorting  turnover         r        tc    eom_ret       type
 0    2.0       1.0  2.924576  0.017222  0.154048 2011-01-31  Factor-ML
 1    2.0       1.0  1.022224  0.018595  0.074021 2011-02-28  Factor-ML
 2    2.0       1.0  1.455416  0.009499  0.109655 2011-03-31  Factor-ML
 3    2.0       1.0  1.403701  0.028496  0.085172 2011-04-30  Factor-ML
 4    2.0       1.0  1.849811  0.010644  0.113290 2011-05-31  Factor-ML
 ..   ...       ...       ...       ...       ...        ...        ...
 139  2.0       1.0  2.715995  0.005395  0.287683 2022-08-31  Factor-ML
 140  2.0       1.0  1.231006 -0.092656  0.216477 2022-09-30  Factor-ML
 141  2.0       1.0  0.999942  0.038982  0.169954 2022-10-31  Factor-ML
 142  2.0       1.0  1.621601  0.041666  0.247606 2022-11-30  Factor-ML
 143  2.0       1.0  1.724720 -0.015990  0.336645 2022-12-31  Factor-ML

 [144 rows x 7 columns]}

In [19]:
tpf = portfolio_choice_functions.tpf_implement(data=chars, cov_list=barra_cov, wealth=wealth, dates=dates_oos, gam=pf_set["gamma_rel"])

In [20]:
tpf

{'w':           id        eom   w_start         w    tr_ld1    mu_ld1
 0      10104 2010-12-31  0.019620  0.015546       NaN       NaN
 1      10104 2011-01-31  0.015621  0.017275  0.024954  0.020052
 2      10104 2011-02-28  0.017081  0.022007  0.027140  0.038821
 3      10104 2011-03-31  0.022288  0.006919  0.016218  0.003383
 4      10104 2011-04-30  0.007254  0.017548  0.077442  0.027662
 ...      ...        ...       ...       ...       ...       ...
 25859  92655 2022-07-31  0.007726  0.034372  0.055684  0.093630
 25860  92655 2022-08-31  0.034111  0.024339 -0.043528 -0.036188
 25861  92655 2022-09-30  0.026134  0.075025 -0.024368 -0.091370
 25862  92655 2022-10-31  0.076235  0.059830  0.098793  0.081350
 25863  92655 2022-11-30  0.056120  0.040740 -0.013868  0.051329

 [25864 rows x 6 columns],
 'pf':           inv  shorting  turnover         r        tc    eom_ret          type
 0    2.374874  0.911181  2.749611 -0.019087  0.114453 2011-01-31  Markowitz-ML
 1    2.352451  0.882116  1.247630  0.030696  0.031585 2011-02-28  Markowitz-ML
 2    2.321573  0.856519  1.203831  0.017178  0.034866 2011-03-31  Markowitz-ML
 3    2.457776  0.902953  1.219077  0.037375  0.023136 2011-04-30  Markowitz-ML
 4    2.497646  0.890874  1.629737  0.017609  0.052276 2011-05-31  Markowitz-ML
 ..        ...       ...       ...       ...       ...        ...           ...
 139  7.031834  3.222749  5.468185  0.028102  1.162090 2022-08-31  Markowitz-ML
 140  7.490515  3.439974  5.447179 -0.005464  1.402819 2022-09-30  Markowitz-ML
 141  7.746378  3.598796  5.502278  0.079170  1.392788 2022-10-31  Markowitz-ML
 142  7.751981  3.600282  5.489471 -0.057838  1.210159 2022-11-30  Markowitz-ML
 143  7.557102  3.495135  5.240426  0.041621  1.698949 2022-12-31  Markowitz-ML

 [144 rows x 7 columns]}

# STATIC ML

In [68]:
import pandas as pd
import numpy as np
import itertools

# Eksempel: De brugerdefinerede funktioner skal defineres et andet sted
# def initial_weights_new(data, w_type): ...
# def create_cov(cov_item, ids): ...
# def sigma_gam_adj(sigma_gam, g, cov_type): ...
# def create_lambda(lambda_item, ids): ...
# def pf_ts_fun(data, **kwargs): ...

def static_val_fun(data, dates, cov_list, lambda_list, wealth, cov_type, gamma_rel, k=None, g=None, u=None, hps=None):
    """
    Beregner de statiske vægte for de angivne datoer.
    Parametre:
      - data: DataFrame med portefølje-data.
      - dates: Liste af datoer (som datetime-objekter).
      - cov_list: Dictionary med covariance-data pr. dato.
      - lambda_list: Dictionary med lambda-data pr. dato.
      - wealth: DataFrame med wealth-information (skal indeholde 'eom' og 'wealth', evt. 'mu_ld1').
      - cov_type: Type til justering af covariance.
      - gamma_rel: Skalar til vægtning.
      - k, g, u: Parametre, kan angives direkte.
      - hps: DataFrame med hyperparametre; hvis angivet, opdateres k, g og u for hver dato.
    """
    print("Nøgler i cov_list:", list(cov_list.keys()))
    print("Nøgler i lambda_list:", list(lambda_list.keys()))
    # Start med initiale weights (f.eks. VW, alt efter initial_weights_new)
    static_weights = General_Functions.initial_weights_new(data, w_type="vw")
    
    # Merge med kolonner fra data: id, eom, tr_ld1 og pred_ld1
    static_weights = static_weights.merge(data[['id', 'eom', 'tr_ld1', 'pred_ld1']], on=['id', 'eom'], how='left')
    # Merge med wealth for at få mu_ld1
    static_weights = static_weights.merge(wealth[['eom', 'mu_ld1']], on='eom', how='left')
    
    for d in dates:
        print("Processing date:", d)
        mask = static_weights['eom'] == d
        print("Antal rækker for dato {}: {}".format(d, mask.sum()))
        print("Data for dato {}:".format(d), static_weights.loc[mask].head())
        # Hvis hyperparametre (hps) er angivet, så opdater k, g og u
        if hps is not None:
            # Filtrer rækker hvor året for eom_ret er mindre end året for d
            hp_candidates = hps[hps['eom_ret'].dt.year < d.year]
            if not hp_candidates.empty:
                # Vælg den række med den seneste eom_ret
                hp = hp_candidates.loc[hp_candidates['eom_ret'].idxmax()]
                g = hp['g']
                u = hp['u']
                k = hp['k']
        
        # Hent wealth for datoen
        wealth_t_series = wealth.loc[wealth['eom'] == d, 'wealth']
        print("Wealth for dato {}: {}".format(d, wealth_t_series))
        if wealth_t_series.empty:
            print("Ingen wealth data for dato:", d)
            continue  # Eller håndtér fejlen, hvis der mangler data for d
        wealth_t = wealth_t_series.iloc[0]
        print("wealth_t:", wealth_t)
        
        # Vælg de rækker i static_weights for datoen d
        mask = static_weights['eom'] == d
        # Sørg for, at id'erne er strenge (for at matche med de oprettede matricer)
        ids = static_weights.loc[mask, 'id'].astype(str)

        print(d)
        # Byg covariance matrix og tilpas den
        sigma_gam = General_Functions.create_cov(cov_list[d], ids=ids.tolist()) * gamma_rel
        print("sigma_gam (før justering):", sigma_gam)
        sigma_gam = General_Functions.sigma_gam_adj(sigma_gam, g=g, cov_type=cov_type)
        print("sigma_gam (efter justering):", sigma_gam)
        
        # Byg lambda matrix og skaler med k
        lambda_val = General_Functions.create_lambda(lambda_list[d], ids=ids.tolist())
        print("lambda (før skalering):", lambda_val)
        lambda_val = lambda_val * k
        print("lambda (efter skalering):", lambda_val)
        
        # Ekstraher de nødvendige kolonner som numpy-arrays
        pred_ld1 = static_weights.loc[mask, 'pred_ld1'].values
        w_start = static_weights.loc[mask, 'w_start'].values
        
        # Beregn højresidevektoren: pred_ld1 * u + wealth_t * (lambda @ w_start)
        print("pred_ld1:", pred_ld1)
        print("w_start:", w_start)
        rhs = (pred_ld1 * u) + wealth_t * (lambda_val.dot(w_start))
        print("rhs:", rhs)
        # Matrix A: sigma_gam + wealth_t * lambda
        A = sigma_gam + wealth_t * lambda_val
        print("A:", A)
        # Løs lineært system for at få nye vægte
        w_new = np.linalg.solve(A, rhs)
        print("w_new:", w_new)
        # Tildel de beregnede vægte til kolonnen 'w' for de relevante rækker
        static_weights.loc[mask, 'w'] = w_new
        
        # Opdater startvægt for næste måned:
        try:
            current_index = dates.index(d)
            next_month = dates[current_index + 1]
        except IndexError:
            # Hvis der ikke er nogen næste dato, springes opdateringen over
            continue
        
        # Udregn 'w_opt_lag1' for de rækker, der svarer til d, men til næste måned
        temp = static_weights.loc[mask, ['id', 'w', 'tr_ld1', 'mu_ld1']].copy()
        temp['eom'] = next_month
        temp['w_opt_lag1'] = temp['w'] * (1 + temp['tr_ld1']) / (1 + temp['mu_ld1'])
        
        # Merge temp med static_weights på ['id', 'eom']
        static_weights = static_weights.merge(temp[['id', 'eom', 'w_opt_lag1']], on=['id', 'eom'], how='left')
        
        # Sæt w_start for rækker med eom == next_month
        next_mask = static_weights['eom'] == next_month
        static_weights.loc[next_mask, 'w_start'] = static_weights.loc[next_mask, 'w_opt_lag1']
        static_weights.loc[next_mask & static_weights['w_start'].isna(), 'w_start'] = 0
        
        # Fjern den midlertidige kolonne
        static_weights.drop(columns='w_opt_lag1', inplace=True)
        
    return static_weights

In [69]:
def static_implement(data_tc, cov_list, lambda_list, rf, wealth, mu, gamma_rel,
                     dates_full, dates_oos, dates_hp, hp_years,
                     k_vec, u_vec, g_vec, cov_type, validation=None, seed=None):
    """
    Fuldt statisk implementering.
    Parametre:
      - data_tc: DataFrame med tidsserie-data.
      - cov_list, lambda_list: Ordbøger med covariance- og lambda-data.
      - rf, wealth, mu, gamma_rel: Diverse parametre.
      - dates_full, dates_oos, dates_hp: Lister af datoer (skal være datetime-objekter).
      - hp_years: Årstal for HP-valg.
      - k_vec, u_vec, g_vec: Vektorer med hyperparametre.
      - cov_type: Typen af covariance.
      - validation: Valideringsresultater (kan være None, hvorefter de udregnes).
      - seed: Til eventuel reproducibilitet.
    """
    # Opret HP-grid: alle kombinationer af k, u og g
    static_hps = pd.DataFrame(list(itertools.product(k_vec, u_vec, g_vec)), columns=['k', 'u', 'g'])
    
    # Udvælg relevant data: valid == True og eom i dates_hp, med kolonnerne id, eom, me, tr_ld1, pred_ld1, sorteret efter id og eom
    data_rel = data_tc[(data_tc['valid'] == True) & (data_tc['eom'].isin(dates_hp))][['id', 'eom', 'me', 'tr_ld1', 'pred_ld1']]
    data_rel = data_rel.sort_values(by=['id', 'eom'])
    
    # Hvis der ikke allerede er beregnet validation, udregnes den
    if validation is None:
        validation_list = []
        for i in range(len(static_hps)):
            print(i)
            hp = static_hps.iloc[i]
            static_w = static_val_fun(data_rel, dates=dates_hp, cov_list=cov_list, lambda_list=lambda_list,
                                      wealth=wealth, gamma_rel=gamma_rel, k=hp['k'], g=hp['g'], u=hp['u'], cov_type=cov_type)
            # Anvend pf_ts_fun på resultatet – denne funktion skal returnere en DataFrame med bl.a. 'eom_ret', 'r' og 'tc'
            static_w_pf = General_Functions.pf_ts_fun(static_w, data=data_tc, wealth=wealth, gam=gamma_rel)
            static_w_pf['hp_no'] = i
            static_w_pf['k'] = hp['k']
            static_w_pf['g'] = hp['g']
            static_w_pf['u'] = hp['u']
            validation_list.append(static_w_pf)
        validation = pd.concat(validation_list, ignore_index=True)
    
    # Sortér validation på hp_no og eom_ret
    validation.sort_values(by=['hp_no', 'eom_ret'], inplace=True)
    
    # Beregn kumulative middelværdier (cummean) per hp_no
    # Først: beregn kum. middel for r^2 og r
    validation['cum_mean_r2'] = validation.groupby('hp_no')['r'].transform(lambda x: x.pow(2).expanding().mean())
    validation['cum_mean_r']  = validation.groupby('hp_no')['r'].transform(lambda x: x.expanding().mean())
    validation['cum_var'] = validation['cum_mean_r2'] - validation['cum_mean_r'] ** 2
    
    # Beregn cum_obj for hver hp_no: cummean(r - tc - 0.5 * cum_var * gamma_rel)
    def compute_cum_obj(group):
        return (group['r'] - group['tc'] - 0.5 * group['cum_var'] * gamma_rel).expanding().mean()
    
    validation['cum_obj'] = validation.groupby('hp_no', group_keys=False).apply(compute_cum_obj)
    
    # Beregn rangering inden for hver eom_ret-gruppe baseret på -cum_obj
    validation['rank'] = validation.groupby('eom_ret')['cum_obj'].rank(ascending=False, method='first')
    
    # Plottekoden er fjernet som ønsket.
    
    # Vælg de optimale HP'er: de rækker hvor eom_ret har måned == 12 og rank == 1, sorteret efter eom_ret
    optimal_hps = validation[(validation['eom_ret'].dt.month == 12) & (validation['rank'] == 1)].sort_values(by='eom_ret')
    
    # Implementér den endelige portefølje: vælg data_tc hvor eom i dates_oos og valid == True
    w_data = data_tc[(data_tc['eom'].isin(dates_oos)) & (data_tc['valid'] == True)][['id', 'eom', 'me', 'tr_ld1', 'pred_ld1']]
    w = static_val_fun(w_data, dates=dates_oos, cov_list=cov_list, lambda_list=lambda_list,
                        wealth=wealth, gamma_rel=gamma_rel, hps=optimal_hps, cov_type=cov_type)
    
    pf = General_Functions.pf_ts_fun(w, data=data_tc, wealth=wealth, gam=gamma_rel)
    pf['type'] = "Static-ML*"
    
    return {"hps": validation, "best_hps": optimal_hps, "w": w, "pf": pf}

In [34]:
dates_hp

DatetimeIndex(['2000-12-31', '2001-01-31', '2001-02-28', '2001-03-31',
               '2001-04-30', '2001-05-31', '2001-06-30', '2001-07-31',
               '2001-08-31', '2001-09-30',
               ...
               '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31',
               '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30',
               '2022-10-31', '2022-11-30'],
              dtype='datetime64[ns]', length=264, freq='ME')

In [70]:
static = static_implement(
    data_tc=chars,
    cov_list=barra_cov,
    lambda_list=lambda_list,
    rf=risk_free,              # Data
    wealth=wealth,
    mu=pf_set['mu'],
    gamma_rel=pf_set['gamma_rel'],  # Investor
    dates_full=dates_m1,
    dates_oos=dates_oos,
    dates_hp=dates_hp,
    hp_years=hp_years,          # Dates
    k_vec=settings['pf']['hps']['static']['k'],
    u_vec=settings['pf']['hps']['static']['u'],
    g_vec=settings['pf']['hps']['static']['g'],
    cov_type=settings['pf']['hps']['cov_type'],
    validation=None
)

C:\Users\jonas\AppData\Local\Temp\ipykernel_15328\534823635.py:21: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.

0
Nøgler i cov_list: ['1994-10-31', '1994-11-30', '1994-12-31', '1995-01-31', '1995-02-28', '1995-03-31', '1995-04-30', '1995-05-31', '1995-06-30', '1995-07-31', '1995-08-31', '1995-09-30', '1995-10-31', '1995-11-30', '1995-12-31', '1996-01-31', '1996-02-29', '1996-03-31', '1996-04-30', '1996-05-31', '1996-06-30', '1996-07-31', '1996-08-31', '1996-09-30', '1996-10-31', '1996-11-30', '1996-12-31', '1997-01-31', '1997-02-28', '1997-03-31', '1997-04-30', '1997-05-31', '1997-06-30', '1997-07-31', '1997-08-31', '1997-09-30', '1997-10-31', '1997-11-30', '1997-12-31', '1998-01-31', '1998-02-28', '1998-03-31', '1998-04-30', '1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31', '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31', '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30', '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31', '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31', '2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30', '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31', '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31', '2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30', '2001-05-31', '2001-06-30', '2001-07-31', '2001-08-31', '2001-09-30', '2001-10-31', '2001-11-30', '2001-12-31', '2002-01-31', '2002-02-28', '2002-03-31', '2002-04-30', '2002-05-31', '2002-06-30', '2002-07-31', '2002-08-31', '2002-09-30', '2002-10-31', '2002-11-30', '2002-12-31', '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30', '2003-05-31', '2003-06-30', '2003-07-31', '2003-08-31', '2003-09-30', '2003-10-31', '2003-11-30', '2003-12-31', '2004-01-31', '2004-02-29', '2004-03-31', '2004-04-30', '2004-05-31', '2004-06-30', '2004-07-31', '2004-08-31', '2004-09-30', '2004-10-31', '2004-11-30', '2004-12-31', '2005-01-31', '2005-02-28', '2005-03-31', '2005-04-30', '2005-05-31', '2005-06-30', '2005-07-31', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-31', '2006-01-31', '2006-02-28', '2006-03-31', '2006-04-30', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-30', '2006-10-31', '2006-11-30', '2006-12-31', '2007-01-31', '2007-02-28', '2007-03-31', '2007-04-30', '2007-05-31', '2007-06-30', '2007-07-31', '2007-08-31', '2007-09-30', '2007-10-31', '2007-11-30', '2007-12-31', '2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31', '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30', '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31', '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31', '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31', '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31', '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31', '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30']
Nøgler i lambda_list: ['1986-12-31', '1987-01-31', '1987-02-28', '1987-03-31', '1987-04-30', '1987-05-31', '1987-06-30', '1987-07-31', '1987-08-31', '1987-09-30', '1987-10-31', '1987-11-30', '1987-12-31', '1988-01-31', '1988-02-29', '1988-03-31', '1988-04-30', '1988-05-31', '1988-06-30', '1988-07-31', '1988-08-31', '1988-09-30', '1988-10-31', '1988-11-30', '1988-12-31', '1989-01-31', '1989-02-28', '1989-03-31', '1989-04-30', '1989-05-31', '1989-06-30', '1989-07-31', '1989-08-31', '1989-09-30', '1989-10-31', '1989-11-30', '1989-12-31', '1990-01-31', '1990-02-28', '1990-03-31', '1990-04-30', '1990-05-31', '1990-06-30', '1990-07-31', '1990-08-31', '1990-09-30', '1990-10-31', '1990-11-30', '1990-12-31', '1991-01-31', '1991-02-28', '1991-03-31', '1991-04-30', '1991-05-31', '1991-06-30', '1991-07-31', '1991-08-31', '1991-09-30', '1991-10-31', '1991-11-30', '1991-12-31', '1992-01-31', '1992-02-29', '1992-03-31', '1992-04-30', '1992-05-31', '1992-06-30', '1992-07-31', '1992-08-31', '1992-09-30', '1992-10-31', '1992-11-30', '1992-12-31', '1993-01-31', '1993-02-28', '1993-03-31', '1993-04-30', '1993-05-31', '1993-06-30', '1993-07-31', '1993-08-31', '1993-09-30', '1993-10-31', '1993-11-30', '1993-12-31', '1994-01-31', '1994-02-28', '1994-03-31', '1994-04-30', '1994-05-31', '1994-06-30', '1994-07-31', '1994-08-31', '1994-09-30', '1994-10-31', '1994-11-30', '1994-12-31', '1995-01-31', '1995-02-28', '1995-03-31', '1995-04-30', '1995-05-31', '1995-06-30', '1995-07-31', '1995-08-31', '1995-09-30', '1995-10-31', '1995-11-30', '1995-12-31', '1996-01-31', '1996-02-29', '1996-03-31', '1996-04-30', '1996-05-31', '1996-06-30', '1996-07-31', '1996-08-31', '1996-09-30', '1996-10-31', '1996-11-30', '1996-12-31', '1997-01-31', '1997-02-28', '1997-03-31', '1997-04-30', '1997-05-31', '1997-06-30', '1997-07-31', '1997-08-31', '1997-09-30', '1997-10-31', '1997-11-30', '1997-12-31', '1998-01-31', '1998-02-28', '1998-03-31', '1998-04-30', '1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31', '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31', '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30', '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31', '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31', '2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30', '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31', '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31', '2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30', '2001-05-31', '2001-06-30', '2001-07-31', '2001-08-31', '2001-09-30', '2001-10-31', '2001-11-30', '2001-12-31', '2002-01-31', '2002-02-28', '2002-03-31', '2002-04-30', '2002-05-31', '2002-06-30', '2002-07-31', '2002-08-31', '2002-09-30', '2002-10-31', '2002-11-30', '2002-12-31', '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30', '2003-05-31', '2003-06-30', '2003-07-31', '2003-08-31', '2003-09-30', '2003-10-31', '2003-11-30', '2003-12-31', '2004-01-31', '2004-02-29', '2004-03-31', '2004-04-30', '2004-05-31', '2004-06-30', '2004-07-31', '2004-08-31', '2004-09-30', '2004-10-31', '2004-11-30', '2004-12-31', '2005-01-31', '2005-02-28', '2005-03-31', '2005-04-30', '2005-05-31', '2005-06-30', '2005-07-31', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-31', '2006-01-31', '2006-02-28', '2006-03-31', '2006-04-30', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-30', '2006-10-31', '2006-11-30', '2006-12-31', '2007-01-31', '2007-02-28', '2007-03-31', '2007-04-30', '2007-05-31', '2007-06-30', '2007-07-31', '2007-08-31', '2007-09-30', '2007-10-31', '2007-11-30', '2007-12-31', '2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31', '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30', '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31', '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31', '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31', '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31', '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31', '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '1982-12-31', '1983-01-31', '1983-02-28', '1983-03-31', '1983-04-30', '1983-05-31', '1983-06-30', '1983-07-31', '1983-08-31', '1983-09-30', '1983-10-31', '1983-11-30', '1983-12-31', '1984-01-31', '1984-02-29', '1984-03-31', '1984-04-30', '1984-05-31', '1984-06-30', '1984-07-31', '1984-08-31', '1984-09-30', '1984-10-31', '1984-11-30', '1984-12-31', '1985-01-31', '1985-02-28', '1985-03-31', '1985-04-30', '1985-05-31', '1985-06-30', '1985-07-31', '1985-08-31', '1985-09-30', '1985-10-31', '1985-11-30', '1985-12-31', '1986-01-31', '1986-02-28', '1986-03-31', '1986-04-30', '1986-05-31', '1986-06-30', '1986-07-31', '1986-08-31', '1986-09-30', '1986-10-31', '1986-11-30']
Processing date: 2000-12-31
Antal rækker for dato 2000-12-31: 0
Data for dato 2000-12-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2000-12-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2000-12-31
Processing date: 2001-01-31
Antal rækker for dato 2001-01-31: 0
Data for dato 2001-01-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2001-01-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2001-01-31
Processing date: 2001-02-28
Antal rækker for dato 2001-02-28: 0
Data for dato 2001-02-28: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2001-02-28: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2001-02-28
Processing date: 2001-03-31
Antal rækker for dato 2001-03-31: 0
Data for dato 2001-03-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2001-03-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2001-03-31
Processing date: 2001-04-30
Antal rækker for dato 2001-04-30: 0
Data for dato 2001-04-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2001-04-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2001-04-30
Processing date: 2001-05-31
Antal rækker for dato 2001-05-31: 0
Data for dato 2001-05-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2001-05-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2001-05-31
Processing date: 2001-06-30
Antal rækker for dato 2001-06-30: 0
Data for dato 2001-06-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2001-06-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2001-06-30
Processing date: 2001-07-31
Antal rækker for dato 2001-07-31: 0
Data for dato 2001-07-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2001-07-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2001-07-31
Processing date: 2001-08-31
Antal rækker for dato 2001-08-31: 0
Data for dato 2001-08-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2001-08-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2001-08-31
Processing date: 2001-09-30
Antal rækker for dato 2001-09-30: 0
Data for dato 2001-09-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2001-09-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2001-09-30
Processing date: 2001-10-31
Antal rækker for dato 2001-10-31: 0
Data for dato 2001-10-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2001-10-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2001-10-31
Processing date: 2001-11-30
Antal rækker for dato 2001-11-30: 0
Data for dato 2001-11-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2001-11-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2001-11-30
Processing date: 2001-12-31
Antal rækker for dato 2001-12-31: 0
Data for dato 2001-12-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2001-12-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2001-12-31
Processing date: 2002-01-31
Antal rækker for dato 2002-01-31: 0
Data for dato 2002-01-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2002-01-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2002-01-31
Processing date: 2002-02-28
Antal rækker for dato 2002-02-28: 0
Data for dato 2002-02-28: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2002-02-28: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2002-02-28
Processing date: 2002-03-31
Antal rækker for dato 2002-03-31: 0
Data for dato 2002-03-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2002-03-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2002-03-31
Processing date: 2002-04-30
Antal rækker for dato 2002-04-30: 0
Data for dato 2002-04-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2002-04-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2002-04-30
Processing date: 2002-05-31
Antal rækker for dato 2002-05-31: 0
Data for dato 2002-05-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2002-05-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2002-05-31
Processing date: 2002-06-30
Antal rækker for dato 2002-06-30: 0
Data for dato 2002-06-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2002-06-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2002-06-30
Processing date: 2002-07-31
Antal rækker for dato 2002-07-31: 0
Data for dato 2002-07-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2002-07-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2002-07-31
Processing date: 2002-08-31
Antal rækker for dato 2002-08-31: 0
Data for dato 2002-08-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2002-08-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2002-08-31
Processing date: 2002-09-30
Antal rækker for dato 2002-09-30: 0
Data for dato 2002-09-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2002-09-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2002-09-30
Processing date: 2002-10-31
Antal rækker for dato 2002-10-31: 0
Data for dato 2002-10-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2002-10-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2002-10-31
Processing date: 2002-11-30
Antal rækker for dato 2002-11-30: 0
Data for dato 2002-11-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2002-11-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2002-11-30
Processing date: 2002-12-31
Antal rækker for dato 2002-12-31: 0
Data for dato 2002-12-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2002-12-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2002-12-31
Processing date: 2003-01-31
Antal rækker for dato 2003-01-31: 0
Data for dato 2003-01-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2003-01-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2003-01-31
Processing date: 2003-02-28
Antal rækker for dato 2003-02-28: 0
Data for dato 2003-02-28: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2003-02-28: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2003-02-28
Processing date: 2003-03-31
Antal rækker for dato 2003-03-31: 0
Data for dato 2003-03-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2003-03-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2003-03-31
Processing date: 2003-04-30
Antal rækker for dato 2003-04-30: 0
Data for dato 2003-04-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2003-04-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2003-04-30
Processing date: 2003-05-31
Antal rækker for dato 2003-05-31: 0
Data for dato 2003-05-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2003-05-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2003-05-31
Processing date: 2003-06-30
Antal rækker for dato 2003-06-30: 0

C:\Users\jonas\AppData\Local\Temp\ipykernel_15328\534823635.py:54: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
C:\Users\jonas\AppData\Local\Temp\ipykernel_15328\534823635.py:65: FutureWarning: The behavior of 'isin' with dtype=datetime64[ns] and castable values (e.g. strings) is deprecated. In a future version, these will not be considered matching by isin. Explicitly cast to the appropriate dtype before calling isin instead.

Nøgler i cov_list: ['1994-10-31', '1994-11-30', '1994-12-31', '1995-01-31', '1995-02-28', '1995-03-31', '1995-04-30', '1995-05-31', '1995-06-30', '1995-07-31', '1995-08-31', '1995-09-30', '1995-10-31', '1995-11-30', '1995-12-31', '1996-01-31', '1996-02-29', '1996-03-31', '1996-04-30', '1996-05-31', '1996-06-30', '1996-07-31', '1996-08-31', '1996-09-30', '1996-10-31', '1996-11-30', '1996-12-31', '1997-01-31', '1997-02-28', '1997-03-31', '1997-04-30', '1997-05-31', '1997-06-30', '1997-07-31', '1997-08-31', '1997-09-30', '1997-10-31', '1997-11-30', '1997-12-31', '1998-01-31', '1998-02-28', '1998-03-31', '1998-04-30', '1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31', '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31', '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30', '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31', '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31', '2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30', '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31', '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31', '2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30', '2001-05-31', '2001-06-30', '2001-07-31', '2001-08-31', '2001-09-30', '2001-10-31', '2001-11-30', '2001-12-31', '2002-01-31', '2002-02-28', '2002-03-31', '2002-04-30', '2002-05-31', '2002-06-30', '2002-07-31', '2002-08-31', '2002-09-30', '2002-10-31', '2002-11-30', '2002-12-31', '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30', '2003-05-31', '2003-06-30', '2003-07-31', '2003-08-31', '2003-09-30', '2003-10-31', '2003-11-30', '2003-12-31', '2004-01-31', '2004-02-29', '2004-03-31', '2004-04-30', '2004-05-31', '2004-06-30', '2004-07-31', '2004-08-31', '2004-09-30', '2004-10-31', '2004-11-30', '2004-12-31', '2005-01-31', '2005-02-28', '2005-03-31', '2005-04-30', '2005-05-31', '2005-06-30', '2005-07-31', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-31', '2006-01-31', '2006-02-28', '2006-03-31', '2006-04-30', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-30', '2006-10-31', '2006-11-30', '2006-12-31', '2007-01-31', '2007-02-28', '2007-03-31', '2007-04-30', '2007-05-31', '2007-06-30', '2007-07-31', '2007-08-31', '2007-09-30', '2007-10-31', '2007-11-30', '2007-12-31', '2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31', '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30', '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31', '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31', '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31', '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31', '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31', '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30']
Nøgler i lambda_list: ['1986-12-31', '1987-01-31', '1987-02-28', '1987-03-31', '1987-04-30', '1987-05-31', '1987-06-30', '1987-07-31', '1987-08-31', '1987-09-30', '1987-10-31', '1987-11-30', '1987-12-31', '1988-01-31', '1988-02-29', '1988-03-31', '1988-04-30', '1988-05-31', '1988-06-30', '1988-07-31', '1988-08-31', '1988-09-30', '1988-10-31', '1988-11-30', '1988-12-31', '1989-01-31', '1989-02-28', '1989-03-31', '1989-04-30', '1989-05-31', '1989-06-30', '1989-07-31', '1989-08-31', '1989-09-30', '1989-10-31', '1989-11-30', '1989-12-31', '1990-01-31', '1990-02-28', '1990-03-31', '1990-04-30', '1990-05-31', '1990-06-30', '1990-07-31', '1990-08-31', '1990-09-30', '1990-10-31', '1990-11-30', '1990-12-31', '1991-01-31', '1991-02-28', '1991-03-31', '1991-04-30', '1991-05-31', '1991-06-30', '1991-07-31', '1991-08-31', '1991-09-30', '1991-10-31', '1991-11-30', '1991-12-31', '1992-01-31', '1992-02-29', '1992-03-31', '1992-04-30', '1992-05-31', '1992-06-30', '1992-07-31', '1992-08-31', '1992-09-30', '1992-10-31', '1992-11-30', '1992-12-31', '1993-01-31', '1993-02-28', '1993-03-31', '1993-04-30', '1993-05-31', '1993-06-30', '1993-07-31', '1993-08-31', '1993-09-30', '1993-10-31', '1993-11-30', '1993-12-31', '1994-01-31', '1994-02-28', '1994-03-31', '1994-04-30', '1994-05-31', '1994-06-30', '1994-07-31', '1994-08-31', '1994-09-30', '1994-10-31', '1994-11-30', '1994-12-31', '1995-01-31', '1995-02-28', '1995-03-31', '1995-04-30', '1995-05-31', '1995-06-30', '1995-07-31', '1995-08-31', '1995-09-30', '1995-10-31', '1995-11-30', '1995-12-31', '1996-01-31', '1996-02-29', '1996-03-31', '1996-04-30', '1996-05-31', '1996-06-30', '1996-07-31', '1996-08-31', '1996-09-30', '1996-10-31', '1996-11-30', '1996-12-31', '1997-01-31', '1997-02-28', '1997-03-31', '1997-04-30', '1997-05-31', '1997-06-30', '1997-07-31', '1997-08-31', '1997-09-30', '1997-10-31', '1997-11-30', '1997-12-31', '1998-01-31', '1998-02-28', '1998-03-31', '1998-04-30', '1998-05-31', '1998-06-30', '1998-07-31', '1998-08-31', '1998-09-30', '1998-10-31', '1998-11-30', '1998-12-31', '1999-01-31', '1999-02-28', '1999-03-31', '1999-04-30', '1999-05-31', '1999-06-30', '1999-07-31', '1999-08-31', '1999-09-30', '1999-10-31', '1999-11-30', '1999-12-31', '2000-01-31', '2000-02-29', '2000-03-31', '2000-04-30', '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31', '2000-09-30', '2000-10-31', '2000-11-30', '2000-12-31', '2001-01-31', '2001-02-28', '2001-03-31', '2001-04-30', '2001-05-31', '2001-06-30', '2001-07-31', '2001-08-31', '2001-09-30', '2001-10-31', '2001-11-30', '2001-12-31', '2002-01-31', '2002-02-28', '2002-03-31', '2002-04-30', '2002-05-31', '2002-06-30', '2002-07-31', '2002-08-31', '2002-09-30', '2002-10-31', '2002-11-30', '2002-12-31', '2003-01-31', '2003-02-28', '2003-03-31', '2003-04-30', '2003-05-31', '2003-06-30', '2003-07-31', '2003-08-31', '2003-09-30', '2003-10-31', '2003-11-30', '2003-12-31', '2004-01-31', '2004-02-29', '2004-03-31', '2004-04-30', '2004-05-31', '2004-06-30', '2004-07-31', '2004-08-31', '2004-09-30', '2004-10-31', '2004-11-30', '2004-12-31', '2005-01-31', '2005-02-28', '2005-03-31', '2005-04-30', '2005-05-31', '2005-06-30', '2005-07-31', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-31', '2006-01-31', '2006-02-28', '2006-03-31', '2006-04-30', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-30', '2006-10-31', '2006-11-30', '2006-12-31', '2007-01-31', '2007-02-28', '2007-03-31', '2007-04-30', '2007-05-31', '2007-06-30', '2007-07-31', '2007-08-31', '2007-09-30', '2007-10-31', '2007-11-30', '2007-12-31', '2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-31', '2008-06-30', '2008-07-31', '2008-08-31', '2008-09-30', '2008-10-31', '2008-11-30', '2008-12-31', '2009-01-31', '2009-02-28', '2009-03-31', '2009-04-30', '2009-05-31', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-31', '2009-11-30', '2009-12-31', '2010-01-31', '2010-02-28', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-31', '2010-08-31', '2010-09-30', '2010-10-31', '2010-11-30', '2010-12-31', '2011-01-31', '2011-02-28', '2011-03-31', '2011-04-30', '2011-05-31', '2011-06-30', '2011-07-31', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-31', '2012-01-31', '2012-02-29', '2012-03-31', '2012-04-30', '2012-05-31', '2012-06-30', '2012-07-31', '2012-08-31', '2012-09-30', '2012-10-31', '2012-11-30', '2012-12-31', '2013-01-31', '2013-02-28', '2013-03-31', '2013-04-30', '2013-05-31', '2013-06-30', '2013-07-31', '2013-08-31', '2013-09-30', '2013-10-31', '2013-11-30', '2013-12-31', '2014-01-31', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-31', '2014-06-30', '2014-07-31', '2014-08-31', '2014-09-30', '2014-10-31', '2014-11-30', '2014-12-31', '2015-01-31', '2015-02-28', '2015-03-31', '2015-04-30', '2015-05-31', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-31', '2015-11-30', '2015-12-31', '2016-01-31', '2016-02-29', '2016-03-31', '2016-04-30', '2016-05-31', '2016-06-30', '2016-07-31', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-31', '2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-30', '2017-10-31', '2017-11-30', '2017-12-31', '2018-01-31', '2018-02-28', '2018-03-31', '2018-04-30', '2018-05-31', '2018-06-30', '2018-07-31', '2018-08-31', '2018-09-30', '2018-10-31', '2018-11-30', '2018-12-31', '2019-01-31', '2019-02-28', '2019-03-31', '2019-04-30', '2019-05-31', '2019-06-30', '2019-07-31', '2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30', '2019-12-31', '2020-01-31', '2020-02-29', '2020-03-31', '2020-04-30', '2020-05-31', '2020-06-30', '2020-07-31', '2020-08-31', '2020-09-30', '2020-10-31', '2020-11-30', '2020-12-31', '2021-01-31', '2021-02-28', '2021-03-31', '2021-04-30', '2021-05-31', '2021-06-30', '2021-07-31', '2021-08-31', '2021-09-30', '2021-10-31', '2021-11-30', '2021-12-31', '2022-01-31', '2022-02-28', '2022-03-31', '2022-04-30', '2022-05-31', '2022-06-30', '2022-07-31', '2022-08-31', '2022-09-30', '2022-10-31', '2022-11-30', '1982-12-31', '1983-01-31', '1983-02-28', '1983-03-31', '1983-04-30', '1983-05-31', '1983-06-30', '1983-07-31', '1983-08-31', '1983-09-30', '1983-10-31', '1983-11-30', '1983-12-31', '1984-01-31', '1984-02-29', '1984-03-31', '1984-04-30', '1984-05-31', '1984-06-30', '1984-07-31', '1984-08-31', '1984-09-30', '1984-10-31', '1984-11-30', '1984-12-31', '1985-01-31', '1985-02-28', '1985-03-31', '1985-04-30', '1985-05-31', '1985-06-30', '1985-07-31', '1985-08-31', '1985-09-30', '1985-10-31', '1985-11-30', '1985-12-31', '1986-01-31', '1986-02-28', '1986-03-31', '1986-04-30', '1986-05-31', '1986-06-30', '1986-07-31', '1986-08-31', '1986-09-30', '1986-10-31', '1986-11-30']
Processing date: 2010-12-31
Antal rækker for dato 2010-12-31: 0
Data for dato 2010-12-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2010-12-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2010-12-31
Processing date: 2011-01-31
Antal rækker for dato 2011-01-31: 0
Data for dato 2011-01-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2011-01-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2011-01-31
Processing date: 2011-02-28
Antal rækker for dato 2011-02-28: 0
Data for dato 2011-02-28: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2011-02-28: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2011-02-28
Processing date: 2011-03-31
Antal rækker for dato 2011-03-31: 0
Data for dato 2011-03-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2011-03-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2011-03-31
Processing date: 2011-04-30
Antal rækker for dato 2011-04-30: 0
Data for dato 2011-04-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2011-04-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2011-04-30
Processing date: 2011-05-31
Antal rækker for dato 2011-05-31: 0
Data for dato 2011-05-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2011-05-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2011-05-31
Processing date: 2011-06-30
Antal rækker for dato 2011-06-30: 0
Data for dato 2011-06-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2011-06-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2011-06-30
Processing date: 2011-07-31
Antal rækker for dato 2011-07-31: 0
Data for dato 2011-07-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2011-07-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2011-07-31
Processing date: 2011-08-31
Antal rækker for dato 2011-08-31: 0
Data for dato 2011-08-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2011-08-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2011-08-31
Processing date: 2011-09-30
Antal rækker for dato 2011-09-30: 0
Data for dato 2011-09-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2011-09-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2011-09-30
Processing date: 2011-10-31
Antal rækker for dato 2011-10-31: 0
Data for dato 2011-10-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2011-10-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2011-10-31
Processing date: 2011-11-30
Antal rækker for dato 2011-11-30: 0
Data for dato 2011-11-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2011-11-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2011-11-30
Processing date: 2011-12-31
Antal rækker for dato 2011-12-31: 0
Data for dato 2011-12-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2011-12-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2011-12-31
Processing date: 2012-01-31
Antal rækker for dato 2012-01-31: 0
Data for dato 2012-01-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2012-01-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2012-01-31
Processing date: 2012-02-29
Antal rækker for dato 2012-02-29: 0
Data for dato 2012-02-29: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2012-02-29: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2012-02-29
Processing date: 2012-03-31
Antal rækker for dato 2012-03-31: 0
Data for dato 2012-03-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2012-03-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2012-03-31
Processing date: 2012-04-30
Antal rækker for dato 2012-04-30: 0
Data for dato 2012-04-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2012-04-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2012-04-30
Processing date: 2012-05-31
Antal rækker for dato 2012-05-31: 0
Data for dato 2012-05-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2012-05-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2012-05-31
Processing date: 2012-06-30
Antal rækker for dato 2012-06-30: 0
Data for dato 2012-06-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2012-06-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2012-06-30
Processing date: 2012-07-31
Antal rækker for dato 2012-07-31: 0
Data for dato 2012-07-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2012-07-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2012-07-31
Processing date: 2012-08-31
Antal rækker for dato 2012-08-31: 0
Data for dato 2012-08-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2012-08-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2012-08-31
Processing date: 2012-09-30
Antal rækker for dato 2012-09-30: 0
Data for dato 2012-09-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2012-09-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2012-09-30
Processing date: 2012-10-31
Antal rækker for dato 2012-10-31: 0
Data for dato 2012-10-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2012-10-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2012-10-31
Processing date: 2012-11-30
Antal rækker for dato 2012-11-30: 0
Data for dato 2012-11-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2012-11-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2012-11-30
Processing date: 2012-12-31
Antal rækker for dato 2012-12-31: 0
Data for dato 2012-12-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2012-12-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2012-12-31
Processing date: 2013-01-31
Antal rækker for dato 2013-01-31: 0
Data for dato 2013-01-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2013-01-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2013-01-31
Processing date: 2013-02-28
Antal rækker for dato 2013-02-28: 0
Data for dato 2013-02-28: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2013-02-28: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2013-02-28
Processing date: 2013-03-31
Antal rækker for dato 2013-03-31: 0
Data for dato 2013-03-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2013-03-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2013-03-31
Processing date: 2013-04-30
Antal rækker for dato 2013-04-30: 0
Data for dato 2013-04-30: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2013-04-30: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2013-04-30
Processing date: 2013-05-31
Antal rækker for dato 2013-05-31: 0
Data for dato 2013-05-31: Empty DataFrame
Columns: [id, eom, w_start, w, tr_ld1, pred_ld1, mu_ld1]
Index: []
Wealth for dato 2013-05-31: Series([], Name: wealth, dtype: float64)
Ingen wealth data for dato: 2013-05-31
Processing date: 2013-06-30
Antal rækker for dato 2013-06-30: 0

In [64]:
static

{'hps':       inv  shorting  turnover    r   tc    eom_ret  hp_no    k    g     u  \
 0     0.0       0.0       0.0  0.0  0.0 2001-01-31      0  1.0  0.0  0.25
 1     0.0       0.0       0.0  0.0  0.0 2001-02-28      0  1.0  0.0  0.25
 2     0.0       0.0       0.0  0.0  0.0 2001-03-31      0  1.0  0.0  0.25
 3     0.0       0.0       0.0  0.0  0.0 2001-04-30      0  1.0  0.0  0.25
 4     0.0       0.0       0.0  0.0  0.0 2001-05-31      0  1.0  0.0  0.25
 ...   ...       ...       ...  ...  ...        ...    ...  ...  ...   ...
 7123  0.0       0.0       0.0  0.0  0.0 2022-08-31     26  0.2  2.0  1.00
 7124  0.0       0.0       0.0  0.0  0.0 2022-09-30     26  0.2  2.0  1.00
 7125  0.0       0.0       0.0  0.0  0.0 2022-10-31     26  0.2  2.0  1.00
 7126  0.0       0.0       0.0  0.0  0.0 2022-11-30     26  0.2  2.0  1.00
 7127  0.0       0.0       0.0  0.0  0.0 2022-12-31     26  0.2  2.0  1.00

       cum_mean_r2  cum_mean_r  cum_var  cum_obj  rank
 0             0.0         0.0      0.0      0.0   1.0
 1             0.0         0.0      0.0      0.0   1.0
 2             0.0         0.0      0.0      0.0   1.0
 3             0.0         0.0      0.0      0.0   1.0
 4             0.0         0.0      0.0      0.0   1.0
 ...           ...         ...      ...      ...   ...
 7123          0.0         0.0      0.0      0.0  27.0
 7124          0.0         0.0      0.0      0.0  27.0
 7125          0.0         0.0      0.0      0.0  27.0
 7126          0.0         0.0      0.0      0.0  27.0
 7127          0.0         0.0      0.0      0.0  27.0

 [7128 rows x 15 columns],
 'best_hps':      inv  shorting  turnover    r   tc    eom_ret  hp_no    k    g     u  \
 11   0.0       0.0       0.0  0.0  0.0 2001-12-31      0  1.0  0.0  0.25
 23   0.0       0.0       0.0  0.0  0.0 2002-12-31      0  1.0  0.0  0.25
 35   0.0       0.0       0.0  0.0  0.0 2003-12-31      0  1.0  0.0  0.25
 47   0.0       0.0       0.0  0.0  0.0 2004-12-31      0  1.0  0.0  0.25
 59   0.0       0.0       0.0  0.0  0.0 2005-12-31      0  1.0  0.0  0.25
 71   0.0       0.0       0.0  0.0  0.0 2006-12-31      0  1.0  0.0  0.25
 83   0.0       0.0       0.0  0.0  0.0 2007-12-31      0  1.0  0.0  0.25
 95   0.0       0.0       0.0  0.0  0.0 2008-12-31      0  1.0  0.0  0.25
 107  0.0       0.0       0.0  0.0  0.0 2009-12-31      0  1.0  0.0  0.25
 119  0.0       0.0       0.0  0.0  0.0 2010-12-31      0  1.0  0.0  0.25
 131  0.0       0.0       0.0  0.0  0.0 2011-12-31      0  1.0  0.0  0.25
 143  0.0       0.0       0.0  0.0  0.0 2012-12-31      0  1.0  0.0  0.25
 155  0.0       0.0       0.0  0.0  0.0 2013-12-31      0  1.0  0.0  0.25
 167  0.0       0.0       0.0  0.0  0.0 2014-12-31      0  1.0  0.0  0.25
 179  0.0       0.0       0.0  0.0  0.0 2015-12-31      0  1.0  0.0  0.25
 191  0.0       0.0       0.0  0.0  0.0 2016-12-31      0  1.0  0.0  0.25
 203  0.0       0.0       0.0  0.0  0.0 2017-12-31      0  1.0  0.0  0.25
 215  0.0       0.0       0.0  0.0  0.0 2018-12-31      0  1.0  0.0  0.25
 227  0.0       0.0       0.0  0.0  0.0 2019-12-31      0  1.0  0.0  0.25
 239  0.0       0.0       0.0  0.0  0.0 2020-12-31      0  1.0  0.0  0.25
 251  0.0       0.0       0.0  0.0  0.0 2021-12-31      0  1.0  0.0  0.25
 263  0.0       0.0       0.0  0.0  0.0 2022-12-31      0  1.0  0.0  0.25

      cum_mean_r2  cum_mean_r  cum_var  cum_obj  rank
 11           0.0         0.0      0.0      0.0   1.0
 23           0.0         0.0      0.0      0.0   1.0
 35           0.0         0.0      0.0      0.0   1.0
 47           0.0         0.0      0.0      0.0   1.0
 59           0.0         0.0      0.0      0.0   1.0
 71           0.0         0.0      0.0      0.0   1.0
 83           0.0         0.0      0.0      0.0   1.0
 95           0.0         0.0      0.0      0.0   1.0
 107          0.0         0.0      0.0      0.0   1.0
 119          0.0         0.0      0.0      0.0   1.0
 131          0.0         0.0      0.0      0.0   1.0
 143          0.0         0.0      0.0      0.0   1.0
 155          0.0         0.0      0.0      0.0   1.0
 167          0.0         0.0      0.0      0.0   1.0
 179          0.0         0.0      0.0      0.0   1.0
 191          0.0         0.0      0.0      0.0   1.0
 203          0.0         0.0      0.0      0.0   1.0
 215          0.0         0.0      0.0      0.0   1.0
 227          0.0         0.0      0.0      0.0   1.0
 239          0.0         0.0      0.0      0.0   1.0
 251          0.0         0.0      0.0      0.0   1.0
 263          0.0         0.0      0.0      0.0   1.0  ,
 'w':           id        eom  w_start   w    tr_ld1  pred_ld1    mu_ld1
 0      10104 2010-12-31  0.01962 NaN  0.024954  0.008192  0.020052
 1      10104 2011-01-31      NaN NaN  0.027140  0.007891  0.038821
 2      10104 2011-02-28      NaN NaN  0.016218  0.008211  0.003383
 3      10104 2011-03-31      NaN NaN  0.077442  0.007847  0.027662
 4      10104 2011-04-30      NaN NaN -0.048400  0.007880 -0.015071
 ...      ...        ...      ...  ..       ...       ...       ...
 25859  92655 2022-07-31      NaN NaN -0.043528  0.010957 -0.036188
 25860  92655 2022-08-31      NaN NaN -0.024368  0.009506 -0.091370
 25861  92655 2022-09-30      NaN NaN  0.098793  0.010641  0.081350
 25862  92655 2022-10-31      NaN NaN -0.013868  0.010774  0.051329
 25863  92655 2022-11-30      NaN NaN -0.029561  0.011608 -0.059779

 [25864 rows x 7 columns],
 'pf':      inv  shorting  turnover    r   tc    eom_ret        type
 0    0.0       0.0       0.0  0.0  0.0 2011-01-31  Static-ML*
 1    0.0       0.0       0.0  0.0  0.0 2011-02-28  Static-ML*
 2    0.0       0.0       0.0  0.0  0.0 2011-03-31  Static-ML*
 3    0.0       0.0       0.0  0.0  0.0 2011-04-30  Static-ML*
 4    0.0       0.0       0.0  0.0  0.0 2011-05-31  Static-ML*
 ..   ...       ...       ...  ...  ...        ...         ...
 139  0.0       0.0       0.0  0.0  0.0 2022-08-31  Static-ML*
 140  0.0       0.0       0.0  0.0  0.0 2022-09-30  Static-ML*
 141  0.0       0.0       0.0  0.0  0.0 2022-10-31  Static-ML*
 142  0.0       0.0       0.0  0.0  0.0 2022-11-30  Static-ML*
 143  0.0       0.0       0.0  0.0  0.0 2022-12-31  Static-ML*

 [144 rows x 7 columns]}

In [62]:
print(dates_m1)
print(dates_m2)
print(dates_oos)
print(dates_hp)

[datetime.date(2000, 12, 31), datetime.date(2001, 1, 31), datetime.date(2001, 2, 28), datetime.date(2001, 3, 31), datetime.date(2001, 4, 30), datetime.date(2001, 5, 31), datetime.date(2001, 6, 30), datetime.date(2001, 7, 31), datetime.date(2001, 8, 31), datetime.date(2001, 9, 30), datetime.date(2001, 10, 31), datetime.date(2001, 11, 30), datetime.date(2001, 12, 31), datetime.date(2002, 1, 31), datetime.date(2002, 2, 28), datetime.date(2002, 3, 31), datetime.date(2002, 4, 30), datetime.date(2002, 5, 31), datetime.date(2002, 6, 30), datetime.date(2002, 7, 31), datetime.date(2002, 8, 31), datetime.date(2002, 9, 30), datetime.date(2002, 10, 31), datetime.date(2002, 11, 30), datetime.date(2002, 12, 31), datetime.date(2003, 1, 31), datetime.date(2003, 2, 28), datetime.date(2003, 3, 31), datetime.date(2003, 4, 30), datetime.date(2003, 5, 31), datetime.date(2003, 6, 30), datetime.date(2003, 7, 31), datetime.date(2003, 8, 31), datetime.date(2003, 9, 30), datetime.date(2003, 10, 31), datetime.date(2003, 11, 30), datetime.date(2003, 12, 31), datetime.date(2004, 1, 31), datetime.date(2004, 2, 29), datetime.date(2004, 3, 31), datetime.date(2004, 4, 30), datetime.date(2004, 5, 31), datetime.date(2004, 6, 30), datetime.date(2004, 7, 31), datetime.date(2004, 8, 31), datetime.date(2004, 9, 30), datetime.date(2004, 10, 31), datetime.date(2004, 11, 30), datetime.date(2004, 12, 31), datetime.date(2005, 1, 31), datetime.date(2005, 2, 28), datetime.date(2005, 3, 31), datetime.date(2005, 4, 30), datetime.date(2005, 5, 31), datetime.date(2005, 6, 30), datetime.date(2005, 7, 31), datetime.date(2005, 8, 31), datetime.date(2005, 9, 30), datetime.date(2005, 10, 31), datetime.date(2005, 11, 30), datetime.date(2005, 12, 31), datetime.date(2006, 1, 31), datetime.date(2006, 2, 28), datetime.date(2006, 3, 31), datetime.date(2006, 4, 30), datetime.date(2006, 5, 31), datetime.date(2006, 6, 30), datetime.date(2006, 7, 31), datetime.date(2006, 8, 31), datetime.date(2006, 9, 30), datetime.date(2006, 10, 31), datetime.date(2006, 11, 30), datetime.date(2006, 12, 31), datetime.date(2007, 1, 31), datetime.date(2007, 2, 28), datetime.date(2007, 3, 31), datetime.date(2007, 4, 30), datetime.date(2007, 5, 31), datetime.date(2007, 6, 30), datetime.date(2007, 7, 31), datetime.date(2007, 8, 31), datetime.date(2007, 9, 30), datetime.date(2007, 10, 31), datetime.date(2007, 11, 30), datetime.date(2007, 12, 31), datetime.date(2008, 1, 31), datetime.date(2008, 2, 29), datetime.date(2008, 3, 31), datetime.date(2008, 4, 30), datetime.date(2008, 5, 31), datetime.date(2008, 6, 30), datetime.date(2008, 7, 31), datetime.date(2008, 8, 31), datetime.date(2008, 9, 30), datetime.date(2008, 10, 31), datetime.date(2008, 11, 30), datetime.date(2008, 12, 31), datetime.date(2009, 1, 31), datetime.date(2009, 2, 28), datetime.date(2009, 3, 31), datetime.date(2009, 4, 30), datetime.date(2009, 5, 31), datetime.date(2009, 6, 30), datetime.date(2009, 7, 31), datetime.date(2009, 8, 31), datetime.date(2009, 9, 30), datetime.date(2009, 10, 31), datetime.date(2009, 11, 30), datetime.date(2009, 12, 31), datetime.date(2010, 1, 31), datetime.date(2010, 2, 28), datetime.date(2010, 3, 31), datetime.date(2010, 4, 30), datetime.date(2010, 5, 31), datetime.date(2010, 6, 30), datetime.date(2010, 7, 31), datetime.date(2010, 8, 31), datetime.date(2010, 9, 30), datetime.date(2010, 10, 31), datetime.date(2010, 11, 30), datetime.date(2010, 12, 31), datetime.date(2011, 1, 31), datetime.date(2011, 2, 28), datetime.date(2011, 3, 31), datetime.date(2011, 4, 30), datetime.date(2011, 5, 31), datetime.date(2011, 6, 30), datetime.date(2011, 7, 31), datetime.date(2011, 8, 31), datetime.date(2011, 9, 30), datetime.date(2011, 10, 31), datetime.date(2011, 11, 30), datetime.date(2011, 12, 31), datetime.date(2012, 1, 31), datetime.date(2012, 2, 29), datetime.date(2012, 3, 31), datetime.date(2012, 4, 30), datetime.date(2012, 5, 31), datetime.date(2012, 6, 30), datetime.date(2012, 7, 31), datetime.date(2012, 8, 31), datetime.date(2012, 9, 30), datetime.date(2012, 10, 31), datetime.date(2012, 11, 30), datetime.date(2012, 12, 31), datetime.date(2013, 1, 31), datetime.date(2013, 2, 28), datetime.date(2013, 3, 31), datetime.date(2013, 4, 30), datetime.date(2013, 5, 31), datetime.date(2013, 6, 30), datetime.date(2013, 7, 31), datetime.date(2013, 8, 31), datetime.date(2013, 9, 30), datetime.date(2013, 10, 31), datetime.date(2013, 11, 30), datetime.date(2013, 12, 31), datetime.date(2014, 1, 31), datetime.date(2014, 2, 28), datetime.date(2014, 3, 31), datetime.date(2014, 4, 30), datetime.date(2014, 5, 31), datetime.date(2014, 6, 30), datetime.date(2014, 7, 31), datetime.date(2014, 8, 31), datetime.date(2014, 9, 30), datetime.date(2014, 10, 31), datetime.date(2014, 11, 30), datetime.date(2014, 12, 31), datetime.date(2015, 1, 31), datetime.date(2015, 2, 28), datetime.date(2015, 3, 31), datetime.date(2015, 4, 30), datetime.date(2015, 5, 31), datetime.date(2015, 6, 30), datetime.date(2015, 7, 31), datetime.date(2015, 8, 31), datetime.date(2015, 9, 30), datetime.date(2015, 10, 31), datetime.date(2015, 11, 30), datetime.date(2015, 12, 31), datetime.date(2016, 1, 31), datetime.date(2016, 2, 29), datetime.date(2016, 3, 31), datetime.date(2016, 4, 30), datetime.date(2016, 5, 31), datetime.date(2016, 6, 30), datetime.date(2016, 7, 31), datetime.date(2016, 8, 31), datetime.date(2016, 9, 30), datetime.date(2016, 10, 31), datetime.date(2016, 11, 30), datetime.date(2016, 12, 31), datetime.date(2017, 1, 31), datetime.date(2017, 2, 28), datetime.date(2017, 3, 31), datetime.date(2017, 4, 30), datetime.date(2017, 5, 31), datetime.date(2017, 6, 30), datetime.date(2017, 7, 31), datetime.date(2017, 8, 31), datetime.date(2017, 9, 30), datetime.date(2017, 10, 31), datetime.date(2017, 11, 30), datetime.date(2017, 12, 31), datetime.date(2018, 1, 31), datetime.date(2018, 2, 28), datetime.date(2018, 3, 31), datetime.date(2018, 4, 30), datetime.date(2018, 5, 31), datetime.date(2018, 6, 30), datetime.date(2018, 7, 31), datetime.date(2018, 8, 31), datetime.date(2018, 9, 30), datetime.date(2018, 10, 31), datetime.date(2018, 11, 30), datetime.date(2018, 12, 31), datetime.date(2019, 1, 31), datetime.date(2019, 2, 28), datetime.date(2019, 3, 31), datetime.date(2019, 4, 30), datetime.date(2019, 5, 31), datetime.date(2019, 6, 30), datetime.date(2019, 7, 31), datetime.date(2019, 8, 31), datetime.date(2019, 9, 30), datetime.date(2019, 10, 31), datetime.date(2019, 11, 30), datetime.date(2019, 12, 31), datetime.date(2020, 1, 31), datetime.date(2020, 2, 29), datetime.date(2020, 3, 31), datetime.date(2020, 4, 30), datetime.date(2020, 5, 31), datetime.date(2020, 6, 30), datetime.date(2020, 7, 31), datetime.date(2020, 8, 31), datetime.date(2020, 9, 30), datetime.date(2020, 10, 31), datetime.date(2020, 11, 30), datetime.date(2020, 12, 31), datetime.date(2021, 1, 31), datetime.date(2021, 2, 28), datetime.date(2021, 3, 31), datetime.date(2021, 4, 30), datetime.date(2021, 5, 31), datetime.date(2021, 6, 30), datetime.date(2021, 7, 31), datetime.date(2021, 8, 31), datetime.date(2021, 9, 30), datetime.date(2021, 10, 31), datetime.date(2021, 11, 30), datetime.date(2021, 12, 31), datetime.date(2022, 1, 31), datetime.date(2022, 2, 28), datetime.date(2022, 3, 31), datetime.date(2022, 4, 30), datetime.date(2022, 5, 31), datetime.date(2022, 6, 30), datetime.date(2022, 7, 31), datetime.date(2022, 8, 31), datetime.date(2022, 9, 30), datetime.date(2022, 10, 31), datetime.date(2022, 11, 30)]
[datetime.date(1995, 10, 31), datetime.date(1995, 11, 30), datetime.date(1995, 12, 31), datetime.date(1996, 1, 31), datetime.date(1996, 2, 29), datetime.date(1996, 3, 31), datetime.date(1996, 4, 30), datetime.date(1996, 5, 31), datetime.date(1996, 6, 30), datetime.date(1996, 7, 31), datetime.date(1996, 8, 31), datetime.date(1996, 9, 30), datetime.date(1996, 10, 31), datetime.date(1996, 11, 30), datetime.date(1996, 12, 31), datetime.date(1997, 1, 31), datetime.date(1997, 2, 28), datetime.date(1997, 3, 31), datetime.date(1997, 4, 30), datetime.date(1997, 5, 31), datetime.date(1997, 6, 30), datetime.date(1997, 7, 31), datetime.date(1997, 8, 31), datetime.date(1997, 9, 30), datetime.date(1997, 10, 31), datetime.date(1997, 11, 30), datetime.date(1997, 12, 31), datetime.date(1998, 1, 31), datetime.date(1998, 2, 28), datetime.date(1998, 3, 31), datetime.date(1998, 4, 30), datetime.date(1998, 5, 31), datetime.date(1998, 6, 30), datetime.date(1998, 7, 31), datetime.date(1998, 8, 31), datetime.date(1998, 9, 30), datetime.date(1998, 10, 31), datetime.date(1998, 11, 30), datetime.date(1998, 12, 31), datetime.date(1999, 1, 31), datetime.date(1999, 2, 28), datetime.date(1999, 3, 31), datetime.date(1999, 4, 30), datetime.date(1999, 5, 31), datetime.date(1999, 6, 30), datetime.date(1999, 7, 31), datetime.date(1999, 8, 31), datetime.date(1999, 9, 30), datetime.date(1999, 10, 31), datetime.date(1999, 11, 30), datetime.date(1999, 12, 31), datetime.date(2000, 1, 31), datetime.date(2000, 2, 29), datetime.date(2000, 3, 31), datetime.date(2000, 4, 30), datetime.date(2000, 5, 31), datetime.date(2000, 6, 30), datetime.date(2000, 7, 31), datetime.date(2000, 8, 31), datetime.date(2000, 9, 30), datetime.date(2000, 10, 31), datetime.date(2000, 11, 30), datetime.date(2000, 12, 31), datetime.date(2001, 1, 31), datetime.date(2001, 2, 28), datetime.date(2001, 3, 31), datetime.date(2001, 4, 30), datetime.date(2001, 5, 31), datetime.date(2001, 6, 30), datetime.date(2001, 7, 31), datetime.date(2001, 8, 31), datetime.date(2001, 9, 30), datetime.date(2001, 10, 31), datetime.date(2001, 11, 30), datetime.date(2001, 12, 31), datetime.date(2002, 1, 31), datetime.date(2002, 2, 28), datetime.date(2002, 3, 31), datetime.date(2002, 4, 30), datetime.date(2002, 5, 31), datetime.date(2002, 6, 30), datetime.date(2002, 7, 31), datetime.date(2002, 8, 31), datetime.date(2002, 9, 30), datetime.date(2002, 10, 31), datetime.date(2002, 11, 30), datetime.date(2002, 12, 31), datetime.date(2003, 1, 31), datetime.date(2003, 2, 28), datetime.date(2003, 3, 31), datetime.date(2003, 4, 30), datetime.date(2003, 5, 31), datetime.date(2003, 6, 30), datetime.date(2003, 7, 31), datetime.date(2003, 8, 31), datetime.date(2003, 9, 30), datetime.date(2003, 10, 31), datetime.date(2003, 11, 30), datetime.date(2003, 12, 31), datetime.date(2004, 1, 31), datetime.date(2004, 2, 29), datetime.date(2004, 3, 31), datetime.date(2004, 4, 30), datetime.date(2004, 5, 31), datetime.date(2004, 6, 30), datetime.date(2004, 7, 31), datetime.date(2004, 8, 31), datetime.date(2004, 9, 30), datetime.date(2004, 10, 31), datetime.date(2004, 11, 30), datetime.date(2004, 12, 31), datetime.date(2005, 1, 31), datetime.date(2005, 2, 28), datetime.date(2005, 3, 31), datetime.date(2005, 4, 30), datetime.date(2005, 5, 31), datetime.date(2005, 6, 30), datetime.date(2005, 7, 31), datetime.date(2005, 8, 31), datetime.date(2005, 9, 30), datetime.date(2005, 10, 31), datetime.date(2005, 11, 30), datetime.date(2005, 12, 31), datetime.date(2006, 1, 31), datetime.date(2006, 2, 28), datetime.date(2006, 3, 31), datetime.date(2006, 4, 30), datetime.date(2006, 5, 31), datetime.date(2006, 6, 30), datetime.date(2006, 7, 31), datetime.date(2006, 8, 31), datetime.date(2006, 9, 30), datetime.date(2006, 10, 31), datetime.date(2006, 11, 30), datetime.date(2006, 12, 31), datetime.date(2007, 1, 31), datetime.date(2007, 2, 28), datetime.date(2007, 3, 31), datetime.date(2007, 4, 30), datetime.date(2007, 5, 31), datetime.date(2007, 6, 30), datetime.date(2007, 7, 31), datetime.date(2007, 8, 31), datetime.date(2007, 9, 30), datetime.date(2007, 10, 31), datetime.date(2007, 11, 30), datetime.date(2007, 12, 31), datetime.date(2008, 1, 31), datetime.date(2008, 2, 29), datetime.date(2008, 3, 31), datetime.date(2008, 4, 30), datetime.date(2008, 5, 31), datetime.date(2008, 6, 30), datetime.date(2008, 7, 31), datetime.date(2008, 8, 31), datetime.date(2008, 9, 30), datetime.date(2008, 10, 31), datetime.date(2008, 11, 30), datetime.date(2008, 12, 31), datetime.date(2009, 1, 31), datetime.date(2009, 2, 28), datetime.date(2009, 3, 31), datetime.date(2009, 4, 30), datetime.date(2009, 5, 31), datetime.date(2009, 6, 30), datetime.date(2009, 7, 31), datetime.date(2009, 8, 31), datetime.date(2009, 9, 30), datetime.date(2009, 10, 31), datetime.date(2009, 11, 30), datetime.date(2009, 12, 31), datetime.date(2010, 1, 31), datetime.date(2010, 2, 28), datetime.date(2010, 3, 31), datetime.date(2010, 4, 30), datetime.date(2010, 5, 31), datetime.date(2010, 6, 30), datetime.date(2010, 7, 31), datetime.date(2010, 8, 31), datetime.date(2010, 9, 30), datetime.date(2010, 10, 31), datetime.date(2010, 11, 30), datetime.date(2010, 12, 31), datetime.date(2011, 1, 31), datetime.date(2011, 2, 28), datetime.date(2011, 3, 31), datetime.date(2011, 4, 30), datetime.date(2011, 5, 31), datetime.date(2011, 6, 30), datetime.date(2011, 7, 31), datetime.date(2011, 8, 31), datetime.date(2011, 9, 30), datetime.date(2011, 10, 31), datetime.date(2011, 11, 30), datetime.date(2011, 12, 31), datetime.date(2012, 1, 31), datetime.date(2012, 2, 29), datetime.date(2012, 3, 31), datetime.date(2012, 4, 30), datetime.date(2012, 5, 31), datetime.date(2012, 6, 30), datetime.date(2012, 7, 31), datetime.date(2012, 8, 31), datetime.date(2012, 9, 30), datetime.date(2012, 10, 31), datetime.date(2012, 11, 30), datetime.date(2012, 12, 31), datetime.date(2013, 1, 31), datetime.date(2013, 2, 28), datetime.date(2013, 3, 31), datetime.date(2013, 4, 30), datetime.date(2013, 5, 31), datetime.date(2013, 6, 30), datetime.date(2013, 7, 31), datetime.date(2013, 8, 31), datetime.date(2013, 9, 30), datetime.date(2013, 10, 31), datetime.date(2013, 11, 30), datetime.date(2013, 12, 31), datetime.date(2014, 1, 31), datetime.date(2014, 2, 28), datetime.date(2014, 3, 31), datetime.date(2014, 4, 30), datetime.date(2014, 5, 31), datetime.date(2014, 6, 30), datetime.date(2014, 7, 31), datetime.date(2014, 8, 31), datetime.date(2014, 9, 30), datetime.date(2014, 10, 31), datetime.date(2014, 11, 30), datetime.date(2014, 12, 31), datetime.date(2015, 1, 31), datetime.date(2015, 2, 28), datetime.date(2015, 3, 31), datetime.date(2015, 4, 30), datetime.date(2015, 5, 31), datetime.date(2015, 6, 30), datetime.date(2015, 7, 31), datetime.date(2015, 8, 31), datetime.date(2015, 9, 30), datetime.date(2015, 10, 31), datetime.date(2015, 11, 30), datetime.date(2015, 12, 31), datetime.date(2016, 1, 31), datetime.date(2016, 2, 29), datetime.date(2016, 3, 31), datetime.date(2016, 4, 30), datetime.date(2016, 5, 31), datetime.date(2016, 6, 30), datetime.date(2016, 7, 31), datetime.date(2016, 8, 31), datetime.date(2016, 9, 30), datetime.date(2016, 10, 31), datetime.date(2016, 11, 30), datetime.date(2016, 12, 31), datetime.date(2017, 1, 31), datetime.date(2017, 2, 28), datetime.date(2017, 3, 31), datetime.date(2017, 4, 30), datetime.date(2017, 5, 31), datetime.date(2017, 6, 30), datetime.date(2017, 7, 31), datetime.date(2017, 8, 31), datetime.date(2017, 9, 30), datetime.date(2017, 10, 31), datetime.date(2017, 11, 30), datetime.date(2017, 12, 31), datetime.date(2018, 1, 31), datetime.date(2018, 2, 28), datetime.date(2018, 3, 31), datetime.date(2018, 4, 30), datetime.date(2018, 5, 31), datetime.date(2018, 6, 30), datetime.date(2018, 7, 31), datetime.date(2018, 8, 31), datetime.date(2018, 9, 30), datetime.date(2018, 10, 31), datetime.date(2018, 11, 30), datetime.date(2018, 12, 31), datetime.date(2019, 1, 31), datetime.date(2019, 2, 28), datetime.date(2019, 3, 31), datetime.date(2019, 4, 30), datetime.date(2019, 5, 31), datetime.date(2019, 6, 30), datetime.date(2019, 7, 31), datetime.date(2019, 8, 31), datetime.date(2019, 9, 30), datetime.date(2019, 10, 31), datetime.date(2019, 11, 30), datetime.date(2019, 12, 31), datetime.date(2020, 1, 31), datetime.date(2020, 2, 29), datetime.date(2020, 3, 31), datetime.date(2020, 4, 30), datetime.date(2020, 5, 31), datetime.date(2020, 6, 30), datetime.date(2020, 7, 31), datetime.date(2020, 8, 31), datetime.date(2020, 9, 30), datetime.date(2020, 10, 31), datetime.date(2020, 11, 30), datetime.date(2020, 12, 31), datetime.date(2021, 1, 31), datetime.date(2021, 2, 28), datetime.date(2021, 3, 31), datetime.date(2021, 4, 30), datetime.date(2021, 5, 31), datetime.date(2021, 6, 30), datetime.date(2021, 7, 31), datetime.date(2021, 8, 31), datetime.date(2021, 9, 30), datetime.date(2021, 10, 31), datetime.date(2021, 11, 30), datetime.date(2021, 12, 31), datetime.date(2022, 1, 31), datetime.date(2022, 2, 28), datetime.date(2022, 3, 31), datetime.date(2022, 4, 30), datetime.date(2022, 5, 31), datetime.date(2022, 6, 30), datetime.date(2022, 7, 31), datetime.date(2022, 8, 31), datetime.date(2022, 9, 30), datetime.date(2022, 10, 31), datetime.date(2022, 11, 30)]

In [61]:
#dates_hp = list(dates_hp.to_pydatetime())
dates_m1 = [d.date() for d in dates_m1]
dates_m2 = [d.date() for d in dates_m2]
dates_oos = [d.date() for d in dates_oos]
dates_hp = [d.date() for d in dates_hp]
#dates_hp = list(dates_hp.to_pydatetime())
#dates_hp = list(dates_hp.to_pydatetime())

In [43]:
hp_years

[2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020,
 2021,
 2022]

# Predictions og Barra Cov (Ikke kør denne del)

Predictions

In [ ]:
search_grid_single = pd.DataFrame({
    'name': ['m1'],
    'horizon': [1]
})
search_grid = search_grid_single

In [ ]:
start_time = time.time()
models = []  # Liste til at gemme output for hver horizon

# Iterer over rækkerne i search_grid
for i in range(len(search_grid)):
    # Forbered y-variablen:
    h = search_grid.iloc[i]["horizon"]  # fx 1
    # Konstruer kolonnenavnet, fx "ret_ld1"
    col_name = "ret_ld" + str(h)
    # Beregn gennemsnittet pr. række – hvis der kun er én kolonne, svarer det til kolonneværdierne
    pred_y_values = data_ret[col_name]  # antages at være en Pandas Series
    # Opret en DataFrame med de nødvendige kolonner: id, eom
    pred_y_df = data_ret[['id', 'eom']].copy()
    # Beregn eom_pred_last: Vi antager, at vi ønsker at beregne slutdatoen for forudsigelsen som:
    # eom + (h+1) måneder - 1 dag (svarer nogenlunde til R's eom+1+months(max(h))-1)
    pred_y_df['eom_pred_last'] = pred_y_df['eom'] + MonthEnd(1)
    pred_y_df['ret_pred'] = pred_y_values

    # Join med de rækker i 'chars', hvor valid er True, på kolonnerne id og eom
    valid_chars = chars[chars['valid'] == True]
    data_pred = pd.merge(pred_y_df, valid_chars, on=['id', 'eom'], how='inner')
    print("data_pred.head")
    print(data_pred.head())
    print("data_pred.tail")
    print(data_pred.tail())
    print("horizons:", [h])

    # Bestem validerings-slutdatoer og test-inc baseret på settings
    update_freq = settings['split']['model_update_freq']
    if update_freq == "once":
        val_ends = [settings['split']['train_end']]
        test_inc = 1000
    elif update_freq == "yearly":
        # Opret en liste af datoer med årligt interval
        val_ends = pd.date_range(start=settings['split']['train_end'],
                                 end=settings['split']['test_end'],
                                 freq='YE').to_pydatetime().tolist()
        test_inc = 1
    elif update_freq == "decade":
        start_date = pd.to_datetime(settings['split']['train_end'])
        end_date = pd.to_datetime(settings['split']['test_end'])
        val_ends = []
        current = start_date
        while current <= end_date:
            val_ends.append(current)
            current += pd.DateOffset(years=10)
        test_inc = 10
    else:
        raise ValueError("Ugyldig model_update_freq i settings.")

    op = {}  # Dictionary til at gemme modeloutput for hver val_end
    inner_start = time.time()
    # Iterer over hver validerings-slutdato
    for val_end in val_ends:
        print(val_end)
        train_test_val = return_prediction_functions.data_split(
            data_pred,
            type=update_freq,
            val_end=val_end,
            val_years=settings['split']['val_years'],
            train_start=settings['screens']['start'],
            train_lookback=settings['split']['train_lookback'],
            retrain_lookback=settings['split']['retrain_lookback'],
            test_inc=test_inc,
            test_end=settings['split']['test_end']
        )
        print("datasættet er tomt; hvis ja, stop loopet")
        if train_test_val["test"].empty:
            print("Test datasættet er tomt for valideringsperiode:", val_end, ". Stopper forudsigelser.")
            break
        print("Train data:")
        print(train_test_val["train"].head())
        print("\nValidation data:")
        print(train_test_val["val"].head())
        print("\nTrain full data:")
        print(train_test_val["train_full"].head())
        print("\nTest data:")
        print(train_test_val["test"].head())
        model_start = time.time()
        model_op = return_prediction_functions.rff_hp_search(
            train_test_val,
            feat=features,
            p_vec=settings['rff']['p_vec'],
            g_vec=settings['rff']['g_vec'],
            l_vec=settings['rff']['l_vec'],
            seed=settings['seed_no']
        )
        model_time = time.time() - model_start
        print("Model training time:", model_time, "seconds")
        op[val_end] = model_op
    inner_time = time.time() - inner_start
    print("Total time for current horizon:", inner_time, "seconds")

    # Gem model-output for den aktuelle horizon til en pickle-fil (svarer til R's saveRDS)
    model_filename = f"{output_path}/model_{h}.pkl"
    with open(model_filename, "wb") as f:
        pickle.dump(op, f)

    models.append(op)

total_time = time.time() - start_time
print("Total run time:", total_time, "seconds")

Barra cov

In [ ]:
# Hvis du ikke har brug for den fjerde returnerede værdi, kan du bruge en underscore
cluster_data_d, ind_factors, clusters, cluster_data_m  = Estimate_Covariance_Matrix.process_cluster_data(chars, daily, file_path_cluster_labels, file_path_factor_details)

fct_ret_est = Estimate_Covariance_Matrix.run_regressions_by_date(cluster_data_d, ind_factors, clusters)
fct_ret = Estimate_Covariance_Matrix.create_factor_returns(fct_ret_est)

w_cor = (0.5 ** (1 / settings['cov_set']['hl_cor'])) ** np.arange(settings['cov_set']['obs'], 0, -1)
w_var = (0.5 ** (1 / settings['cov_set']['hl_var'])) ** np.arange(settings['cov_set']['obs'], 0, -1)

fct_dates = np.sort(fct_ret["date"].unique())
min_calc_date = fct_dates[settings["cov_set"]["obs"] - 1] - pd.DateOffset(months=1)
calc_dates = np.sort(cluster_data_m.loc[cluster_data_m["eom"] >= min_calc_date, "eom"].unique())

factor_cov_est = Estimate_Covariance_Matrix.factor_cov_estimate(calc_dates, fct_dates, fct_ret, w_cor, w_var, settings)

spec_risk = Estimate_Covariance_Matrix.unnest_spec_risk(fct_ret_est)
spec_risk_res_vol = Estimate_Covariance_Matrix.calculate_ewma(spec_risk, settings)

spec_risk_m, spec_risk_res_vol = Estimate_Covariance_Matrix.process_spec_risk_m(fct_dates, spec_risk_res_vol)
barra_cov = Estimate_Covariance_Matrix.calculate_barra_cov(calc_dates, cluster_data_m, spec_risk_m, factor_cov_est)

with open('./data_fifty/barra_cov.pkl', 'wb') as f:
    pickle.dump(barra_cov, f)